@font-face {
    font-family: "default";
    src: url("../assets/fonts/GOUDOS.TTF") format("truetype");
}

@font-face {
    font-family: "mortal";
    src: url("../assets/fonts/EscalidoGothico.ttf") format("truetype");
}

:root {
    --main-chat-font: font-family: "default", Verdana, Helvetica, sans-serif;
  
    --font-large: 16px;
    --font-x-large: 24px;
  
    --chat-background-color: #121212;
    --chat-header-background: rgb(196, 23, 29, 1);
    --chat-header-text-color: #ffffff;
    --chat-text-background: #f5f5f5;
    --chat-text-color: #121212;
}

/* Chat Controls */

#chat-controls {
    flex-basis: 36px;
}

#chat-controls .chat-control-icon {
    height: 28px;
}

#chat-controls > * {
    align-self: center;
}

#chat-form textarea:focus {
    outline: 1px solid var(--color-active);
    box-shadow: 0 0 6px inset var(--color-active);
}

.dice-roll .dice-result {
    cursor: pointer;
}

/* dice rolling */

img.wod-svg {
    font-family: 'svg';
	width: 50px;
	height: 50px;	
    float: left;
}

img[src$=".wod-svg"] {
font-family: 'svg';
	width: 50px;
	height: 60px;	
}


#chat,
#chat-notifications {    
    font-family: "default", "mortal";
    background: var(--chat-background-color);  
}

/* Make sure to not alter the background in the hovering chat */
#ui-right-column-1 #chat-notifications {
    background: none; 
}
  
#chat .message,
#chat-notifications .message,
#ui-right-column-1 .message {
    border: 0;
    color: var(--chat-text-color);   
    background: var(--chat-text-background); 
}
  
#chat .message .message-header,
#chat-notifications .message .message-header,
#ui-right-column-1 .message .message-header {    
    font-size: var(--font-large); 
    padding: 5px;
    color: var(--chat-header-text-color);
    background: var(--chat-header-background);
}
  
/* the rolls */

.wod20-roll .rolldices {
	width: 50px;
	height: 50px;
	clip-path: polygon(52% 12%, 92% 40%, 91% 61%, 57% 85%, 44% 84%, 10% 61%, 10% 40%);
	margin-bottom: -8px;
    display: inline;
}

.wod20-roll .tray-title-area
 {
    font-size: var(--font-x-large);    
    margin-bottom: 5px;    
    border-bottom: 1px solid #121212;
    padding: 5px;
}
  
.wod20-roll .tray-action-area {
    padding-left: 10px;
}

.wod20-roll .tray-info-area {
    margin: 10px;
    padding: 5px;
}

.wod20-roll .tray-system-area {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
  
.wod20-roll .tray-roll-area {
    padding: 5px;  
}
  
.wod20-roll .tray-roll-area .tray-dice {
    margin: 5px;
    scale:2;
    margin-left: 8px;
    margin-top: 8px;  
    opacity: 0.8;
}
  
.wod20-roll .tray-result-area {
    border-top: 3px ridge #6c4737;    
    padding: 5px;
    margin-top: 5px;
    clear: both;
    overflow: hidden;
}

/* Chatt window */
.theme-dark #chat .message .message-header,
.theme-dark #chat-notifications .message .message-header {
    font-size: var(--font-large);
    padding: 5px;
    color: var(--chat-header-text-color);
    border-bottom: 3px ridge #6c4737;
    background: rgb(23,23,23,255);
}
.theme-dark #chat .message,
.theme-dark #chat-notifications .message {
    border: 0;
    color: #e0e0e0 !important;
    background: #121212 !important;
}