

/* COLOR BEGINS */

.wod20 .fullSplatColor {
  background: var(--main-full-color);
  color: white;
}

.wod20 .fullSplatColor.button.active {
  background: white;
	color: var(--main-full-color);
  border: 1px solid var(--main-full-color);
}

.wod20 .headlineTabs {
	border-bottom-color: var(--main-full-color);
}

.wod20 .row:nth-of-type(odd) {
  background-color: var(--main-dim-color);
}

.thin-border-left,
.thin-border-right {
  border-color: var(--main-full-color);
}

.wod20 .tooltip .tooltiptext,
.resource-value-static .resource-value-static-step.active {
  background-color: var(--main-full-color);
  color: white;
}

.item-row-area {
  border-bottom: 1px solid var(--main-full-color);
  padding: 3px;
  line-height: 23px;
}

.item-row-area.mainpower-row {
  padding: 3px;
  border-bottom: 0px;
}

.wod20 .power-row {
  border-bottom: 1px solid var(--main-full-color);
  background-color: var(--main-dim-color);
}

.wod20 .art-row {
  border-bottom: 1px solid var(--main-full-color);
  background-color: var(--main-dim-color);
} 

.wod20 .item-notice,
.wod20 .item-create {
  color: rgb(5, 99, 5);
}

.wod20 .item-warning {
  color: rgb(183, 121, 5)
}

.wod20 .item-delete {
  color: rgb(167, 2, 2);
}

.wod20 .send-chat:hover,
.wod20 .send-chat:focus,
.wod20 .item-create:hover,
.wod20 .item-create:focus,
.wod20 .item-edit:hover,
.wod20 .item-edit:focus,
.wod20 .item-delete:hover,
.wod20 .item-delete:focus,
.wod20 .collapsible.button:hover,
.wod20 .collapsible.button:focus,
.wod20 .vrollable:hover,
.wod20 .vrollable:focus,
.wod20 .item:hover,
.wod20 .item:focus,
.wod20 .item.active {
	text-shadow: 0 0 10px var(--main-full-color);
}

.headlineRow {
  border-bottom: 1px solid var(--main-full-color);
  background-color: var(--main-dim-color);
}

.headlineRowBackground {
  background-color: var(--main-dim-color);
}

/* COLOR ENDS */

/* START - General */

.langDE.wod-sheet:not(.minimized),
.langES.wod-sheet:not(.minimized) {
  min-width: 1100px;
  width: 1100px;
  min-height: 900px;
}

.langDE.wod-sheet .sheet-inner-area,
.langES.wod-sheet .sheet-inner-area {
  width: 990px;
}

.langES.werewolf

/* END - General */

/* START Core */

.langDE.wod-sheet .ability-headlineWidth,
.langES.wod-sheet .ability-headlineWidth {
  width: 60%;
}

.langDE.werewolf .ability-headlineWidth,
.langES.werewolf .ability-headlineWidth {
  width: 55%;
}

.langFR .attribute-headlineWidth {
  width: 120px;
}

/* END Core */

/* START Combat */
.langDE .combat-smallBox {
  width: 90px;
}

.langDE .combat-concealBox,
.langES .combat-concealBox,
.langIT .combat-concealBox {
  width: 85px;
}

.langES .combat-valueBox {
  width: 65px;
}

.langES .combat-valueBoxArmor,
.langFR .combat-valueBoxArmor {
  width: 85px;
}

/* END Combat */

/* START Power*/

.langDE.wod-sheet .power-dicebox {
  width: 130px;
}

.langDE.wod-sheet .power-row .power-iconbox {
  margin-left: 150px;
}

.langDE.aretecasting-dialog .dialog-label,
.langES.aretecasting-dialog .dialog-label {
  width: 520px;
}

/* END Power */

/* START Setting */

.wod20:not(.noSplatFont) .secondHeadlineTabs {
  font-size: 14px;
}

.langES .settings-abilitylabel {
  width: 115px;
}

.langES .settings-ability-altnamefiller {
  width: 110px;
}

/* END Setting */

/* START Dialog */

.langEN .dialog-casting-type-label {
  width: 250px;
}

.langDE .dialog-casting-type-label,
.langES .dialog-casting-type-label {
  width: 350px;
}

.langDE .comboboxRow {
  height: 40px;
}

/* END - Dialog */

/* Check so screen is large enough - START */

@media all and (max-width : 1500px)
{
  .langDE.wod-sheet:not(.minimized),
  .langES.wod-sheet:not(.minimized) {
    min-width: 900px;
  }     
}

@media all and (max-width : 1280px)
{
  .wod-sheet:not(.minimized) {
    min-width: 850px;
  }

  .wod-sheet .sheet-inner-area {
    width: 800px;
  }

  .langDE.wod-sheet .sheet-inner-area,
  .langES.wod-sheet .sheet-inner-area {
    padding-right: 45px;
  } 
}

@media all and (max-height : 1250px)
{
  .wod-sheet:not(.minimized) {
    min-height: 900px;
  }
}

@media all and (max-height : 1024px)
{
  .wod-sheet:not(.minimized),
  .wod-item:not(.minimized),
  .wod-dialog:not(.minimized) {
    min-height: 400px;
  }
}

/* Check so screen is large enough - END */