.spiritDialog,
.spirit,
.spiritItem {
  --main-full-color: var(--main-spirit-color);
  --main-mid-color: var(--main-spirit-mid-color);
  --main-dim-color: var(--main-spirit-dim-color);
  --color-shadow-primary: var(--main-spirit-color);
}

.spirit:not(.minimized) {
    min-width: 800px;
}

.spirit:not(.noSplatFont) nav,
.spirit:not(.noSplatFont) .splatFont,
.spiritDialog:not(.noSplatFont) .splatFont,
.spiritItem:not(.noSplatFont) .splatFont {
	  font-family: "werewolf", var(--main-font);
}

.wod-sheet.spirit:not(.noSplatFont) .secondHeadlineTabs {
    font-size: 14px;
}

.wod-sheet.spirit .secondHeadlineTabs {
width: 100%;
}

.spirit:not(.noSplatFont) nav,
.spirit:not(.noSplatFont) .splatFont {
    font-family: "werewolf", var(--main-font);
}
  
.spirit .headlineRow {
    display: flex;
    height: 23px;
    line-height: 23px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.spirit-row {
    display: flex;
    height: 23px;
    line-height: 23px;
    margin-left: 13px;
}
  
.spirit-rollablerow {
    display: flex;
    height: 23px;
    line-height: 23px;
    margin-left: 13px;
}
  
.spirit-rollablerow .gift-iconbox {
    margin-left: 23px;
}
  
.spirit-row .gift-iconbox {
    margin-left: 270px;
}

/* DIALOG */

.spiritDialog:not(.noSplatFont) .headlineGroup {
}

.spiritDialog:not(.noSplatFont) .headline {
  font-size: 16px;
}
