@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Imported Fonts */
@font-face {
  font-family: "mortal";
  src: url("../assets/fonts/EscalidoGothico.ttf") format("truetype");
}

@font-face {
  font-family: "changeling";
  src: url("../assets/fonts/Umb000.ttf") format("truetype");
}

@font-face {
  font-family: "vampire";
  src: url("../assets/fonts/percexp.ttf") format("truetype");
}

@font-face {
  font-family: "mage";
  src: url("../assets/fonts/visit.ttf") format("truetype");
}

@font-face {
  font-family: "werewolf";
  src: url("../assets/fonts/werewolf.ttf") format("truetype");
}

:root {
  --main-font: Arial, Helvetica, sans-serif;

  --main-mortal-color: rgba(24, 78, 119, 1);
  --main-mortal-mid-color: rgba(24, 78, 119, 0.3);
  --main-mortal-dim-color: rgba(24, 78, 119, 0.06);

  --main-werewolf-color: rgba(88, 49, 1, 1);
  --main-werewolf-mid-color: rgba(88, 49, 1, 0.3);
  --main-werewolf-dim-color: rgba(88, 49, 1, 0.06);

  --main-mage-color: rgba(83, 33, 89, 1);
  --main-mage-mid-color: rgba(83, 33, 89, 0.3);
  --main-mage-dim-color: rgba(83, 33, 89, 0.06);

  --main-vampire-color: rgba(121, 8, 19, 1);
  --main-vampire-mid-color: rgb(121, 8, 19, 0.4);
  --main-vampire-dim-color: rgb(121, 8, 19, 0.12);

  --main-changeling-color: #017b9c;
  --main-changeling-color: rgba(1, 123, 156, 1);
  --main-changeling-mid-color: rgba(1, 123, 156, 0.4);
  --main-changeling-dim-color: rgba(1, 123, 156, 0.12);

  --main-creature-color: rgba(116, 115, 115, 1);
  --main-creature-mid-color: rgba(72, 71, 71, 0.4);
  --main-creature-dim-color: rgba(72, 71, 71, 0.12);

  --main-spirit-color:rgba(173, 147, 0, 1);
  --main-spirit-dim-color: rgb(255, 215, 0, 0.4);
  --main-spirit-dim-color: rgb(255, 215, 0, 0.12);  
}

/* START - Type of sheet designs */

.itemsheet:not(.minimized) {
  width: 600px !important;
} 

.aretecasting-dialog {
  width: 850px !important;
}

.rule-dialog,
.permission-dialog,
.graphics-dialog,
.soak-dialog,
.weapon-dialog,
.general-dialog,
.power-dialog,
.item-dialog {
  width: 500px !important;
}

.sortdiscipline-dialog,
.checkfrenzy-dialog,
.shapechange-dialog {
  width: 700px !important;
}

/* START - Chat window */

.message-content .chat-rollbutton {
  width: 50%;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
  height: 23px;
  line-height: 23px;
  text-align: center;
}

.rolldices {
	width: 50px;
	height: 50px;
}

/* END - Chat window */

/* START - handle lock design */

.sheet-character .profile-img-zone {
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}

.sheet-item .lock-btn {
  max-width: 25px;
  margin-right: 10px;
}

.sheet-character .profile-img-zone button {  
  font-weight: bold;
  border: none;
}

.sheet-character .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  min-height: 50px;
  max-height: 205px;
  height: auto;
  width: 100px;
  margin-right: 0;
}

.pointer:hover,
.pointer:focus {
  cursor: pointer;
}

.nopointer:hover,
.nopointer:focus {
  cursor: default;
}

.locked input,
.locked select,
.locked textarea,
.textarea {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  border: 1px solid var(--color-border-light-tertiary);
} 

.textarea {
  overflow-y: auto;
  max-height: 200px;
  max-height: 15vh;
  min-height: 50px;
  border-radius: 3px;
}

.locked .resource-value-empty {
  opacity: 0;
  cursor: default;
}

.locked .resource-value-step {
  cursor: default;
}

/* END - handle lock design */

/* START - General */

.sheet-item,
.sheet-character {
  font-family: var(--main-font);
}

img.rolldice {
  width: 19px;
  height: 19px;
  border-width: 0px;
}

input.sheet-infoValues {
  width: 100%;
  text-align: left;
	font-weight: normal;
	font-size: 12px;
}

select.editable,
textarea.editable,
input.editable {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

button.disabled {
  color: var(--color-text-dark-secondary) !important; 
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0.1) !important;
  border: 2px groove var(--color-border-light-highlight) !important;
}

input.shortNotebox {
  width: 60%;
}

input.sheet-infoWidth {
  width: 80%;
}

select.sheet-infoValues {
  width: 100%;
}

nav {
  font-weight: bold;
}

input,
select,
textarea {
	font-weight: normal;
	font-size: 12px;  
}

textarea.sheet-infoValues {
  height: 150px;
}

textarea.sheet-smallinfoValues {
  height: 75px;
}


i.icon {
  margin-left: 5px;
  margin-right: 5px;
}

.sheet-header {

}

.sheet-body {

}

.sheet-boxcontainer {
  width: 100%;
  text-align: center;
}

.sheet-area {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 15px;
  margin-left: 10px;
}

.area-box {
  width: 100%;
  margin-top: 5px;
}

.sheet-headline {
  font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 100%;	
}

.pullLeft {
	float: left;
}

.pullRight {
	float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.headlineNormal {
	font-weight: normal;
	font-size: 13px;
}

.headlineText {
	font-size: 24px;
  margin-right: 25px;
  font-weight: bold;
}

.centerText {
  text-align: center;
}

.headlineList {	
	font-size: 16px;
  font-weight: bold;
}

.headlineGroup {	
  font-size: 20px;
  font-weight: bold;
}

.headline {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.headlineTabs {
	font-size: 20px;    
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 30px;
}

.secondHeadlineTabs {
  font-size: 20px;
  font-weight: bold;
}

.clearareaBox {
  clear: both;
}

.numberBox {
  width: 50px !important;
}

.miniBox {
  width: 25px !important;
  min-width: 25px !important;
}

.rowNumberBox {
  width: 25px !important;
}

.text-unfocus {
  opacity: 0.5;
}

.text-focus {
  opacity: 1;
  font-weight: bold !important;
}

.thin-border-left {
  border-left-style: solid;
  border-width: 1px;
}

.thin-border-right {
  border-right-style: solid;
  border-width: 1px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 450px;  
  border-radius: 6px;
  padding: 5px;
  left: 20px;
  top: 70px;
  position: fixed;
  z-index: 1;
}

.chatt-headline {
  font-weight: bold;
}

.chatt-text {

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.vrollable:hover,
.vrollable:focus {
  color: #000;  
  cursor: pointer;
}

.macroBtn {
  height: 50px;
  width: 50px;
  margin-right: .5rem;
}

.macroBtnInfo {
  width: 50px;
  margin-right: .5rem;
}

.row {
  height: 23px;
  line-height: 23px;
}

.row:nth-of-type(even) {
  display: flex;
}

.row:nth-of-type(odd) {
  display: flex;
}

.information-area {
  font-size: 10px;
  color: #7e7e7e;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.headlineRow {
  display: flex;
  height: 23px;
  line-height: 23px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* END - General */

/* START - Dialog */

.setting-area {
  margin-bottom: 20px !important;
}

.setting-radiospan {
  width: 45px; 
  display: inline-block;
}

.setting-radiospanText {
  width: 200px; 
  display: inline-block;
}

.setting-radiobuttons {
  margin-right: 5px !important;
}

.dialog-area {
  margin-left: 15px;
  margin-bottom: 20px;
}

.dialog-group {
  margin-top: 5px;
  margin-bottom: 10px;
}

.dialog-valueBox {
  width: 60px;
}

.dialog-one-button {
  width: 75%;
  height: 34px;
}

.dialog-two-button {
  width: 40%;
  height: 34px;
}

.dialog-realm-button,
.dialog-discipline-button,
.dialog-attribute-button,
.dialog-secondaryability-button {
  width: 30%;
  height: 34px;
  margin-bottom: 5px;
}

.dialog-mode-button {
  width: 20%;
  height: 34px;
  margin-bottom: 5px;
}

.dialog-numbertargets-button,
.dialog-numdices-button {
  width: 8%;
  height: 34px;
}

.dialog-difficulty-button {
  width: 10%;
  height: 34px;
}

.dialog-moon-button,
.dialog-shapechange-button {
  width: 18%;
  height: 34px;
}

.dialog-label {
  width: 480px;
}

.chat-rollbutton {

}

/* END - Dialog */

/* START - Bio */

.headlineBio {
  float: left; 
  width: 30%;
}

.bioInformationArea {
  width: 50%;
  height: 30px;
  line-height: 30px;
}

textarea.smallbox {
  height: 75px;
}

/* END - Bio */

/* START - Core */

.dotvalueArea {
  margin-right: 10%;
}

.attribute-statArea {	
	width: 33%;	
}

.attribute-headlineWidth {
	width: 	110px;
}

.creature .attribute-headlineWidth {
	width: 25%;
}

.attribute-total {
  display: inline-block;
  width: 10px;
}

.ability-statArea {	
	width: 33%;
}

.attribute-rowheight {
  height: 19px;
}

.ability-headlineWidth {
	width: 45%;
}

.ability-rowheight {
  height: 19px;
}

.specialityBox {
  width: 110px !important;
  margin-right: 15px !important;
  height: 18px !important;
}

.healthBox {
  padding-right: 30px;
}

.experienceValue {
  padding-right: 30px;
}

.spheres-headlineWidth {
  width: 42%;
}

div.permValueRow {
  margin: 0 auto;
}

div.tempSquareRow {
  margin: 0 auto;
}

.supernaturalAttribute:nth-of-type(5n+1) {
  margin-right: 10px;
}

.rankAttribute:nth-of-type(5n) {
  margin-right: 5px;
}

div.bloodpool {
  width: 185px;
  margin: 0 auto;
} 

div.essence-counters {
  width: 180px;
  margin: 0 auto;
}

.imbalance {
  background-color: red !important;
}

/* END - Core */

/* START - Combat */

.condition {
  width: 200px;  
}

.condition-checkbox {
  height: 25px;
  line-height: 30px;
  font-weight: bold;
}

.rowicons {
  width: 23px;
  height: 23px;
}

.weapon-rolliconbox {
  margin-right: 2px;
}

.weapon-rolliconbox-empty {
  width: 20px;
} 

.combat-activeBox {
  width: 30px;
}

.combat-namebox {
  width: 230px;
}

.combat-bottomarea {
  width: 67%;
}

.combat-bottomhealth {
  width: 33%
}

.combat-valueBox {
  width: 50px;
}

.combat-smallBox {
  width: 75px;
}

.combat-mediumBox {
  width: 100px;
}

.mage .combat-mediumBox {
  width: 110px;
}

.combat-largeBox {
  width: 210px;
}

.combat-abilityBox {
  width: 110px;
}

.combat-concealBox {
  width: 50px;
}

.combat-valueBoxArmor {
  width: 70px;
}

/* END - Combat */

/* START - Gear */

textarea.sheet-gearArea {
  height: 400px;
}

.gear-valueBox {
  width: 80px;
}

/* END - Gear */

/* START - Shapechange */

.shape-background {
  background: url('../assets/img/werewolf/form/five_forms.jpg');
  width: 98%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(100%);
  opacity: 0.2;
  position: absolute;
  margin-top: 30px;
}

.shape-background.shape-ajaba {
  background: url('../assets/img/werewolf/form/forms_ajaba.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-ananasi {
  background: url('../assets/img/werewolf/form/forms_ananasi.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-bastet {
  background: url('../assets/img/werewolf/form/forms_bastet.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-corax {
  background: url('../assets/img/werewolf/form/forms_corax.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-gurahl {
  background: url('../assets/img/werewolf/form/forms_gurahl.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-kitsune {
  background: url('../assets/img/werewolf/form/forms_kitsune.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-mokole {
  background: url('../assets/img/werewolf/form/forms_mokole.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-nagah {
  background: url('../assets/img/werewolf/form/forms_nagah.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-nuwisha {
  background: url('../assets/img/werewolf/form/forms_nuwisha.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-ratkin {
  background: url('../assets/img/werewolf/form/forms_ratkin.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-background.shape-rokea {
  background: url('../assets/img/werewolf/form/forms_rokea.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.shape-area {
  width: 100%;
}

.shape-selector {
  width: 20%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.shape-selector:hover {
	background-color: #583101;
  color: white;  
  cursor: pointer;
}

.shape-selectortext {
  width: 20%;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin-top: 100px;
}

.shape-selectortext.shape-ananasi,
.shape-selector.shape-ananasi {
  width: 25%;
}

.shape-selectortext.shape-corax,
.shape-selector.shape-corax,
.shape-selectortext.shape-mokole,
.shape-selector.shape-mokole,
.shape-selectortext.shape-ratkin,
.shape-selector.shape-ratkin {
  width: 33%;
}

/* END - Shapechange */

/* START - Gift */

.gift-row {
  display: flex;
  height: 23px;
  line-height: 23px;
  margin-left: 13px;
}

.gift-rollablerow {
  display: flex;
  height: 23px;
  line-height: 23px;
  margin-left: 13px;
}

.gift-activeBox {
  width: 30px;
}

.gift-headlineBox {
  width: 200px;
}

.rites-headlineBox {
  width: 230px;
}

.gift-dicebox {
  width: 100px;
}

.gift-valueBox {
  width: 50px;
}

.gift-row .gift-iconbox {
  margin-left: 270px;
}

.gift-rollablerow .gift-iconbox {
  margin-left: 23px;
}

/* END - Gift */

/* START - Discipline */

.art-headline,
.discipline-headline {
  width: 250px;
}

.ritual-headline {
  width: 263px;
}

.art-dotBox,
.discipline-dotBox {
  width: 200px;
}

.art-dicebox,
.discipline-dicebox {
  width: 100px;
}

.art-valuebox,
.discipline-valuebox {
  width: 50px;
}

.discipline-row .discipline-iconbox {
  margin-left: 100px;
}

.ritual-row .discipline-iconbox,
.disciplinepower-row .discipline-iconbox {
  margin-left: 38px;
}

.artpower-row .art-iconbox {
  margin-left: 187px;
}

.art-row,
.discipline-row {  
  display: flex;
  height: 23px;
  line-height: 23px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.artpower-row,
.disciplinepower-row {
  display: flex;
  height: 23px;
  line-height: 23px;
  margin-left: 13px;
}

.art-row .resource-value
.discipline-row .resource-value {
  line-height: 30px;
}

/* END - Discipline */

/* START - Dreaming */

.realms-headlineWidth {
  width: 20%;
}

/* END - Dreaming */

/* START - Power */

.creature-row {
  display: flex;
  height: 23px;
  line-height: 23px;
  margin-left: 13px;
}

.creature-rollablerow {
  display: flex;
  height: 23px;
  line-height: 23px;
  margin-left: 13px;
}

.creature-row .gift-iconbox {
  margin-left: 273px;
}

.creature-rollablerow .gift-iconbox {
  margin-left: 23px;
}

.spirit-row {
  display: flex;
  height: 23px;
  line-height: 23px;
  margin-left: 13px;
}

.spirit-rollablerow {
  display: flex;
  height: 23px;
  line-height: 23px;
  margin-left: 13px;
}

.spirit-rollablerow .gift-iconbox {
  margin-left: 23px;
}

.spirit-row .gift-iconbox {
  margin-left: 173px;
}

.top-headline {
  font-weight: bold;
  font-size: 24px;
}

.top-sidetext {
  color: #7e7e7e;
  font-weight: normal;
}

.top-area {	
  flex-wrap: nowrap;
  flex-flow: row nowrap;
  display: flex;
  align-items: center;
}

.top-side {	
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.top-center {	
	flex-grow: 2;
  flex-basis: auto;  
}

.magic-statArea {	
	width: 33%;	
}

.rote-headline {
  width: 40%;
}

.highlightedPower {
  font-weight: bold;
}

/* END - Power */

/* START - Notes */

.notes-largeBox {
  width: 250px;
  height: 19px;
}

.notes-mediumBox {
  width: 100px;
  height: 19px;
}

.notes-valueBox {
  width: 55px;
  height: 19px;
}

.notes-centerexperienceadd {
  height: 26px;
  line-height: 26px;
}

.notes-experienceHeadline {
  width: 230px;
  height: 19px;
}

/* END - Notes */

/* START - Settings */

.settings-leftwidth {
  width: 150px;
}

.settings-verticalcenter {
  height: 26px;
  line-height: 26px;
}

/* END - Settings */

/* START - Items */

.itemsheet input[type="checkbox"] {
  margin-left: 0;
}

.headlineItem {
  font-size: 16px;
  margin-right: 25px;
  float: left; 
  width: 30%;
}

.headlineButton {
  font-size: 18px;
  float:left;
}

input.item {
  width: 200px;
}

select.item {
  width: 150px;
}

textarea.item {
  height: 100px;
}

.infobox {
  margin-bottom: 5px;
}

.sheet-header > .top-area > .top-side > img {
  height: 80px;
  border: 0px;
}

.item-body {
  margin-top: 10px;
}

.item-area {
  margin: 10px;
}

.item-info {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-label {
  width: 300px;  
}

/* END - Items */

/* START - handle design of radio buttons */
.difficulty-value .resource-value-step,
.resource-value .resource-value-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.supernaturalAttribute.resource-value-step {
  height: 12px;
  width: 12px;
}

.difficulty-value .resource-value-step.active,
.resource-value .resource-value-step.active {
  background-color: black;
}

.resource-value-static .resource-value-static-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
}

.resource-counter .resource-value-empty,
.resource-value .resource-value-empty {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.resource-counter .resource-value-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

/* bashing */
.resource-counter .resource-value-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

/* lethal */
.resource-counter .resource-value-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

/* aggravated */
.resource-counter .resource-value-step[data-state="*"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

/* quintessence */
.quintessence .resource-counter .resource-value-step[data-state="Ψ"] {
  background: url('../assets/img/mage/prime.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* paradox */
.quintessence .resource-counter .resource-value-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

/* perm paradox */
.quintessence .resource-counter .resource-value-step[data-state="*"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      var(--main-vampire-color) 45%,
      var(--main-vampire-color) 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      var(--main-vampire-color) 45%,
      var(--main-vampire-color) 55%,
      transparent 57%,
      transparent 100%
    );
}

.flex-group-center:not(.flexrow) .resource-value,
.flex-group-center:not(.flexrow) .resource-counter {
  margin-top: 5px;
}

/* END - handle design of radio buttons */

/* WHEEL START */
span.quintessence {
  position: relative;
}

div.sheet-headlineQuintessence {
  text-align: start;
  margin-left: 35px;
}

div.sheet-headlineParadox {
  text-align: start;
  margin-left: 60px;
}

.wheel-0:not(.noSplatFont) {
  transform:rotate(-85deg);
  -ms-transform:rotate(-85deg); /* IE 9 */
  -webkit-transform:rotate(-85deg); /* Opera, Chrome, and Safari */
  top: 59px;
  left: 29px;
}

.wheel-1:not(.noSplatFont) {
  transform:rotate(-70deg);
  -ms-transform:rotate(-70deg); /* IE 9 */
  -webkit-transform:rotate(-70deg); /* Opera, Chrome, and Safari */
  top: 40px;
  left: 15px;
}

.wheel-2:not(.noSplatFont) {
  transform:rotate(-50deg);
  -ms-transform:rotate(-50deg); /* IE 9 */
  -webkit-transform:rotate(-50deg); /* Opera, Chrome, and Safari */
  top: 22px;
  left: 8px;
}

.wheel-3:not(.noSplatFont) {
  transform:rotate(-30deg);
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg); /* Opera, Chrome, and Safari */
  top: 9px;
  left: 7px;
}

.wheel-4:not(.noSplatFont) {
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg); /* IE 9 */
  -webkit-transform:rotate(-10deg); /* Opera, Chrome, and Safari */
  top: 2px;
  left: 10px;
}



.wheel-5:not(.noSplatFont) {
  transform:rotate(10deg);
  -ms-transform:rotate(10deg); /* IE 9 */
  -webkit-transform:rotate(10deg); /* Opera, Chrome, and Safari */
  top: 2px;
  left: -8px;
}

.wheel-6:not(.noSplatFont) {
  transform:rotate(30deg);
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg); /* Opera, Chrome, and Safari */
  top: 9px;
  left: -5px;
}

.wheel-7:not(.noSplatFont) {
  transform:rotate(50deg);
  -ms-transform:rotate(50deg); /* IE 9 */
  -webkit-transform:rotate(50deg); /* Opera, Chrome, and Safari */
  top: 22px;
  left: -4px;
}

.wheel-8:not(.noSplatFont) {
  transform:rotate(70deg);
  -ms-transform:rotate(70deg); /* IE 9 */
  -webkit-transform:rotate(70deg); /* Opera, Chrome, and Safari */
  top: 40px;
  left: -11px;
}

.wheel-9:not(.noSplatFont) {
  transform:rotate(85deg);
  -ms-transform:rotate(85deg); /* IE 9 */
  -webkit-transform:rotate(85deg); /* Opera, Chrome, and Safari */
  top: 59px;
  left: -24px;
}




.wheel-19:not(.noSplatFont) {
  transform:rotate(-95deg);
  -ms-transform:rotate(-95deg); /* IE 9 */
  -webkit-transform:rotate(-95deg); /* Opera, Chrome, and Safari */
  top: 4px;
  left: 29px;
}

.wheel-18:not(.noSplatFont) {
  transform:rotate(-110deg);
  -ms-transform:rotate(-110deg); /* IE 9 */
  -webkit-transform:rotate(-110deg); /* Opera, Chrome, and Safari */
  top: 25px;
  left: 15px
}

.wheel-17:not(.noSplatFont) {
  transform:rotate(-130deg);
  -ms-transform:rotate(-130deg); /* IE 9 */
  -webkit-transform:rotate(-130deg); /* Opera, Chrome, and Safari */
  top: 43px;
  left: 8px;
}

.wheel-16:not(.noSplatFont) {
  transform:rotate(-150deg);
  -ms-transform:rotate(-150deg); /* IE 9 */
  -webkit-transform:rotate(-150deg); /* Opera, Chrome, and Safari */
  top: 56px;
  left: 7px;
}

.wheel-15:not(.noSplatFont) {
  transform:rotate(-170deg);
  -ms-transform:rotate(-170deg); /* IE 9 */
  -webkit-transform:rotate(-170deg); /* Opera, Chrome, and Safari */
  top: 63px;
  left: 10px;
}



.wheel-14:not(.noSplatFont) {
  transform:rotate(170deg);
  -ms-transform:rotate(170deg); /* IE 9 */
  -webkit-transform:rotate(170deg); /* Opera, Chrome, and Safari */
  top: 63px;
  left: -8px;
}

.wheel-13:not(.noSplatFont) {
  transform:rotate(150deg);
  -ms-transform:rotate(150deg); /* IE 9 */
  -webkit-transform:rotate(150deg); /* Opera, Chrome, and Safari */
  top: 56px;
  left: -5px;
}

.wheel-12:not(.noSplatFont) {
  transform:rotate(130deg);
  -ms-transform:rotate(130deg); /* IE 9 */
  -webkit-transform:rotate(130deg); /* Opera, Chrome, and Safari */
  top: 43px;
  left: -4px;
}

.wheel-11:not(.noSplatFont) {
  transform:rotate(110deg);
  -ms-transform:rotate(110deg); /* IE 9 */
  -webkit-transform:rotate(110deg); /* Opera, Chrome, and Safari */
  top: 25px;
  left: -11px;
}

.wheel-10:not(.noSplatFont) {
  transform:rotate(95deg);
  -ms-transform:rotate(95deg); /* IE 9 */
  -webkit-transform:rotate(95deg); /* Opera, Chrome, and Safari */
  top: 4px;
  left: -24px;
}



/* WHEEL END */