<div class="clearareaBox area-box">

	<div class="sheet-headline">
		{{localize 'wod.abilities.abilities'}}
	</div>

	<div class="clearareaBox">
		<div class="ability-statArea pullLeft headlineGroup centerText">{{localize "wod.abilities.talents"}}</div>
		<div class="ability-statArea pullLeft headlineGroup centerText">{{localize "wod.abilities.skills"}}</div>
		<div class="ability-statArea pullLeft headlineGroup centerText">{{localize "wod.abilities.knowledges"}}</div>
	</div>
	
	<div class="ability-statArea pullLeft">
	
		{{#each data.data.abilities.talent as |ability key|}}	
		{{#if ability.visible}}
		
		<div class="clearareaBox">
			<label for="data.data.abilities.talent.{{key}}.value" 
				class="vrollable pullLeft ability-headlineWidth headlineNormal" 
				data-type="Mortal"
				data-roll="{{ability.value}}" 
				data-label="{{key}}" 
				data-speciality="{{#iff ability.value ">=" 4}}{{ability.speciality}}{{/iff}}"
				data-ability="true">{{localize ability.label}}</label>
			<div class="resource-value pullLeft" 
				data-value="{{ability.value}}" 
				data-name="data.abilities.talent.{{key}}.value">

				<span class="resource-value-empty" data-type="Mortal"></span>

				{{#numLoop ability.max}}
				
				<span class="resource-value-step" data-type="Mortal" data-index="{{this}}"></span>
				
				{{/numLoop}}
				
			</div>
		</div>	
		{{/if}}		
		{{/each}}
	
	</div>
	<div class="ability-statArea pullLeft">
	
		{{#each data.data.abilities.skill as |ability key|}}
		{{#if ability.visible}}
		
		<div class="clearareaBox">
			<label for="data.data.abilities.skill.{{key}}.value" 
				class="vrollable pullLeft ability-headlineWidth headlineNormal" 
				data-type="Mortal"
				data-roll="{{ability.value}}" 
				data-label="{{key}}" 
				data-speciality="{{#iff ability.value ">=" 4}}{{ability.speciality}}{{/iff}}"
				data-ability="true">{{localize ability.label}}</label>
			<div class="resource-value pullLeft" 
				data-value="{{ability.value}}" 
				data-name="data.abilities.skill.{{key}}.value">

				<span class="resource-value-empty" data-type="Mortal"></span>

				{{#numLoop ability.max}}
				
				<span class="resource-value-step" data-type="Mortal" data-index="{{this}}"></span>
				
				{{/numLoop}}
				
			</div>
		</div>
		
		{{/if}}
		{{/each}}
	
	</div>
	<div class="ability-statArea pullLeft">
	
		{{#each data.data.abilities.knowledge as |ability key|}}
		{{#if ability.visible}}
		
		<div class="clearareaBox">
			<label for="data.data.abilities.knowledge.{{key}}.value" 
				class="vrollable pullLeft ability-headlineWidth headlineNormal" 
				data-type="Mortal"
				data-roll="{{ability.value}}" 
				data-label="{{key}}" 
				data-speciality="{{#iff ability.value ">=" 4}}{{ability.speciality}}{{/iff}}"
				data-ability="true">{{localize ability.label}}</label>
			<div class="resource-value pullLeft" 
				data-value="{{ability.value}}" 
				data-name="data.abilities.knowledge.{{key}}.value">
				
				<span class="resource-value-empty" data-type="Mortal"></span>

				{{#numLoop ability.max}}
				
				<span class="resource-value-step" data-type="Mortal" data-index="{{this}}"></span>
				
				{{/numLoop}}
				
			</div>
		</div>
		
		{{/if}}
		{{/each}}
	
	</div>
	
</div>	