<div class="clearareaBox area-box">

	<div class="sheet-headline splatFont">
		{{localize 'wod.abilities.abilities'}}
	</div>

	<div class="clearareaBox">
		<div class="ability-statArea pullLeft headlineGroup splatFont centerText">{{localize 'wod.abilities.talents'}}</div>
		<div class="ability-statArea pullLeft headlineGroup splatFont centerText">{{localize 'wod.abilities.skills'}}</div>
		<div class="ability-statArea pullLeft headlineGroup splatFont centerText">{{localize 'wod.abilities.knowledges'}}</div>
	</div>
	
	<div class="ability-statArea pullLeft">
	
		{{#each actor.ability_talents as |ability key|}}			
			<div class="clearareaBox">
				<label for="data.system.abilities.talent.{{ability._id}}.value" 
					class="pullLeft ability-headlineWidth headlineNormal">
					{{#if ability.issecondary}}
						{{ability.label}}
					{{else}}
						{{getAbilityLabel ability}}
					{{/if}}
				</label>
				{{#if (gte ability.value 4)}}
					<div class="resource-value pullRight">
						<input type="text" 
							class="specialityBox {{#if ability.issecondary}}inputdata{{/if}}"
							name="system.abilities.talent.{{ability._id}}.speciality" 
							value="{{ability.speciality}}" 
							data-name="data.abilities.talent.{{ability._id}}.speciality"
							data-source="ability"
							data-abilityid="{{ability._id}}" />
					</div>
				{{/if}}
			</div>
		{{/each}}
	
	</div>
	<div class="ability-statArea pullLeft">
	
		{{#each actor.ability_skills as |ability key|}}
			<div class="clearareaBox">
				<label for="data.system.abilities.skill.{{ability._id}}.value" 
					class="pullLeft ability-headlineWidth headlineNormal">
					{{#if ability.issecondary}}
						{{ability.label}}
					{{else}}
						{{getAbilityLabel ability}}
					{{/if}}
				</label>
				{{#if (gte ability.value 4)}}
					<div class="resource-value pullRight">
						<input type="text" 
							class="specialityBox {{#if ability.issecondary}}inputdata{{/if}}"
							name="system.abilities.skill.{{ability._id}}.speciality" 
							value="{{ability.speciality}}" 
							data-name="data.abilities.skill.{{ability._id}}.speciality"
							data-source="ability"
							data-abilityid="{{ability._id}}" />
					</div>
				{{/if}}
			</div>
		{{/each}}
	
	</div>
	<div class="ability-statArea pullLeft">
	
		{{#each actor.ability_knowledges as |ability key|}}
			<div class="clearareaBox">
				<label for="data.system.abilities.knowledge.{{ability._id}}.value" 
					class="pullLeft ability-headlineWidth headlineNormal">
					{{#if ability.issecondary}}
						{{ability.label}}
					{{else}}
						{{getAbilityLabel ability}}
					{{/if}}
				</label>
				{{#if (gte ability.value 4)}}
					<div class="resource-value pullRight">
						<input type="text" 
						class="specialityBox {{#if ability.issecondary}}inputdata{{/if}}"
							name="system.abilities.knowledge.{{ability._id}}.speciality" 
							value="{{ability.speciality}}" 
							data-name="data.abilities.knowledge.{{ability._id}}.speciality"
							data-source="ability"
							data-abilityid="{{ability._id}}" />
					</div>
				{{/if}}
			</div>
		{{/each}}
	
	</div>
	
</div>	