<div class="clearareaBox area-box">

	<div class="sheet-headline">
		{{localize 'wod.attributes.attributes'}}
	</div>

	<div class="clearareaBox">
		<div class="attribute-statArea pullLeft headlineGroup centerText">{{localize "wod.attributes.physical"}}</div>
		<div class="attribute-statArea pullLeft headlineGroup centerText">{{localize "wod.attributes.social"}}</div>
		<div class="attribute-statArea pullLeft headlineGroup centerText">{{localize "wod.attributes.mental"}}</div>
	</div>

	<div class="clearareaBox">
		{{#each data.data.attributes as |attribute key|}}

		{{#if (topAttributes key)}}<div class="attribute-statArea pullLeft">{{/if}}

		{{#if attribute.isvisible}}
		<div>

			<div class="attribute-rowheight" style="clear:left;">
				<label for="data.data.attributes.{{key}}.value" 
					class="vrollable pullLeft attribute-headlineWidth headlineNormal" 
					data-type="{{../config.sheettype.mortal}}"
					data-key="{{key}}"
					data-attribute="true">{{localize attribute.label}}</label>
				<div class="resource-value pullLeft" 
					data-value="{{attribute.value}}" 
					data-name="data.attributes.{{key}}.value">

					{{#iff ../actor.type "==" ../config.sheettype.werewolf}}
					<span class="attribute-total">{{attribute.total}}</span>
					{{/iff}}
							
					{{#iff ../actor.type "==" "Changing Breed"}}
					<span class="attribute-total">{{attribute.total}}</span>
					{{/iff}}

				<!--		
					{{#iff attribute.value "!=" attribute.total}}
					{{attribute.total}}
					{{/iff}}  
				
				-->

					<span class="resource-value-empty" data-type="{{../config.sheettype.mortal}}"></span>

					{{#numLoop attribute.max}}
					
					<span class="{{#iff attribute.max ">" 5}}supernaturalAttribute{{/iff}} resource-value-step" data-type="{{../../config.sheettype.mortal}}" data-index="{{this}}"></span>
					
					{{/numLoop}}
					
				</div>
			</div>
		
		</div>
		{{/if}}

		{{#if (bottenAttributes key)}}</div>{{/if}}
		
		{{/each}}	
	</div> 

</div>	