<div class="clearareaBox" style="width: 100%;">

	<div class="sheet-headline">
		{{localize 'wod.attributes.attributes'}}
	</div>

	<div class="clearareaBox">
		<div class="attribute-statArea pullLeft headlineGroup centerText">{{localize "wod.attributes.physical"}}</div>
		<div class="attribute-statArea pullLeft headlineGroup centerText">{{localize "wod.attributes.social"}}</div>
		<div class="attribute-statArea pullLeft headlineGroup centerText">{{localize "wod.attributes.mental"}}</div>
	</div>

	{{#each data.data.attributes as |attribute key|}}

	<div class="attribute-statArea" style={{orderAttributes key}}>	

		<div>
			<label for="data.data.attributes.{{key}}.speciality" 
				class="pullLeft attribute-headlineWidth headlineNormal">{{localize attribute.label}}</label>
			{{#iff attribute.value ">=" "4"}}
			<div class="resource-value pullRight">
				<input type="text" 
					class="specialityBox"
					name="data.attributes.{{key}}.speciality" 
					value="{{attribute.speciality}}" 
					data-name="data.attributes.{{key}}.speciality" />
			</div>
			{{/iff}}
		</div>		
	</div>
	
	{{/each}}	

</div>	