<div class="clearareaBox area-box">

	<div class="sheet-headline">
		{{localize 'wod.attributes.attributes'}}
	</div>

	<div class="clearareaBox">
		<div class="attribute-statArea pullLeft headlineGroup centerText">{{localize "wod.attributes.physical"}}</div>
		<div class="attribute-statArea pullLeft headlineGroup centerText">{{localize "wod.attributes.social"}}</div>
		<div class="attribute-statArea pullLeft headlineGroup centerText">{{localize "wod.attributes.mental"}}</div>
	</div>

	<div class="clearareaBox">
		{{#each data.data.attributes as |attribute key|}}

		{{#if (topAttributes key)}}<div class="attribute-statArea pullLeft">{{/if}}

		{{#if attribute.visible}}
		<div>

			<div class="attribute-rowheight" style="clear:left;">
				<label for="data.data.attributes.{{key}}.value" class="vrollable pullLeft attribute-headlineWidth headlineNormal" 
					data-roll="{{attribute.total}}" 
					data-label="{{key}}" 
					data-speciality="{{#iff attribute.value ">=" 4}}{{attribute.speciality}}{{/iff}}"
					data-attribute="true">{{localize attribute.label}}</label>
				<div class="resource-value pullLeft" 
					data-value="{{attribute.value}}" 
					data-name="data.attributes.{{key}}.value">

					<span class="attribute-total">
						{{#iff ../actor.type "==" "Werewolf"}}
							{{attribute.total}}
						{{else}}
							{{#iff ../actor.type "==" "Changing Breed"}}
								{{attribute.total}}
							{{else}}
								{{#iff attribute.value "!=" attribute.total}}
								{{attribute.total}}
								{{else}}
								&nbsp;
								{{/iff}}
							{{/iff}}
						{{/iff}}
					</span>

					<span class="resource-value-empty"></span>

					{{#numLoop attribute.max}}
					
					<span class="resource-value-step" data-index="{{this}}"></span>
					
					{{/numLoop}}
					
				</div>
			</div>
		
		</div>
		{{/if}}

		{{#if (bottenAttributes key)}}</div>{{/if}}
		
		{{/each}}	
	</div> 

</div>	