<div class="sheet-area">
	<div class="clearareaBox area-box">

		<div class="top-area">
			<div class="top-side">
				<img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
			</div>
			<div class="top-center top-headline centerText">
				{{#if locked}}
					{{actor.name}}
				{{else}}
					<input class="sheet-infoValues" name="name" type="text" value="{{actor.name}}" data-dtype="String" {{#if locked}} readonly {{/if}} />
				{{/if}}
			</div>
			<div class="top-side top-sidetext centerText">
				{{#iff actor.type "==" "Changing Breed"}}
					{{#iff data.data.changingbreed "!=" ""}}
						{{captilize data.data.changingbreed}}
					{{else}}
						{{captilize actor.data.type}}
					{{/iff}}
				{{else}}
				{{captilize actor.data.type}}
				{{/iff}}
			</div>				
		</div>
	</div>
</div>

<div class="sheet-area">

	{{#iff actor.type "!=" "Spirit"}}
	<div class="clearareaBox area-box">
		<div>
			<label class="headlineText headlineBio" for="actor.worldanvil">{{localize "wod.bio.worldanvil"}}</label>
			<div class="pullLeft headlineNormal bio-verticalcenter">
				{{#if locked}}
					{{#iff data.data.worldanvil "!=" ""}}
						<a href="{{data.data.worldanvil}}" target="_blank">{{localize "wod.bio.worldanvillink"}}</a>
					{{else}}
						{{localize "wod.bio.noworldanvillink"}}
					{{/iff}}
				{{else}}
					<input class="sheet-infoValues" name="data.worldanvil" type="text" value="{{data.data.worldanvil}}" data-name="data.data.worldanvil" data-dtype="String" />
				{{/if}}
			</div>
		</div>
	</div>
	{{/iff}}

	<div class="clearareaBox area-box">
		<div>
			<label class="headlineText headlineBio" for="data.concept">{{localize "wod.bio.concept"}}</label>
			<div class="pullLeft">
				<input class="sheet-infoValues" name="data.concept" type="text" value="{{data.data.concept}}" data-name="data.data.concept" data-dtype="String" {{#if locked}} readonly {{/if}} />
			</div>
		</div>
	</div>

	{{#iff actor.type "==" "Werewolf"}}

	{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_werewolf_background.html"}}

	{{/iff}}

	{{#iff actor.type "==" "Changing Breed"}}

	<div class="clearareaBox area-box">
		<div>
			<label class="headlineText headlineBio" for="data.changingbreed">{{localize "wod.bio.changingbreed"}}</label>
			<div class="pullLeft headlineNormal bio-verticalcenter">
				{{#if locked}}
					{{#iff data.data.changingbreed "!=" ""}}{{data.data.changingbreed}}{{else}}{{localize "wod.labels.select"}}{{/iff}}
				{{else}}
					<select name="data.changingbreed" data-name="data.data.changingbreed" data-dtype="String">
						{{#select data.data.changingbreed}}
						<option value="">- {{localize "wod.labels.select"}} -</option>
						<option value="Ajaba">Ajaba</option>
						<option value="Ananasi">Ananasi</option>
						<option value="Bastet">Bastet</option>
						<option value="Corax">Corax</option>
						<option value="Gurahl">Gurahl</option>				
						<option value="Kitsune">Kitsune</option>	
						<option value="Mokolé">Mokolé</option>
						<option value="Nagah">Nagah</option>
						<option value="Nuwisha">Nuwisha</option>
						<option value="Ratkin">Ratkin</option>
						<option value="Rokea">Rokea</option>
						{{/select}}
					</select>
				{{/if}}
			</div>
		</div>
	</div>

		{{#iff data.data.changingbreed "==" "Ajaba"}}
		{{~> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_ajaba_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Ananasi"}}
		{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_ananasi_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Bastet"}}
		{{~> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_bastet_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Corax"}}
		{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_corax_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Gurahl"}}
		{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_gurahl_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Kitsune"}}
		{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_kitsune_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Mokolé"}}
		{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_mokole_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Nagah"}}
		{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_nagah_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Nuwisha"}}
		{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_nuwisha_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Ratkin"}}
		{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_ratkin_background.html"}}
		{{/iff}}
		{{#iff data.data.changingbreed "==" "Rokea"}}
		{{> "systems/worldofdarkness/templates/actor/parts/werewolf/bio_rokea_background.html"}}
		{{/iff}}

	{{/iff}}

	
</div>

<div class="sheet-area">
	<div class="clearareaBox area-box">
		<div>
			<label class="headlineText headlineBio" for="data.appearance">{{localize "wod.bio.appearance"}}</label>
			<textarea class="sheet-infoValues pullLeft" name="data.appearance" data-dtype="String" {{#if locked}} readonly {{/if}}>{{~data.data.appearance}}</textarea>
		</div>
	</div>

	<div class="clearareaBox area-box">
		<div>
			<label class="headlineText headlineBio" for="data.background">{{localize "wod.bio.background"}}</label>
			<textarea class="sheet-infoValues pullLeft" name="data.background" data-dtype="String" {{#if locked}} readonly {{/if}}>{{~data.data.background}}</textarea>
		</div>
	</div>
</div>