{{#if actor.system.listdata.settings.haschimericalhealth}}
    <div class="clearareaBox armor headlineRowBackground splatFont">
        <div class="pullLeft" style="width: 170px;">&nbsp;</div>
        <div class="pullLeft centerText headlineList" style="width: 210px;">{{localize "wod.health.normal"}}</div>
        <div class="pullLeft centerText headlineList" style="width: 210px;">{{localize "wod.health.chimerical"}}</div>
    </div>
{{/if}}

<div class="headlineRow splatFont">

    <div class="clearareaBox">
        <div class="pullLeft"><i class="icon largeicon fa-solid fa-square-plus pointer item-create" title="{{localize 'wod.labels.add.armor'}}" aria-hidden="true" data-itemtype="Armor"></i></div>
        <div class="pullLeft headlineList armor-largeBox">{{localize "wod.labels.combat.armor"}}</div>    
    </div>    
    
    <div class="clearareaBox">
        <div class="pullLeft combat-valueBoxArmor centerText headlineList leftwrapper">{{localize "wod.health.soak"}} {{firstLetter (localize "wod.health.bashing")}}</div>
        <div class="pullLeft combat-valueBoxArmor centerText headlineList topwrapper">{{localize "wod.health.soak"}} {{firstLetter (localize "wod.health.lethal")}}</div>
        <div class="pullLeft combat-valueBoxArmor centerText headlineList rightwrapper">{{localize "wod.health.soak"}} {{firstLetter (localize "wod.health.aggravated")}}</div>

        {{#if actor.system.listdata.settings.haschimericalhealth}}
            <div class="pullLeft combat-valueBoxArmor centerText headlineList leftwrapper">{{localize "wod.health.soak"}} {{firstLetter (localize "wod.health.bashing")}}</div>
            <div class="pullLeft combat-valueBoxArmor centerText headlineList topwrapper">{{localize "wod.health.soak"}} {{firstLetter (localize "wod.health.lethal")}}</div>
            <div class="pullLeft combat-valueBoxArmor centerText headlineList rightwrapper">{{localize "wod.health.soak"}} {{firstLetter (localize "wod.health.aggravated")}}</div>
        {{/if}}

        <div class="pullLeft combat-valueBoxArmor centerText headlineList">{{localize "wod.combat.armor.dexpen"}}</div>

        {{#if (eqAny actor.type config.sheettype.werewolf config.sheettype.changingbreed)}}
            <div class="pullLeft combat-valueBox centerText headlineList">{{localize "wod.shapes.homid"}}</div>
            <div class="pullLeft combat-valueBox centerText headlineList">{{localize "wod.shapes.glabro"}}</div>
            <div class="pullLeft combat-valueBox centerText headlineList">{{localize "wod.shapes.crinos"}}</div>
            <div class="pullLeft combat-valueBox centerText headlineList">{{localize "wod.shapes.hispo"}}</div>
            <div class="pullLeft combat-valueBox centerText headlineList">{{localize "wod.shapes.lupus"}}</div>
        {{/if}}
    </div>
</div>

<div class="clearareaBox">

    {{#each actor.system.listdata.combat.armors as |item id|}}

        <div class="clearareaBox item-row-area">
            <div class="pullLeft combat-activeBox"><input class="item-active pointer" name="system.isequipped" type="checkbox" data-item-id="{{item._id}}" data-type="isequipped" {{#if item.system.isequipped}}checked{{/if}}></input></div>
            <div class="pullLeft armor-largeBox headlineNormal">{{shorten item.name 18}}</div>
            <div class="pullLeft combat-valueBoxArmor centerText headlineNormal {{#if ../actor.system.listdata.settings.haschimericalhealth}}wrapperboxleft{{/if}}">{{item.system.soak.bashing}}</div>
            <div class="pullLeft combat-valueBoxArmor centerText headlineNormal">{{item.system.soak.lethal}}</div>
            <div class="pullLeft combat-valueBoxArmor centerText headlineNormal {{#if ../actor.system.listdata.settings.haschimericalhealth}}wrapperboxright{{/if}}">{{item.system.soak.aggravated}}</div>
            {{#if ../actor.system.listdata.settings.haschimericalhealth}}
                <div class="pullLeft combat-valueBoxArmor centerText headlineNormal wrapperboxleft">{{item.system.soak.chimerical.bashing}}</div>
                <div class="pullLeft combat-valueBoxArmor centerText headlineNormal">{{item.system.soak.chimerical.lethal}}</div>
                <div class="pullLeft combat-valueBoxArmor centerText headlineNormal wrapperboxright">{{item.system.soak.chimerical.aggravated}}</div>
            {{/if}}
            <div class="pullLeft combat-valueBoxArmor centerText headlineNormal">{{item.system.dexpenalty}}</div>

            {{#if (eq ../actor.type ../config.sheettype.werewolf)}}
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.hashomid}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.hasglabro}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.hascrinos}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.hashispo}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.haslupus}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
            {{/if}}
            {{#if (eq ../actor.type ../config.sheettype.changingbreed)}}
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.hashomid}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.hasglabro}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.hascrinos}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.hashispo}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
                <div class="pullLeft combat-valueBox centerText headlineNormal">{{#if item.system.forms.haslupus}}{{localize "wod.labels.yes"}}{{else}}{{localize "wod.labels.no"}}{{/if}}</input></div>
            {{/if}}

            {{#if (eq ../locked false)}}
                <div class="pullRight">
                    <a class="item-edit" title="{{localize 'wod.labels.edit.armor'}}" data-type="Armor" data-item-id="{{item._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a>
                    <a class="item-delete" title="{{localize 'wod.labels.remove.armor'}}" data-type="Armor" data-item-id="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></a>
                </div>
            {{/if}}
        </div>

    {{/each}}

</div>