<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}
        {{> "systems/worldofdarkness/templates/actor/parts/conditions.html"}}        
        {{> "systems/worldofdarkness/templates/actor/parts/movement.html"}}
    </div>
</div>

<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/combat_natural.html"}}
    </div>
</div>

<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/combat_melee.html"}}
    </div>
</div>

<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/combat_ranged.html"}}
    </div>
</div>

<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/combat_armor.html"}}
    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">
        <div class="pullLeft combat-bottomarea">
            {{#if actor.system.settings.powers.hasgifts}}
                {{> "systems/worldofdarkness/templates/actor/parts/werewolf/combat_active.html"}}
            {{else}}
                &nbsp;
            {{/if}}
        </div>

        <div class="pullRight combat-bottomhealth">
            <div class="pullLeft healthBox" style="width: 100%;">

                {{> "systems/worldofdarkness/templates/actor/parts/stats_health.html"}}

            </div>
        </div>
    </div>
</div>