<!--<div>Flank or Rear Attacks: By attacking an opponent’s flank, the assailant reduces his difficulty by one; by attacking from the rear, he reduces it by two.</div>-->

<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}
        {{> "systems/worldofdarkness/templates/actor/parts/conditions.html"}}        
    </div>
</div>

<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/combat_natural.html"}}
    </div>
</div>

<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/combat_melee.html"}}
    </div>
</div>

<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/combat_ranged.html"}}
    </div>
</div>

<div class="sheet-area">    
    <div class="clearareaBox area-box">
        {{> "systems/worldofdarkness/templates/actor/parts/combat_armor.html"}}
    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">
        <div class="pullLeft combat-bottomarea">
            {{#iff actor.type "==" "Werewolf"}}
                {{> "systems/worldofdarkness/templates/actor/parts/werewolf/combat_active.html"}}
            {{else}}
                {{#iff actor.type "==" "Changing Breed"}}
                    {{> "systems/worldofdarkness/templates/actor/parts/werewolf/combat_active.html"}}
                {{else}}
                    {{#iff actor.type "==" "Mage"}}
                        <!-- {{> "systems/worldofdarkness/templates/actor/parts/mage/combat_active.html"}} -->
                        &nbsp;
                    {{else}}
                        &nbsp;
                    {{/iff}}
                {{/iff}}                
            {{/iff}}
        </div>

        <div class="pullLeft combat-bottomhealth">
            <div class="pullLeft" style="width: 100%; padding-left: 20px; padding-right: 20px;">

                {{> "systems/worldofdarkness/templates/actor/parts/stats_health.html"}}

            </div>
        </div>
    </div>
</div>