<div class="sheet-headline">
    <div>
        {{localize "wod.labels.combat.melee"}}
        <!--<a class="item-create" title="{{localize "wod.labels.add.meleeweapon"}}" data-type="Melee Weapon">
            <i class="fas fa-plus-circle"></i>
        </a>-->
    </div>
</div>

<div>
    <div class="pullLeft combat-mediumBox headlineList">{{localize "wod.combat.weapon.weapon"}}</div>
    <div class="pullLeft combat-smallBox headlineList">{{localize "wod.combat.weapon.attr"}}</div>
    <div class="pullLeft combat-smallBox headlineList">{{localize "wod.combat.weapon.ability"}}</div>
    <div class="pullLeft combat-valueBox headlineList">{{localize "wod.combat.weapon.diff"}}</div>
    <div class="pullLeft combat-smallBox headlineList">{{localize "wod.combat.weapon.damage"}}</div>
    <div class="pullLeft combat-smallBox headlineList">{{localize "wod.combat.weapon.conceal.conceal"}}</div>
    <div class="pullLeft combat-smallBox headlineList">{{localize "wod.combat.weapon.twohanded"}}</div>
</div>   

{{#each actor.meleeWeapons as |item id|}}

<div class="clearareaBox">
    <div class="pullLeft combat-mediumBox headlineNormal {{#if item.data.attack.roll}}vrollable{{/if}}" data-rollitem="true" data-label="{{captilizeFirst item.name}}" data-dice1="{{item.data.attack.attribute}}" data-dice2="{{item.data.attack.ability}}" data-diff="{{item.data.diff}}">{{captilizeFirst item.name}}</div>
    <div class="pullLeft combat-smallBox headlineNormal">{{captilizeFirst item.data.attack.attribute}}</div>
    <div class="pullLeft combat-smallBox headlineNormal">{{captilizeFirst item.data.attack.ability}}</div>
    <div class="pullLeft combat-valueBox headlineNormal">{{item.data.diff}}</div>
    <div class="pullLeft combat-smallBox headlineNormal">
        {{#if item.data.damage.roll}}
        {{captilizeFirst (convertDamageCode item.data.damage.attribute item.data.damage.bonus item.data.damage.type)}}
        {{else}}
        &nbsp;
        {{/if}}
    </div>
    <div class="pullLeft combat-smallBox headlineNormal">{{captilizeFirst item.data.conceal}}</div>
    <div class="pullLeft combat-smallBox headlineNormal">{{#if item.data.twohanded}}{{localize "wod.labels.yes"}}{{else}}&nbsp;{{/if}}</div>
    <div class="pullLeft combat-mediumBox headlineNormal {{#if item.data.damage.roll}}vrollable{{/if}}">{{#if item.data.damage.roll}}{{localize "wod.labels.rolldamage"}}{{else}}&nbsp;{{/if}}</div>
    <div class="pullLeft">
        <a class="item-delete" title="{{localize "wod.labels.remove.meleeweapon"}}" data-type="Melee Weapon" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
    </div>
</div>

{{/each}}