{{#if (ne actor.type config.sheettype.spirit)}}
<div class="pullLeft splatFont">
    {{#if (eq actor.type config.sheettype.vampire)}}
        <div class="condition clearareaBox" data-area="frenzycheck">
            <div class="pullLeft condition-checkbox">
                <input name="system.conditions.isfrenzy" type="checkbox" {{#if data.system.conditions.isfrenzy}} checked {{/if}}>
            </div>
            <div class="pullLeft condition-checkbox">
                {{localize "wod.combat.conditions.frenzy"}}
            </div>
        </div>
    {{/if}}
    {{#if (eq actor.type config.sheettype.werewolf)}}
        <div class="condition clearareaBox" data-area="frenzycheck">
            <div class="pullLeft condition-checkbox">
                <input name="system.conditions.isfrenzy" type="checkbox" {{#if data.system.conditions.isfrenzy}} checked {{/if}}>
            </div>
            <div class="pullLeft condition-checkbox">
                {{localize "wod.combat.conditions.frenzy"}}
            </div>
        </div>
    {{/if}}    
    {{#if (eq actor.type config.sheettype.changingbreed)}}
        {{#if (eqAnyNot data.system.changingbreed "Ananasi" "Nuwisha")}}
            <div class="condition clearareaBox" data-area="frenzycheck">
                <div class="pullLeft condition-checkbox">
                    <input name="system.conditions.isfrenzy" type="checkbox" {{#if data.system.conditions.isfrenzy}} checked {{/if}}>
                </div>
                <div class="pullLeft condition-checkbox">
                    {{localize "wod.combat.conditions.frenzy"}}
                </div>
            </div>
        {{/if}}    
    {{/if}}
    <div class="condition clearareaBox">
        <div class="pullLeft condition-checkbox" data-area="ignorepaincheck">
            <input name="system.conditions.isignoringpain" type="checkbox" {{#if data.system.conditions.isignoringpain}} checked {{/if}}>
        </div>
        <div class="pullLeft condition-checkbox">
            {{localize "wod.combat.conditions.ignorepain"}}
        </div>
    </div>
</div>
{{/if}}