{{#iff data.data.renown.rank ">=" 1}}

<div class="clearareaBox">

    <div class="sheet-headline">{{localize "wod.power.rank1"}}</div>    

    <div class="clearareaBox">
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.active"}}</div>
        <div class="pullLeft gift-largeBox headlineList">{{localize "wod.types.gift"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.attr"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.ability"}}</div>
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.diff"}}</div>
    </div>

    {{#each actor.powerlist1 as |item id|}}

    {{#iff item.data.type "==" "wod.types.gift"}}

    <div class="clearareaBox row">
        <div class="pullLeft gift-valueBox"><input class="item-active" name="data.active" type="checkbox" data-item-id="{{item._id}}" {{#if item.data.active}} checked {{/if}}></input></div>
        <div class="pullLeft gift-largeBox headlineNormal {{#if item.data.rollable}}vrollable{{/if}}" 
            data-rollitem="true" 
            data-label="{{captilizeFirst item.name}}" 
            data-dice1="{{item.data.dice1}}" 
            data-dice2="{{item.data.dice2}}" 
            data-diff="{{item.data.difficulty}}"
            data-system="{{item.data.system}}">{{captilizeFirst item.name}}</div>
        {{#if item.data.rollable}}
        <div class="pullLeft gift-mediumBox headlineNormal">{{localize (getAttributes item.data.dice1)}}</div>
        <div class="pullLeft gift-mediumBox headlineNormal">{{#iff item.data.dice2 "!=" ""}}{{localize item.data.dice2}}{{else}}&nbsp;{{/iff}}</div>
        <div class="pullLeft gift-valueBox headlineNormal">
            {{#iff item.data.difficulty "==" -1}}
                {{localize "wod.labels.varies"}}
            {{else}}
                {{item.data.difficulty}}
            {{/iff}}
        </div>
        {{else}}
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-valueBox headlineNormal">&nbsp;</div>
        {{/if}}
        <div class="pullLeft gift-valueBox headlineNormal tooltip">
            <i class="fa fa-sticky-note"></i>
            <span class="tooltiptext">Description: {{item.data.description}}<br /><br />System: {{item.data.system}}</span>
        </div>
        <div class="pullLeft gift-valueBox">
            <a class="send-chat" 
                title="{{localize "wod.labels.send"}}" 
                data-type="Gift" data-item-id="{{item._id}}" 
                data-headline="<h2>{{captilizeFirst item.name}}</h2>" 
                data-message="<span class='chatt-headline'>Description:</span>
                                <span class='chatt-text'>{{item.data.description}}</span>
                                <br />
                                <span class='chatt-headline'>System:</span>
                                <span class='chatt-text'>{{item.data.system}}</span>"><i class="fa fa-commenting"></i></a>
        </div>
        <div class="pullLeft gift-valueBox">
            {{#if ../locked}}
                &nbsp;
            {{ else }}
                <a class="item-delete" title="{{localize "wod.labels.remove.gift"}}" data-type="Gift" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>

    {{/iff}}

    {{/each}}

</div>

{{/iff}}

{{#iff data.data.renown.rank ">=" 2}}
<div class="clearareaBox">

    <div class="sheet-headline">{{localize "wod.power.rank2"}}</div>

    <div class="clearareaBox">
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.active"}}</div>
        <div class="pullLeft gift-largeBox headlineList">{{localize "wod.types.gift"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.attr"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.ability"}}</div>
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.diff"}}</div>
    </div>

    {{#each actor.powerlist2 as |item id|}}

    {{#iff item.data.type "==" "wod.types.gift"}}

    <div class="clearareaBox row">
        <div class="pullLeft gift-valueBox"><input class="item-active" name="data.active" type="checkbox" data-item-id="{{item._id}}" {{#if item.data.active}} checked {{/if}}></input></div>
        <div class="pullLeft gift-largeBox headlineNormal {{#if item.data.rollable}}vrollable{{/if}}" 
            data-rollitem="true" 
            data-label="{{captilizeFirst item.name}}" 
            data-dice1="{{item.data.dice1}}" 
            data-dice2="{{item.data.dice2}}" 
            data-diff="{{item.data.difficulty}}"
            data-system="{{item.data.system}}">{{captilizeFirst item.name}}</div>
        {{#if item.data.rollable}}
        <div class="pullLeft gift-mediumBox headlineNormal">{{localize (getAttributes item.data.dice1)}}</div>
        <div class="pullLeft gift-mediumBox headlineNormal">{{#iff item.data.dice2 "!=" ""}}{{localize item.data.dice2}}{{else}}&nbsp;{{/iff}}</div>
        <div class="pullLeft gift-valueBox headlineNormal">
            {{#iff item.data.difficulty "==" -1}}
                {{localize "wod.labels.varies"}}
            {{else}}
                {{item.data.difficulty}}
            {{/iff}}
        </div>
        {{else}}
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-valueBox headlineNormal">&nbsp;</div>
        {{/if}}
        <div class="pullLeft gift-valueBox headlineNormal tooltip">
            <i class="fa fa-sticky-note"></i>
            <span class="tooltiptext">Description: {{item.data.description}}<br /><br />System: {{item.data.system}}</span>
        </div>
        <div class="pullLeft gift-valueBox">
            <a class="send-chat" 
                title="{{localize "wod.labels.send"}}" 
                data-type="Gift" data-item-id="{{item._id}}" 
                data-headline="<h2>{{captilizeFirst item.name}}</h2>" 
                data-message="<span class='chatt-headline'>Description:</span>
                                <span class='chatt-text'>{{item.data.description}}</span>
                                <br />
                                <span class='chatt-headline'>System:</span>
                                <span class='chatt-text'>{{item.data.system}}</span>"><i class="fa fa-commenting"></i></a>
        </div>
        <div class="pullLeft gift-valueBox">
            {{#if ../locked}}
                &nbsp;
            {{ else }}
                <a class="item-delete" title="{{localize "wod.labels.remove.gift"}}" data-type="Gift" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>

    {{/iff}}

    {{/each}}

</div>

{{/iff}}

{{#iff data.data.renown.rank ">=" 3}}

<div class="clearareaBox">

    <div class="sheet-headline">{{localize "wod.power.rank3"}}</div>

    <div class="clearareaBox">
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.active"}}</div>
        <div class="pullLeft gift-largeBox headlineList">{{localize "wod.types.gift"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.attr"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.ability"}}</div>
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.diff"}}</div>
    </div>

    {{#each actor.powerlist3 as |item id|}}

    {{#iff item.data.type "==" "wod.types.gift"}}

    <div class="clearareaBox row">
        <div class="pullLeft gift-valueBox"><input class="item-active" name="data.active" type="checkbox" data-item-id="{{item._id}}" {{#if item.data.active}} checked {{/if}}></input></div>
        <div class="pullLeft gift-largeBox headlineNormal {{#if item.data.rollable}}vrollable{{/if}}" 
            data-rollitem="true" 
            data-label="{{captilizeFirst item.name}}" 
            data-dice1="{{item.data.dice1}}" 
            data-dice2="{{item.data.dice2}}" 
            data-diff="{{item.data.difficulty}}"
            data-system="{{item.data.system}}">{{captilizeFirst item.name}}</div>
        {{#if item.data.rollable}}
        <div class="pullLeft gift-mediumBox headlineNormal">{{localize (getAttributes item.data.dice1)}}</div>
        <div class="pullLeft gift-mediumBox headlineNormal">{{#iff item.data.dice2 "!=" ""}}{{localize item.data.dice2}}{{else}}&nbsp;{{/iff}}</div>
        <div class="pullLeft gift-valueBox headlineNormal">
            {{#iff item.data.difficulty "==" -1}}
                {{localize "wod.labels.varies"}}
            {{else}}
                {{item.data.difficulty}}
            {{/iff}}
        </div>
        {{else}}
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-valueBox headlineNormal">&nbsp;</div>
        {{/if}}
        <div class="pullLeft gift-valueBox headlineNormal tooltip">
            <i class="fa fa-sticky-note"></i>
            <span class="tooltiptext">Description: {{item.data.description}}<br /><br />System: {{item.data.system}}</span>
        </div>
        <div class="pullLeft gift-valueBox">
            <a class="send-chat" 
                title="{{localize "wod.labels.send"}}" 
                data-type="Gift" 
                data-item-id="{{item._id}}" 
                data-headline="<h2>{{captilizeFirst item.name}}</h2>" 
                data-message="<span class='chatt-headline'>Description:</span>
                                <span class='chatt-text'>{{item.data.description}}</span>
                                <br />
                                <span class='chatt-headline'>System:</span>
                                <span class='chatt-text'>{{item.data.system}}</span>"><i class="fa fa-commenting"></i></a>
        </div>
        <div class="pullLeft gift-valueBox">
            {{#if ../locked}}
                &nbsp;
            {{ else }}
                <a class="item-delete" title="{{localize "wod.labels.remove.gift"}}" data-type="Gift" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>

    {{/iff}}

    {{/each}}

</div>

{{/iff}}

{{#iff data.data.renown.rank ">=" 4}}

<div class="clearareaBox">

    <div class="sheet-headline">{{localize "wod.power.rank4"}}</div>

    <div class="clearareaBox">
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.active"}}</div>
        <div class="pullLeft gift-largeBox headlineList">{{localize "wod.types.gift"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.attr"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.ability"}}</div>
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.diff"}}</div>
    </div>

    {{#each actor.powerlist4 as |item id|}}

    {{#iff item.data.type "==" "wod.types.gift"}}

    <div class="clearareaBox row">
        <div class="pullLeft gift-valueBox"><input class="item-active" name="data.active" type="checkbox" data-item-id="{{item._id}}" {{#if item.data.active}} checked {{/if}}></input></div>
        <div class="pullLeft gift-largeBox headlineNormal {{#if item.data.rollable}}vrollable{{/if}}" 
            data-rollitem="true" 
            data-label="{{captilizeFirst item.name}}" 
            data-dice1="{{item.data.dice1}}" 
            data-dice2="{{item.data.dice2}}" 
            data-diff="{{item.data.difficulty}}"
            data-system="{{item.data.system}}">{{captilizeFirst item.name}}</div>
        {{#if item.data.rollable}}
        <div class="pullLeft gift-mediumBox headlineNormal">{{localize (getAttributes item.data.dice1)}}</div>
        <div class="pullLeft gift-mediumBox headlineNormal">{{#iff item.data.dice2 "!=" ""}}{{localize item.data.dice2}}{{else}}&nbsp;{{/iff}}</div>
        <div class="pullLeft gift-valueBox headlineNormal">
            {{#iff item.data.difficulty "==" -1}}
                {{localize "wod.labels.varies"}}
            {{else}}
                {{item.data.difficulty}}
            {{/iff}}
        </div>
        {{else}}
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-valueBox headlineNormal">&nbsp;</div>
        {{/if}}
        <div class="pullLeft gift-valueBox headlineNormal tooltip">
            <i class="fa fa-sticky-note"></i>
            <span class="tooltiptext">Description: {{item.data.description}}<br /><br />System: {{item.data.system}}</span>
        </div>
        <div class="pullLeft gift-valueBox">
            <a class="send-chat" 
                title="{{localize "wod.labels.send"}}" 
                data-type="Gift" 
                data-item-id="{{item._id}}" 
                data-headline="<h2>{{captilizeFirst item.name}}</h2>" 
                data-message="<span class='chatt-headline'>Description:</span>
                                <span class='chatt-text'>{{item.data.description}}</span>
                                <br />
                                <span class='chatt-headline'>System:</span>
                                <span class='chatt-text'>{{item.data.system}}</span>"><i class="fa fa-commenting"></i></a>
        </div>
        <div class="pullLeft gift-valueBox">
            {{#if ../locked}}
                &nbsp;
            {{ else }}
                <a class="item-delete" title="{{localize "wod.labels.remove.gift"}}" data-type="Gift" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>

    {{/iff}}

    {{/each}}

</div>

{{/iff}}

{{#iff data.data.renown.rank ">=" 5}}

<div class="clearareaBox">

    <div class="sheet-headline">{{localize "wod.power.rank5"}}</div>

    <div class="clearareaBox">
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.active"}}</div>
        <div class="pullLeft gift-largeBox headlineList">{{localize "wod.types.gift"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.attr"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.ability"}}</div>
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.diff"}}</div>
    </div>

    {{#each actor.powerlist5 as |item id|}}

    {{#iff item.data.type "==" "wod.types.gift"}}

    <div class="clearareaBox row">
        <div class="pullLeft gift-valueBox"><input class="item-active" name="data.active" type="checkbox" data-item-id="{{item._id}}" {{#if item.data.active}} checked {{/if}}></input></div>
        <div class="pullLeft gift-largeBox headlineNormal {{#if item.data.rollable}}vrollable{{/if}}" 
            data-rollitem="true" 
            data-label="{{captilizeFirst item.name}}" 
            data-dice1="{{item.data.dice1}}" 
            data-dice2="{{item.data.dice2}}" 
            data-diff="{{item.data.difficulty}}"
            data-system="{{item.data.system}}">{{captilizeFirst item.name}}</div>
        {{#if item.data.rollable}}
        <div class="pullLeft gift-mediumBox headlineNormal">{{localize (getAttributes item.data.dice1)}}</div>
        <div class="pullLeft gift-mediumBox headlineNormal">{{#iff item.data.dice2 "!=" ""}}{{localize item.data.dice2}}{{else}}&nbsp;{{/iff}}</div>
        <div class="pullLeft gift-valueBox headlineNormal">
            {{#iff item.data.difficulty "==" -1}}
                {{localize "wod.labels.varies"}}
            {{else}}
                {{item.data.difficulty}}
            {{/iff}}
        </div>
        {{else}}
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-mediumBox headlineNormal">&nbsp;</div>
        <div class="pullLeft gift-valueBox headlineNormal">&nbsp;</div>
        {{/if}}
        <div class="pullLeft gift-valueBox headlineNormal tooltip">
            <i class="fa fa-sticky-note"></i>
            <span class="tooltiptext">Description: {{item.data.description}}<br /><br />System: {{item.data.system}}</span>
        </div>
        <div class="pullLeft gift-valueBox">
            <a class="send-chat" 
                title="{{localize "wod.labels.send"}}" 
                data-type="Gift" 
                data-item-id="{{item._id}}" 
                data-headline="<h2>{{captilizeFirst item.name}}</h2>" 
                data-message="<span class='chatt-headline'>Description:</span>
                                <span class='chatt-text'>{{item.data.description}}</span>
                                <br />
                                <span class='chatt-headline'>System:</span>
                                <span class='chatt-text'>{{item.data.system}}</span>"><i class="fa fa-commenting"></i></a>
        </div>
        <div class="pullLeft gift-valueBox">
            {{#if ../locked}}
                &nbsp;
            {{ else }}
                <a class="item-delete" title="{{localize "wod.labels.remove.gift"}}" data-type="Gift" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>

    {{/iff}}

    {{/each}}

</div>

{{/iff}}

<div class="clearareaBox">

    <div class="sheet-headline">{{localize "wod.power.rites"}}</div>    

    <div class="clearareaBox">
        <div class="pullLeft gift-largeBox headlineList">{{localize "wod.types.rite"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.attr"}}</div>
        <div class="pullLeft gift-mediumBox headlineList">{{localize "wod.power.ability"}}</div>
        <div class="pullLeft gift-valueBox headlineList">{{localize "wod.power.diff"}}</div>
    </div>

    {{#each actor.ritelist as |item id|}}

    <div class="clearareaBox row">
        <div class="pullLeft gift-largeBox headlineNormal {{#if item.data.rollable}}vrollable{{/if}}" 
                data-rollitem="true" 
                data-label="{{captilizeFirst item.name}}" 
                data-dice1="{{item.data.dice1}}" 
                data-dice2="{{item.data.dice2}}" 
                data-diff="{{item.data.difficulty}}"
                data-system="{{item.data.system}}">{{captilizeFirst item.name}}</div>
        <div class="pullLeft gift-mediumBox headlineNormal">{{localize (getAttributes item.data.dice1)}}</div>
        <div class="pullLeft gift-mediumBox headlineNormal">{{#iff item.data.dice2 "!=" ""}}{{localize item.data.dice2}}{{else}}&nbsp;{{/iff}}</div>
        <div class="pullLeft gift-valueBox headlineNormal">
            {{#iff item.data.difficulty "==" -1}}
                {{localize "wod.labels.varies"}}
            {{else}}
                {{item.data.difficulty}}
            {{/iff}}
        </div>
        <div class="pullLeft gift-valueBox headlineNormal tooltip">
            <i class="fa fa-sticky-note"></i>
            <span class="tooltiptext">Description: {{item.data.description}}<br /><br />System: {{item.data.system}}</span>
        </div>
        <div class="pullLeft gift-valueBox">
            <a class="send-chat" 
                title="{{localize "wod.labels.send"}}" 
                data-type="Gift" 
                data-item-id="{{item._id}}" 
                data-headline="<h2>{{captilizeFirst item.name}}</h2>" 
                data-message="<span class='chatt-headline'>Description:</span>
                                <span class='chatt-text'>{{item.data.description}}</span>
                                <br />
                                <span class='chatt-headline'>System:</span>
                                <span class='chatt-text'>{{item.data.system}}</span>"><i class="fa fa-commenting"></i></a>
        </div>
        <div class="pullLeft gift-valueBox">
            {{#if ../locked}}
                &nbsp;
            {{ else }}
                <a class="item-delete" title="{{localize "wod.labels.remove.gift"}}" data-type="Gift" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>

    {{/each}}
</div>