<!-- <div class="pullLeft">
    {{#iff actor.type "==" config.sheettype.werewolf}}
    <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/frenzy.svg" data-type="{{config.sheettype.werewolf}}" data-rollfrenzy="true" title="{{localize "wod.dialog.checkfrenzy.headline"}}">
    {{/iff}}

    {{#iff actor.type "==" config.sheettype.mage}}
    <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/castspell.svg" data-type="{{config.sheettype.mage}}" data-rollarete="true" title="{{localize "wod.dialog.aretecasting.castspell"}}">
    {{/iff}}

    <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/initiative.svg" data-source="initiative" title="{{localize "wod.info.rollinititative"}}">
    <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/soak.svg" data-source="soak" title="{{localize "wod.info.rollsoak"}}">
    <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/dice/d10.png" data-source="dices" title="{{localize "wod.info.rolldice"}}">
</div> -->

<div class="pullLeft">
    {{#iff actor.type "==" config.sheettype.werewolf}}
    <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/frenzy.svg" data-macroimage="true" data-rollfrenzy="true" data-type="{{config.sheettype.werewolf}}" title="{{localize "wod.dialog.checkfrenzy.headline"}}">
    {{/iff}}

    {{#iff actor.type "==" config.sheettype.vampire}}
        {{#iff actor.data.data.virtues.selfcontrol.label "==" "wod.advantages.virtue.selfcontrol"}}
        <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/frenzy.svg" data-macroimage="true" data-rollfrenzy="true" data-type="{{config.sheettype.vampire}}" title="{{localize "wod.dialog.checkfrenzy.headline"}}">
        {{/iff}}
    {{/iff}}

    {{#iff actor.type "==" config.sheettype.mage}}
    <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/castspell.svg" data-macroimage="true" data-rollaretecatsing="true"  data-type="{{config.sheettype.mage}}" title="{{localize "wod.dialog.aretecasting.castspell"}}">
    {{/iff}}

    {{#iff eq actor.type "==" "Spirit")}}
        <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/initiative.svg" data-macroimage="true" data-rollinitiative="true" data-type="Spirit" title="{{localize "wod.info.rollinititative"}}">
        <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/soak.svg" data-macroimage="true" data-rollsoak="true" data-type="Spirit" title="{{localize "wod.info.rollsoak"}}">
        <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/dice/d10.png" data-macroimage="true" data-rolldices="true" data-type="Spirit" title="{{localize "wod.info.rolldice"}}">
    {{else}}
        <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/initiative.svg" data-macroimage="true" data-rollinitiative="true" data-type="{{config.sheettype.mortal}}" title="{{localize "wod.info.rollinititative"}}">
        <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/buttons/soak.svg" data-macroimage="true" data-rollsoak="true" data-type="{{config.sheettype.mortal}}" title="{{localize "wod.info.rollsoak"}}">
        <img class="macroBtn pointer" src="systems/worldofdarkness/assets/img/dice/d10.png" data-macroimage="true" data-rolldices="true" data-type="{{config.sheettype.mortal}}" title="{{localize "wod.info.rolldice"}}">
    {{/iff}}
</div>