
<div class="sheet-area">
    <div class="clearareaBox area-box">

        <div class="headlineRow splatFont">
            <div class="clearareaBox">
                <div class="pullLeft notes-largeBox">{{localize "wod.labels.notes.backgrounds"}}</div>
                <div class="pullLeft"><i class="fa-solid fa-square-plus pointer item-create" title="{{localize "wod.labels.add.background"}}" aria-hidden="true" data-itemtype="Feature" data-type="background"></i></div>
            </div>
        </div>

        {{#each actor.backgrounds as |item id|}}

            <div class="clearareaBox row">
                <div class="pullLeft notes-largeBox headlineNormal">
                    {{#if (ne item.name "")}}
                        {{item.name}}
                    {{else}}
                        {{localize "wod.notes.unnamedbackground"}}
                    {{/if}}
                </div>
                <div class="pullLeft notes-valueBox headlineNormal">{{item.system.level}}</div>

                <div class="gift-iconbox">
                    <div class="pullLeft pointer headlineNormal tooltip">
                        <i class="icon fa-solid fa-memo"></i>
                        <span class="tooltiptext">
                            {{#if (ne item.system.description "")}}
                                <b>{{localize "wod.labels.description"}}:</b> {{{item.system.description}}}
                            {{/if}}
                            <br /><br />
                            {{#if (ne item.system.details "")}}
                                <b>{{localize "wod.labels.power.system"}}:</b> {{{item.system.details}}}
                            {{/if}}
                        </span>
                    </div>
                    <div class="pullLeft">
                        <a class="send-chat" 
                            title="{{localize "wod.labels.send"}}"
                            data-type="Fetish" 
                            data-headline="<h2>{{item.name}}</h2>" 
                            data-message="<span class='chatt-headline'>{{localize 'wod.labels.description'}}:</span>
                                            <span class='chatt-text'>{{item.system.description}}</span>
                                            <br />
                                            <span class='chatt-headline'>{{localize 'wod.labels.details'}}:</span>
                                            <span class='chatt-text'>{{item.system.details}}</span>"><i class="icon fa-solid fa-comment-dots"></i></a>
                        {{#if ../locked}}
                            &nbsp;
                        {{ else }}
                            <a class="item-edit" title="{{localize "wod.labels.edit.background"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a>
                            <a class="item-delete" title="{{localize "wod.labels.remove.background"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></a>
                        {{/if}}
                    </div>
                </div>
            </div>

        {{/each}}

    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">

        <div class="headlineRow splatFont">
            <div class="clearareaBox">
                <div class="pullLeft notes-largeBox">{{localize "wod.labels.notes.merits"}}</div>
                <div class="pullLeft"><i class="fa-solid fa-square-plus pointer item-create" title="{{localize "wod.labels.add.merit"}}" aria-hidden="true" data-itemtype="Feature" data-type="merit"></i></div>
            </div>
        </div>

        {{#each actor.merits as |item id|}}

        <div class="clearareaBox row">
            <div class="pullLeft notes-largeBox headlineNormal">
                {{#if (ne item.name "")}}
                    {{item.name}}
                {{else}}
                    {{localize "wod.notes.unnamedmerit"}}
                {{/if}}
            </div>
            <div class="pullLeft notes-valueBox headlineNormal">{{item.system.level}}</div>

            <div class="gift-iconbox">
                <div class="pullLeft pointer headlineNormal tooltip">
                    <i class="icon fa-solid fa-memo"></i>
                    <span class="tooltiptext">
                        {{#if (ne item.system.description "")}}
                            <b>{{localize "wod.labels.description"}}:</b> {{{item.system.description}}}
                        {{/if}}
                        <br /><br />
                        {{#if (ne item.system.details "")}}
                            <b>{{localize "wod.labels.power.system"}}:</b> {{{item.system.details}}}
                        {{/if}}
                    </span>
                </div>
                <div class="pullLeft">
                    <a class="send-chat" 
                        title="{{localize "wod.labels.send"}}"
                        data-type="Fetish" 
                        data-headline="<h2>{{item.name}}</h2>" 
                        data-message="<span class='chatt-headline'>{{localize 'wod.labels.description'}}:</span>
                                        <span class='chatt-text'>{{item.system.description}}</span>
                                        <br />
                                        <span class='chatt-headline'>{{localize 'wod.labels.details'}}:</span>
                                        <span class='chatt-text'>{{item.system.details}}</span>"><i class="icon fa-solid fa-comment-dots"></i></a>
                    {{#if ../locked}}
                        &nbsp;
                    {{ else }}
                        <a class="item-edit" title="{{localize "wod.labels.edit.merits"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a>
                        <a class="item-delete" title="{{localize "wod.labels.remove.merits"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>

        {{/each}}

    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">

        <div class="headlineRow splatFont">
            <div class="clearareaBox">
                <div class="pullLeft notes-largeBox">{{localize "wod.labels.notes.flaws"}}</div>
                <div class="pullLeft"><i class="fa-solid fa-square-plus pointer item-create" title="{{localize "wod.labels.add.flaw"}}" aria-hidden="true" data-itemtype="Feature" data-type="flaw"></i></div>
            </div>
        </div>

        {{#each actor.flaws as |item id|}}

        <div class="clearareaBox row">
            <div class="pullLeft notes-largeBox headlineNormal">
                {{#if (ne item.name "")}}
                    {{item.name}}
                {{else}}
                    {{localize "wod.notes.unnamedflaw"}}
                {{/if}}</div>
            <div class="pullLeft notes-valueBox headlineNormal">{{item.system.level}}</div>

            <div class="gift-iconbox">
                <div class="pullLeft pointer headlineNormal tooltip">
                    <i class="icon fa-solid fa-memo"></i>
                    <span class="tooltiptext">
                        {{#if (ne item.system.description "")}}
                            <b>{{localize "wod.labels.description"}}:</b> {{{item.system.description}}}
                        {{/if}}
                        <br /><br />
                        {{#if (ne item.system.details "")}}
                            <b>{{localize "wod.labels.power.system"}}:</b> {{{item.system.details}}}
                        {{/if}}
                    </span>
                </div>
                <div class="pullLeft">
                    <a class="send-chat" 
                        title="{{localize "wod.labels.send"}}"
                        data-type="Fetish" 
                        data-headline="<h2>{{item.name}}</h2>" 
                        data-message="<span class='chatt-headline'>{{localize 'wod.labels.description'}}:</span>
                                        <span class='chatt-text'>{{item.system.description}}</span>
                                        <br />
                                        <span class='chatt-headline'>{{localize 'wod.labels.details'}}:</span>
                                        <span class='chatt-text'>{{item.system.details}}</span>"><i class="icon fa-solid fa-comment-dots"></i></a>
                    {{#if ../locked}}
                        &nbsp;
                    {{ else }}
                        <a class="item-edit" title="{{localize "wod.labels.remove.flaws"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a>
                        <a class="item-delete" title="{{localize "wod.labels.remove.flaws"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>

        {{/each}}

    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">

        <div class="headlineRow splatFont">
            <div class="clearareaBox">
                <div class="pullLeft notes-largeBox">{{localize "wod.labels.notes.bloodbound"}}</div>
                <div class="pullLeft"><i class="fa-solid fa-square-plus pointer item-create" title="{{localize "wod.labels.add.bloodbound"}}" aria-hidden="true" data-itemtype="Feature" data-type="bloodbound"></i></div>
            </div>
        </div>

        {{#each actor.bloodbounds as |item id|}}
            <div class="clearareaBox row">
                <div class="pullLeft notes-largeBox headlineNormal">
                    {{#if (ne item.name "")}}
                        {{item.name}}
                    {{else}}
                        {{localize "wod.notes.unnamedflaw"}}
                    {{/if}}</div>
                <div class="pullLeft notes-valueBox headlineNormal">{{item.system.level}}</div>

                <div class="gift-iconbox">
                    <div class="pullLeft pointer headlineNormal tooltip">
                        <i class="icon fa-solid fa-memo"></i>
                        <span class="tooltiptext">
                            {{#if (ne item.system.details "")}}
                                <b>{{localize "wod.labels.power.system"}}:</b> {{{item.system.details}}}
                            {{/if}}
                        </span>
                    </div>
                    <div class="pullLeft">
                        <a class="send-chat" 
                            title="{{localize 'wod.labels.send'}}"
                            data-type="Fetish" 
                            data-headline="<h2>{{item.name}}</h2>" 
                            data-message="<span class='chatt-headline'>{{localize 'wod.labels.details'}}:</span>
                                            <span class='chatt-text'>{{item.system.details}}</span>"><i class="icon fa-solid fa-comment-dots"></i></a>
                        {{#if ../locked}}
                            &nbsp;
                        {{ else }}
                            <a class="item-edit" title="{{localize "wod.labels.edit.bloodbound"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a>
                            <a class="item-delete" title="{{localize "wod.labels.remove.bloodbound"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></a>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">
        <div class="headlineRow splatFont">
            <div class="clearareaBox">
                <div class="pullLeft notes-largeBox">{{localize "wod.labels.notes.othertraits"}}</div>
                <div class="pullLeft"><i class="fa-solid fa-square-plus pointer item-create" title="{{localize "wod.labels.add.othertraits"}}" aria-hidden="true" data-itemtype="Trait" data-type="other"></i></div>
            </div>
        </div>

        {{#each actor.othertraits as |item id|}}
            <div class="clearareaBox row">
                <div class="pullLeft notes-largeBox headlineNormal">{{item.name}}</div>

                <div class="pullLeft">
                    <div class="resource-value dotvalueArea" data-value="{{item.system.value}}" style="width: 150px;">
                        <span class="resource-value-empty" data-type="{{../config.sheettype.mortal}}" data-itemid="{{item._id}}"></span>

                        {{#numLoop item.system.max}}

                            <span class="resource-value-step" data-type="{{../../config.sheettype.mortal}}" data-itemid="{{item._id}}" data-index="{{this}}"></span>
                        
                        {{/numLoop}}
                    </div>  
                </div>
                <div class="gift-iconbox">
                    {{#if (eq ../locked false)}}
                        <div class="pullLeft">
                            <a class="item-edit" title="{{localize 'wod.labels.edit.othertraits'}}" data-type="other" data-item-id="{{item._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a>
                            <a class="item-delete" title="{{localize 'wod.labels.remove.othertraits'}}" data-type="other" data-item-id="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}  
    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">

        <div class="pullLeft" style="width:50%">
            <div class="sheet-headline splatFont">{{localize "wod.labels.notes.expearned"}}</div>

            <div style="width: 95%">
                <div class="clearareaBox notes-centerexperienceadd">
                    <div class="pullLeft">
                        <input class="sheet-infoValues {{#if (eq locked false)}}editable{{/if}}" name="totalExp" type="text" value="{{actor.totalExp}}" data-dtype="String" readonly />
                    </div>
                    <div class="pullRight">
                        <i class="fa-solid fa-square-plus pointer item-create" aria-hidden="true" data-itemtype="Experience" data-type="add"></i>
                    </div>
                </div>

                {{#each actor.expearned as |item id|}}

                <div class="clearareaBox row">
                    <div class="pullLeft notes-experienceHeadline headlineNormal">
                        {{#if (ne item.system.description "")}}
                            {{item.system.description}}
                        {{else}}
                            {{localize "wod.notes.descriptionmissing"}}
                        {{/if}}</div>
                    <div class="pullLeft notes-valueBox headlineNormal">{{item.system.amount}}</div>
                    {{#if ../locked}}
                    {{else}}
                    <div class="pullLeft">
                        <a class="item-edit" title="{{localize "wod.labels.edit.experience"}}" data-type="Experience" data-item-id="{{item._id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="item-delete" title="{{localize "wod.labels.remove.experience"}}" data-type="Experience" data-item-id="{{item._id}}"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                    {{/if}}
                </div>

                {{/each}}
            </div>
        </div>

        <div class="pullLeft" style="width:50%">
            <div class="sheet-headline splatFont">{{localize "wod.labels.notes.expspend"}}</div>

            <div style="width: 95%">
                <div class="clearareaBox notes-centerexperienceadd">
                    <div class="pullLeft">
                        <input class="sheet-infoValues {{#if (eq locked false)}}editable{{/if}}" name="spentExp" type="text" value="{{actor.spentExp}}" data-dtype="String" readonly />
                    </div>
                    <div class="pullRight">
                        <i class="fa-solid fa-square-plus pointer item-create" aria-hidden="true" data-itemtype="Experience" data-type="spent"></i>
                    </div>
                </div>

                {{#each actor.expspend as |item id|}}

                <div class="clearareaBox row">
                    <div class="pullLeft notes-experienceHeadline headlineNormal">
                        {{#if (ne item.system.description "")}}
                            {{item.system.description}}
                        {{else}}
                            {{localize "wod.notes.descriptionmissing"}}
                        {{/if}}
                    </div>
                    <div class="pullLeft notes-valueBox headlineNormal">
                        {{#if item.system.isspent}}
                            {{item.system.amount}}
                        {{else}}
                            {{localize "wod.notes.unspent"}}
                        {{/if}}
                    </div>
                    {{#if ../locked}}
                    {{else}}
                        <div class="pullLeft">
                            <a class="item-edit" title="{{localize "wod.labels.edit.experience"}}" data-type="Experience" data-item-id="{{item._id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="item-delete" title="{{localize "wod.labels.remove.experience"}}" data-type="Experience" data-item-id="{{item._id}}"><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                    {{/if}}
                </div>

                {{/each}}
            </div>
        </div>

    </div>
</div>