
<div class="sheet-area">
    <div class="clearareaBox area-box">

        <div class="sheet-headline">{{localize "wod.labels.notes.backgrounds"}}</div>

        {{#each actor.backgrounds as |item id|}}

        <div class="clearareaBox row">
            <div class="pullLeft notes-largeBox headlineNormal">{{captilizeFirst item.name}}</div>
            <div class="pullLeft notes-valueBox headlineNormal">{{item.data.level}}</div>
            <div class="pullLeft notes-largeBox headlineNormal tooltip">
                {{#iff item.data.details "!=" ""}}
                    <i class="fa fa-sticky-note"></i>
                    <span class="tooltiptext">{{localize "wod.labels.description"}}: {{item.data.description}}<br /><br />{{localize "wod.labels.details"}}: {{item.data.details}}</span>
                {{else}}
                    &nbsp;
                {{/iff}}
            </div>
            
            <div class="pullLeft">
                
                {{#if ../locked}}
                &nbsp;
                {{ else }}
                <a class="item-edit" title="{{localize "wod.labels.edit.background"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="fas fa-edit"></i></a>
                <a class="item-delete" title="{{localize "wod.labels.remove.background"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
                {{/if}}
                
            </div>  
        </div>

        {{/each}}

    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">

        <div class="sheet-headline">{{localize "wod.labels.notes.merits"}}</div>

        {{#each actor.merits as |item id|}}

        <div class="clearareaBox row">
            <div class="pullLeft notes-largeBox headlineNormal">{{captilizeFirst item.name}}</div>
            <div class="pullLeft notes-valueBox headlineNormal">{{item.data.level}}</div>
            <div class="pullLeft notes-largeBox headlineNormal tooltip">
                {{#iff item.data.details "!=" ""}}
                    <i class="fa fa-sticky-note"></i>
                    <span class="tooltiptext">{{item.data.details}}</span>
                {{else}}
                    &nbsp;
                {{/iff}}
            </div>
            {{#if ../locked}}
            {{else}}
            <div class="pullLeft">
                <a class="item-edit" title="{{localize "wod.labels.edit.merits"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="fas fa-edit"></i></a>
                <a class="item-delete" title="{{localize "wod.labels.remove.merits"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </div>

        {{/each}}

    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">

        <div class="sheet-headline">{{localize "wod.labels.notes.flaws"}}</div>

        {{#each actor.flaws as |item id|}}

        <div class="clearareaBox row">
            <div class="pullLeft notes-largeBox headlineNormal">{{captilizeFirst item.name}}</div>
            <div class="pullLeft notes-valueBox headlineNormal">{{item.data.level}}</div>
            <div class="pullLeft notes-largeBox headlineNormal tooltip">
                {{#iff item.data.details "!=" ""}}
                    <i class="fa fa-sticky-note"></i>
                    <span class="tooltiptext">{{item.data.details}}</span>
                {{else}}
                    &nbsp;
                {{/iff}}
            </div>
            {{#if ../locked}}
            {{else}}
            <div class="pullLeft">
                <a class="item-edit" title="{{localize "wod.labels.edit.flaws"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="fas fa-edit"></i></a>
                <a class="item-delete" title="{{localize "wod.labels.remove.flaws"}}" data-type="Feature" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </div>

        {{/each}}

    </div>
</div>

<div class="sheet-area">
    <div class="clearareaBox area-box">

        <div class="pullLeft" style="width:50%">
            <div class="sheet-headline">{{localize "wod.labels.notes.expearned"}}</div>

            <div style="width: 90%">
                <div><input class="sheet-infoValues" name="totalExp" type="text" value="{{actor.totalExp}}" data-dtype="String" readonly /></div>

                {{#each actor.expearned as |item id|}}

                <div class="clearareaBox row">
                    <div class="pullLeft notes-experienceHeadline headlineNormal">{{item.data.description}}</div>
                    <div class="pullLeft notes-valueBox headlineNormal">{{item.data.amount}}</div>
                    {{#if ../locked}}
                    {{else}}
                    <div class="pullLeft">
                        <a class="item-edit" title="{{localize "wod.labels.edit.experience"}}" data-type="Experience" data-item-id="{{item._id}}"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="{{localize "wod.labels.remove.experience"}}" data-type="Experience" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </div>

                {{/each}}
            </div>
        </div>

        <div class="pullLeft" style="width:50%">
            <div class="sheet-headline">{{localize "wod.labels.notes.expspend"}}</div>

            <div style="width: 90%">
                <div><input class="sheet-infoValues" name="spentExp" type="text" value="{{actor.spentExp}}" data-dtype="String" readonly /></div>

                {{#each actor.expspend as |item id|}}

                <div class="clearareaBox row">
                    <div class="pullLeft notes-experienceHeadline headlineNormal">
                        {{#iff item.data.description "!=" ""}}
                            {{captilizeFirst item.data.description}}
                        {{else}}
                            &nbsp;
                        {{/iff}}
                    </div>
                    <div class="pullLeft notes-valueBox headlineNormal">
                        {{#if item.data.spent}}
                            {{item.data.amount}}
                        {{else}}
                            &nbsp;
                        {{/if}}
                    </div>
                    {{#if ../locked}}
                    {{else}}
                    <div class="pullLeft">
                        <a class="item-edit" title="{{localize "wod.labels.edit.experience"}}" data-type="Experience" data-item-id="{{item._id}}"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="{{localize "wod.labels.remove.experience"}}" data-type="Experience" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </div>

                {{/each}}
            </div>
        </div>

    </div>
</div>