{{!-- Discipline Tab --}}
<div class="tab discipline" data-group="primary" data-tab="discipline">

    {{> "systems/worldofdarkness/templates/actor/parts/vampire/disciplines.html"}}

</div>

{{!-- Gift Tab --}}
<div class="tab gift" data-group="primary" data-tab="gift">

    {{> "systems/worldofdarkness/templates/actor/parts/werewolf/gift.html"}}
    {{> "systems/worldofdarkness/templates/actor/parts/werewolf/rites.html"}}

</div>

{{!-- Dreaming Tab --}}
<div class="tab dreaming" data-group="primary" data-tab="dreaming">

    {{> "systems/worldofdarkness/templates/actor/parts/changeling/dreaming.html"}}

</div>

{{!-- Power Tab --}}
<div class="tab power" data-group="primary" data-tab="power">

    {{> "systems/worldofdarkness/templates/actor/parts/creature/power.html"}}

</div>