<nav class="sheet-tabs tabs" data-group="secondary">
	<a class="item" data-tab="description"><i class="fa fa-question"></i></a>
</nav>

<div>
	<label for="actor.worldanvil" class="" data-label="{{actor.worldanvil}}">World Anvil</label>
	<input class="sheet-infoValues" name="data.worldanvil" type="text" value="{{data.data.worldanvil}}" data-name="data.data.worldanvil" {{#if locked}} readonly {{/if}} />
</div>

Antalet boxar i health <br />
<div>
	<label for="data.data.health.bruised.value" class="headlineGroup centerText" data-label="{{data.data.health.bruised.value}}" data-ability="true">{{localize "wod.health.bruised"}}</label>
	<input class="sheet-infoValues" name="data.health.bruised.value" type="text" value="{{data.data.health.bruised.value}}" data-name="data.data.health.bruised.value" {{#if locked}} readonly {{/if}} />
</div>

<div>
	<label for="data.data.health.hurt.value" class="headlineGroup centerText" data-label="{{data.data.health.hurt.value}}" data-ability="true">{{localize "wod.health.hurt"}}</label>	
	<input class="sheet-infoValues" name="data.health.hurt.value" type="text" value="{{data.data.health.hurt.value}}" data-name="data.data.health.hurt.value" {{#if locked}} readonly {{/if}} />
</div>

<div>
	<label for="data.data.health.injured.value" class="headlineGroup centerText" data-label="{{data.data.health.injured.value}}" data-ability="true">{{localize "wod.health.injured"}}</label>
	<input class="sheet-infoValues" name="data.health.injured.value" type="text" value="{{data.data.health.injured.value}}" data-name="data.data.health.injured.value" {{#if locked}} readonly {{/if}} />
</div>

<div>
	<label for="data.data.health.wounded.value" class="headlineGroup centerText" data-label="{{data.data.health.wounded.value}}" data-ability="true">{{localize "wod.health.wounded"}}</label>
	<input class="sheet-infoValues" name="data.health.wounded.value" type="text" value="{{data.data.health.wounded.value}}" data-name="data.data.health.wounded.value" {{#if locked}} readonly {{/if}} />
</div>

<div>
	<label for="data.data.health.mauled.value" class="headlineGroup centerText" data-label="{{data.data.health.mauled.value}}" data-ability="true">{{localize "wod.health.mauled"}}</label>
	<input class="sheet-infoValues" name="data.health.mauled.value" type="text" value="{{data.data.health.mauled.value}}" data-name="data.data.health.mauled.value" {{#if locked}} readonly {{/if}} />
</div>

<div>
	<label for="data.data.health.crippled.value" class="headlineGroup centerText" data-label="{{data.data.health.crippled.value}}" data-ability="true">{{localize "wod.health.crippled"}}</label>
	<input class="sheet-infoValues" name="data.health.crippled.value" type="text" value="{{data.data.health.crippled.value}}" data-name="data.data.health.crippled.value" {{#if locked}} readonly {{/if}} />
</div>

<div>
	<label for="data.data.health.incapacitated.value" class="headlineGroup centerText" data-label="{{data.data.health.incapacitated.value}}" data-ability="true">{{localize "wod.health.incapacitated"}}</label>
	<input class="sheet-infoValues" name="data.health.incapacitated.value" type="text" value="{{data.data.health.incapacitated.value}}" data-name="data.data.health.incapacitated.value" {{#if locked}} readonly {{/if}} />
</div>
<div>
	<label for="data.data.health.damage.bashing" class="headlineGroup centerText" data-label="{{data.data.health.damage.bashing}}" data-ability="true">{{localize "wod.label.numberdamagebashing"}}</label>
	<input class="sheet-infoValues" name="data.health.damage.bashing" type="text" value="{{data.data.health.damage.bashing}}" data-name="data.data.health.damage.bashing" {{#if locked}} readonly {{/if}} />
</div>
<div>
	<label for="ddata.data.health.damage.lethal" class="headlineGroup centerText" data-label="{{data.data.health.damage.lethal}}" data-ability="true">{{localize "wod.label.numberdamagelethal"}}</label>
	<input class="sheet-infoValues" name="data.health.damage.lethal" type="text" value="{{data.data.health.damage.lethal}}" data-name="data.data.health.damage.lethal" {{#if locked}} readonly {{/if}} />
</div>
<div>
	<label for="data.data.health.damage.aggravated" class="headlineGroup centerText" data-label="{{data.data.health.damage.aggravated}}" data-ability="true">{{localize "wod.label.numberdamageaggravated"}}</label>
	<input class="sheet-infoValues" name="data.health.damage.aggravated" type="text" value="{{data.data.health.damage.aggravated}}" data-name="data.data.health.damage.aggravated" {{#if locked}} readonly {{/if}} />
</div>