{{#if (ne actor.type config.sheettype.spirit)}}

    <div class="sheet-area">
        <div class="clearareaBox">
            <div class="secondHeadlineTabs splatFont">{{localize 'wod.tab.attribute'}}</div>
            <div class="clearareaBox">
                <div class="pullLeft headlineNormal settings-leftwidth">&nbsp;</div>
                <div class="pullLeft headlineNormal numberBox">{{localize 'wod.labels.value'}}</div>
                <div class="pullLeft headlineNormal numberBox">{{localize 'wod.labels.bonus.headline'}}</div>
                <div class="pullLeft headlineNormal numberBox">{{localize 'wod.labels.total'}}</div>
                <div class="pullLeft headlineNormal numberBox">{{localize 'wod.labels.max'}}</div>
            </div>

            {{#each data.system.attributes as |attribute key|}}
        
                {{#if attribute.isvisible}}
                <div class="clearareaBox">
                    <label for="data.system.attributes.{{key}}.value" class="pullLeft headlineNormal settings-leftwidth">{{localize attribute.label}}</label>	
                    <input class="pullLeft sheet-infoValues numberBox" type="text" value="{{attribute.value}}" readonly />
                    <input class="pullLeft sheet-infoValues numberBox inputdata {{#if locked}}{{else}}editable{{/if}}" type="text" value="{{attribute.bonus}}" name="system.attributes.{{key}}.bonus" 
                        data-source="attribute"
                        data-attribute="{{key}}"
                        data-dtype="Number" {{#if locked}} readonly {{/if}} />
                    <input class="pullLeft sheet-infoValues numberBox" type="text" value="{{attribute.total}}" readonly />
                    <input class="pullLeft sheet-infoValues numberBox {{#if locked}}{{else}}editable{{/if}}" type="text" value="{{attribute.max}}" name="system.attributes.{{key}}.max" 
                        data-value="{{attribute.max}}" 
                        data-name="data.system.attributes.{{key}}.max" 
                        data-dtype="Number" {{#if locked}} readonly {{/if}} />
                </div>
                {{/if}}
                
            {{/each}}
        </div>
        <div class="clearareaBox information-area">
            {{localize 'wod.info.settings.attribute1'}}<br />
            {{localize 'wod.info.settings.attribute2'}}<br />
            {{localize 'wod.info.settings.attribute3'}}<br />
            {{localize 'wod.info.settings.attribute4'}}
        </div>
    </div>

    {{/if}}

    {{#if (eq actor.type config.sheettype.vampire)}}

    <div class="sheet-area" data-area="pathsetting">
        <div class="clearareaBox area-box">
            <div class="secondHeadlineTabs splatFont">{{localize "wod.labels.settings.path"}}</div>
            <label for="data.system.advantages.path.label" class="pullLeft headlineNormal" style="width: 150px;">{{localize "wod.labels.settings.selectpath"}}</label>
            <div class="pullLeft">

                {{#if locked}}
                    <input class="sheet-infoValues" type="text" value="{{localize data.system.advantages.path.label}}" data-dtype="String" readonly />
                {{else}}
                    <select class="selectedPath sheet-infoValues editable" data-type="{{config.sheettype.vampire}}" name="system.advantages.path.label" data-name="data.system.advantages.path.label" data-dtype="String">
                        {{#select data.system.advantages.path.label}}
                            <option value="wod.advantages.path.humanity">{{localize 'wod.advantages.path.humanity'}}</option>
                            <option value="wod.advantages.path.blood">{{localize 'wod.advantages.path.blood'}}</option>
                            <option value="wod.advantages.path.bones">{{localize 'wod.advantages.path.bones'}}</option>
                            <option value="wod.advantages.path.caine">{{localize 'wod.advantages.path.caine'}}</option>
                            <option value="wod.advantages.path.cathari">{{localize 'wod.advantages.path.cathari'}}</option>
                            <option value="wod.advantages.path.feralheart">{{localize 'wod.advantages.path.feralheart'}}</option>
                            <option value="wod.advantages.path.accord">{{localize 'wod.advantages.path.accord'}}</option>
                            <option value="wod.advantages.path.lilith">{{localize 'wod.advantages.path.lilith'}}</option>
                            <option value="wod.advantages.path.metamorphosis">{{localize 'wod.advantages.path.metamorphosis'}}</option>
                            <option value="wod.advantages.path.night">{{localize 'wod.advantages.path.night'}}</option>
                            <option value="wod.advantages.path.paradox">{{localize 'wod.advantages.path.paradox'}}</option>
                            <option value="wod.advantages.path.innervoice">{{localize 'wod.advantages.path.innervoice'}}</option>
                            <option value="wod.advantages.path.typhon">{{localize 'wod.advantages.path.typhon'}}</option>
                        {{/select}}
                    </select>
                {{/if}}

            </div>
        </div>
    </div>

    {{/if}}

    {{#if (eqAny actor.type config.sheettype.vampire config.sheettype.werewolf)}}

    <div class="sheet-area" data-area="frenzysetting">
        <div class="clearareaBox">
            <div class="secondHeadlineTabs splatFont">{{localize "wod.labels.settings.frenzyroll"}}</div>
            <label for="data.system.advantages.rage.bonus" class="pullLeft headlineNormal settings-leftwidth">{{localize "wod.labels.settings.frenzybonus"}}</label>
            <input class="sheet-infoValues numberBox inputdata {{#if (eq locked false)}}editable{{/if}}" name="system.advantages.rage.bonus" type="text" value="{{data.system.advantages.rage.bonus}}"
                data-source="frenzy"
                data-dtype="Number" {{#if locked}} readonly {{/if}} />
        </div>
    </div>

    {{/if}}

    {{#if (eq actor.type config.sheettype.changingbreed)}}
    {{#if data.system.settings.hasrage}}
        
        <div class="sheet-area" data-area="frenzysetting">
            <div class="clearareaBox">
                <div class="secondHeadlineTabs splatFont">{{localize "wod.labels.settings.frenzyroll"}}</div>
                <label for="data.system.advantages.rage.bonus" class="pullLeft headlineNormal settings-leftwidth">{{localize "wod.labels.settings.frenzybonus"}}</label>
                <input class="sheet-infoValues numberBox inputdata {{#if (eq locked false)}}editable{{/if}}" name="system.advantages.rage.bonus" type="text" value="{{data.system.advantages.rage.bonus}}"
                    data-source="frenzy"
                    data-dtype="Number" {{#if locked}} readonly {{/if}} />
            </div>
        </div>

    {{/if}}
    {{/if}}

    {{#if (eqAny actor.type config.sheettype.mortal config.sheettype.creature)}}

    <div class="sheet-area">
        <div class="clearareaBox">
            <div class="secondHeadlineTabs splatFont">{{localize "wod.labels.settings.usedadvantages"}}</div>

            <div class="clearareaBox row">
                <label for="data.system.settings.haspath" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.path.headline'}}</label>
                <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="haspath" data-type="{{config.sheettype.mortal}}">
                    {{#if data.system.settings.haspath}}
                        <i class="icon fa-solid fa-eye"></i>
                    {{else}}
                        <i class="icon fa-solid fa-eye-slash"></i>
                    {{/if}}
                </div>
            </div>

            <div class="clearareaBox row">
                <label for="data.system.settings.hasbloodpool" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.bloodpool'}}</label>
                <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="hasbloodpool" data-type="{{config.sheettype.mortal}}">
                    {{#if data.system.settings.hasbloodpool}}
                        <i class="icon fa-solid fa-eye"></i>
                    {{else}}
                        <i class="icon fa-solid fa-eye-slash"></i>
                    {{/if}}
                </div>
            </div>

            <div class="clearareaBox row">
                <label for="data.system.settings.hasvirtue" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.virtue.headline'}}</label>
                <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="hasvirtue" data-type="{{config.sheettype.mortal}}">
                    {{#if data.system.settings.hasvirtue}}
                        <i class="icon fa-solid fa-eye"></i>
                    {{else}}
                        <i class="icon fa-solid fa-eye-slash"></i>
                    {{/if}}
                </div>
            </div>
            
            <div class="clearareaBox row">
                <label for="data.system.settings.hasrage" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.rage'}}</label>
                <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="hasrage" data-type="{{config.sheettype.mortal}}">
                    {{#if data.system.settings.hasrage}}
                        <i class="icon fa-solid fa-eye"></i>
                    {{else}}
                        <i class="icon fa-solid fa-eye-slash"></i>
                    {{/if}}
                </div>
            </div>	

            <div class="clearareaBox row">
                <label for="data.system.settings.hasgnosis" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.gnosis'}}</label>
                <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="hasgnosis" data-type="{{config.sheettype.mortal}}">
                    {{#if data.system.settings.hasgnosis}}
                        <i class="icon fa-solid fa-eye"></i>
                    {{else}}
                        <i class="icon fa-solid fa-eye-slash"></i>
                    {{/if}}
                </div>
            </div>

            <div class="clearareaBox row">
                <label for="data.system.settings.hasglamour" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.glamour'}}</label>
                <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="hasglamour" data-type="{{config.sheettype.mortal}}">
                    {{#if data.system.settings.hasglamour}}
                        <i class="icon fa-solid fa-eye"></i>
                    {{else}}
                        <i class="icon fa-solid fa-eye-slash"></i>
                    {{/if}}
                </div>
            </div>

            <div class="clearareaBox row">
                <label for="data.system.settings.hasbanality" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.banality'}}</label>
                <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="hasbanality" data-type="{{config.sheettype.mortal}}">
                    {{#if data.system.settings.hasbanality}}
                        <i class="icon fa-solid fa-eye"></i>
                    {{else}}
                        <i class="icon fa-solid fa-eye-slash"></i>
                    {{/if}}
                </div>
            </div>

            <div class="clearareaBox row">
                <label for="data.system.settings.hasfaith" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.faith'}}</label>
                <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="hasfaith" data-type="{{config.sheettype.mortal}}">
                    {{#if data.system.settings.hasfaith}}
                        <i class="icon fa-solid fa-eye"></i>
                    {{else}}
                        <i class="icon fa-solid fa-eye-slash"></i>
                    {{/if}}
                </div>
            </div>

            <div class="clearareaBox row">
                <label for="data.system.settings.haswillpower" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.willpower'}}</label>
                <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="haswillpower" data-type="{{config.sheettype.mortal}}">
                    {{#if data.system.settings.haswillpower}}
                        <i class="icon fa-solid fa-eye"></i>
                    {{else}}
                        <i class="icon fa-solid fa-eye-slash"></i>
                    {{/if}}
                </div>
            </div>

            {{#if (eq actor.type config.sheettype.creature)}}

                <div class="clearareaBox row">
                    <label for="data.system.settings.hasessence" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.essence'}}</label>
                    <div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="hasessence" data-type="{{config.sheettype.mortal}}">
                        {{#if data.system.settings.hasessence}}
                            <i class="icon fa-solid fa-eye"></i>
                        {{else}}
                            <i class="icon fa-solid fa-eye-slash"></i>
                        {{/if}}
                    </div>
                </div>

            {{/if}}
            
        </div>
    </div>

    {{#if data.system.settings.hasbloodpool}}

        <div class="sheet-area">
            <div class="clearareaBox">
                <div class="secondHeadlineTabs splatFont">{{localize "wod.advantages.bloodpool"}}</div>
                <label for="data.system.advantages.bloodpool.perturn" class="pullLeft headlineNormal" style="width: 150px;" 
                    data-label="{{data.system.advantages.bloodpool.perturn}}" 
                        data-ability="true">{{localize "wod.advantages.perturn"}}</label>
                <input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" 
                    name="system.advantages.bloodpool.perturn" 
                    type="text" 
                    value="{{data.system.advantages.bloodpool.perturn}}" 
                    data-name="data.system.advantages.bloodpool.perturn" 
                    data-dtype="Number" {{#if locked}} readonly {{/if}} />
            </div>
        </div>
        
    {{/if}}

    {{/if}}		

    {{#if (eqAny actor.type config.sheettype.spirit config.sheettype.creature)}}

    {{#if data.system.settings.hasessence}}

        <div class="sheet-area">
            <div class="clearareaBox">
                <div class="secondHeadlineTabs splatFont">{{localize 'wod.labels.settings.essencevalue'}}</div>
                <label for="data.system.advantages.essence.max" class="pullLeft headlineNormal" style="width: 150px;" 
                    data-label="{{data.system.advantages.essence.max}}" 
                        data-ability="true">{{localize "wod.advantages.essence"}}</label>
                <input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" 
                    name="system.advantages.essence.max" 
                    type="text" 
                    value="{{data.system.advantages.essence.max}}" 
                    value="{{data.system.advantages.essence.max}}" 
                    data-name="data.system.advantages.essence.max" 
                    data-dtype="Number" />
            </div>
        </div>

    {{/if}}

{{/if}}