<div class="sheet-area">
    <div class="headlineText splatFont">LANG: Graphics</div>

    <div class="clearareaBox">
        <div class="pullLeft headlineNormal settings-leftwidth">{{localize "wod.labels.settings.sheetfont"}}</div>
        <div class="pullLeft switch settings-leftwidth settings-verticalcenter bold centerText pointer splatFont" data-source="usesplatfont" data-type="{{config.sheettype.mortal}}">
            {{#if data.system.settings.usesplatfont}}
                {{localize "wod.labels.yes"}}
            {{else}}
                {{localize "wod.labels.no"}}
            {{/if}}
        </div>
    </div>
</div>

{{#if (eqAny actor.type config.sheettype.mortal config.sheettype.mage config.sheettype.vampire config.sheettype.werewolf)}}

    <div class="sheet-area">
        <div class="headlineText splatFont">LANG: Era</div>

        {{#if (eqAny actor.type config.sheettype.mortal config.sheettype.vampire)}}
            <button class="dialog-three-button fullSplatColor button sheet_modern {{#if (eq actor.system.settings.era config.era.modern)}}active{{/if}}" data-type="{{config.sheettype.vampire}}">LANG: Modern (20th)</button>
            <button class="dialog-three-button fullSplatColor button sheet_victorian {{#if (eq actor.system.settings.era config.era.victorian)}}active{{/if}}" data-type="{{config.sheettype.vampire}}">LANG: Victorian Age (20th)</button>
            <button class="dialog-three-button fullSplatColor button sheet_darkages {{#if (eq actor.system.settings.era config.era.darkages)}}active{{/if}}" data-type="{{config.sheettype.vampire}}">LANG: Dark Ages (20th)</button>
        {{/if}}
        {{#if (eqAny actor.type config.sheettype.mage)}}
            <button class="dialog-three-button fullSplatColor button sheet_modern {{#if (eq actor.system.settings.era config.era.modern)}}active{{/if}}" >LANG: Modern (20th)</button>
            <button class="dialog-three-button fullSplatColor button sheet_victorian {{#if (eq actor.system.settings.era config.era.victorian)}}active{{/if}}" >LANG: Victorian Age (20th)</button>
        {{/if}}
        {{#if (eqAny actor.type config.sheettype.werewolf)}}
            <button class="dialog-three-button fullSplatColor button sheet_modern {{#if (eq actor.system.settings.era config.era.modern)}}active{{/if}}" data-type="{{config.sheettype.werewolf}}">LANG: Modern (20th)</button>
            <button class="dialog-three-button fullSplatColor button sheet_victorian {{#if (eq actor.system.settings.era config.era.victorian)}}active{{/if}}" data-type="{{config.sheettype.werewolf}}">LANG: Wild West (20th)</button>
            <button class="dialog-three-button fullSplatColor button sheet_darkages {{#if (eq actor.system.settings.era config.era.darkages)}}active{{/if}}" data-type="{{config.sheettype.werewolf}}">LANG: Dark Ages (20th)</button>
        {{/if}}

        <div class="clearareaBox information-area">
            LANG: To change this setting means that the abilities of the sheet is re-configurated to fit the chosen area.<br />
            LANG: This can cause existing abilities to be hidden.
        </div>
    </div>

{{/if}}

{{#if (eqAny actor.type config.sheettype.mortal config.sheettype.creature)}}

    <div class="sheet-area">
        <div class="headlineText splatFont">LANG: Set sheet type</div>

        <button>LANG: Autumn people</button>

        {{#if (eq actor.type config.sheettype.creature)}}
            <button>LANG: Chimera</button>
        {{/if}}

        <button>LANG: Dreamer</button>
        <button>LANG: Ghoul</button>
        <button>LANG: Kinfolk</button>        
        <button>LANG: True Faith</button>

        <div class="clearareaBox information-area">
            LANG: Setting this only sets the sheet to activate the advantages the choosen type uses.<br />
            LANG: Possible system settings are NOT over-ridden.
        </div>
    </div>

{{/if}} 