<section class="sheet-setting-body">

	<nav class="sheet-setting-tabs tabs" data-group="secondary">
		<a class="item secondHeadlineTabs" data-tab="attributes">{{localize "wod.attributes.attributes"}}</a>

		{{#if (ne actor.type config.sheettype.spirit)}}
			<a class="item secondHeadlineTabs" data-tab="abilities">{{localize "wod.abilities.abilities"}}</a>

				{{#if (eq actor.type config.sheettype.mage)}}
					<a class="item secondHeadlineTabs" data-tab="power">{{localize "wod.tab.power"}}</a>
				{{/if}}

			<a class="item secondHeadlineTabs" data-tab="combat">{{localize 'wod.tab.combat'}}</a>
		{{/if}}

		<a class="item secondHeadlineTabs" data-tab="sheetsetting">{{localize 'wod.tab.sheet'}}</a>

		<!-- {{#if isGM}}
			<a class="item secondHeadlineTabs" data-tab="st">ST</a>
		{{/if}} -->
	</nav>

	{{!-- Attribute Tab --}}
	<div class="tab attributes" data-group="secondary" data-tab="attributes">

		{{#if (ne actor.type config.sheettype.spirit)}}

			<div class="sheet-area">
				<div class="clearareaBox">
					<div class="secondHeadlineTabs splatFont">{{localize 'wod.tab.attribute'}}</div>
					<div class="clearareaBox">
						<div class="pullLeft headlineNormal settings-leftwidth">&nbsp;</div>
						<div class="pullLeft headlineNormal numberBox">{{localize 'wod.labels.value'}}</div>
						<div class="pullLeft headlineNormal numberBox">{{localize 'wod.labels.bonus'}}</div>
						<div class="pullLeft headlineNormal numberBox">{{localize 'wod.labels.total'}}</div>
						<div class="pullLeft headlineNormal numberBox">{{localize 'wod.labels.max'}}</div>
					</div>

					{{#each data.data.attributes as |attribute key|}}
				
						{{#if attribute.isvisible}}
						<div class="clearareaBox">
							<label for="data.data.attributes.{{key}}.value" class="pullLeft headlineNormal settings-leftwidth">{{localize attribute.label}}</label>	
							<input class="pullLeft sheet-infoValues numberBox" type="text" value="{{attribute.value}}" readonly />
							<input class="pullLeft sheet-infoValues numberBox inputdata {{#if locked}}{{else}}editable{{/if}}" type="text" value="{{attribute.bonus}}" name="data.attributes.{{key}}.bonus" 
								data-source="attribute"
								data-attribute="{{key}}"
								data-dtype="Number" {{#if locked}} readonly {{/if}} />
							<input class="pullLeft sheet-infoValues numberBox" type="text" value="{{attribute.total}}" readonly />
							<input class="pullLeft sheet-infoValues numberBox" type="text" value="{{attribute.max}}" name="data.attributes.{{key}}.max" 
								data-value="{{attribute.max}}" 
								data-name="data.attributes.{{key}}.max" 
								data-dtype="Number" {{#if locked}} readonly {{/if}} />
						</div>
						{{/if}}
						
					{{/each}}
				</div>
				<div class="clearareaBox information-area">
					{{localize 'wod.info.settings.attribute1'}}<br />
					{{localize 'wod.info.settings.attribute2'}}<br />
					{{localize 'wod.info.settings.attribute3'}}<br />
					{{localize 'wod.info.settings.attribute4'}}
				</div>
			</div>

		{{/if}}

		{{#if (eq actor.type config.sheettype.vampire)}}

			<div class="sheet-area">
				<div class="clearareaBox area-box">
					<div class="secondHeadlineTabs splatFont">{{localize "wod.labels.settings.path"}}</div>
					<label for="data.data.path.label" class="pullLeft headlineNormal" style="width: 150px;">{{localize "wod.labels.settings.selectpath"}}</label>
					<div class="pullLeft">

						{{#if locked}}
							<input class="sheet-infoValues" type="text" value="{{localize data.data.path.label}}" data-dtype="String" readonly />
						{{else}}
							<select class="selectedPath sheet-infoValues editable" data-type="{{config.sheettype.vampire}}" name="data.path.label" data-name="data.data.path.label" data-dtype="String">
								{{#select data.data.path.label}}
									<option value="wod.advantages.path.humanity">{{localize 'wod.advantages.path.humanity'}}</option>
									<option value="wod.advantages.path.blood">{{localize 'wod.advantages.path.blood'}}</option>
									<option value="wod.advantages.path.bones">{{localize 'wod.advantages.path.bones'}}</option>
									<option value="wod.advantages.path.caine">{{localize 'wod.advantages.path.caine'}}</option>
									<option value="wod.advantages.path.cathari">{{localize 'wod.advantages.path.cathari'}}</option>
									<option value="wod.advantages.path.feralheart">{{localize 'wod.advantages.path.feralheart'}}</option>
									<option value="wod.advantages.path.accord">{{localize 'wod.advantages.path.accord'}}</option>
									<option value="wod.advantages.path.lilith">{{localize 'wod.advantages.path.lilith'}}</option>
									<option value="wod.advantages.path.metamorphosis">{{localize 'wod.advantages.path.metamorphosis'}}</option>
									<option value="wod.advantages.path.night">{{localize 'wod.advantages.path.night'}}</option>
									<option value="wod.advantages.path.paradox">{{localize 'wod.advantages.path.paradox'}}</option>
									<option value="wod.advantages.path.innervoice">{{localize 'wod.advantages.path.innervoice'}}</option>
									<option value="wod.advantages.path.typhon">{{localize 'wod.advantages.path.typhon'}}</option>
								{{/select}}
							</select>
						{{/if}}

					</div>
				</div>
			</div>

		{{/if}}

		{{#if (eqAny actor.type config.sheettype.vampire config.sheettype.werewolf)}}

			<div class="sheet-area">
				<div class="clearareaBox">
					<div class="secondHeadlineTabs splatFont">{{localize "wod.labels.settings.frenzyroll"}}</div>
					<label for="data.data.rage.bonus" class="pullLeft headlineNormal settings-leftwidth">{{localize "wod.labels.settings.frenzybonus"}}</label>
					<input class="sheet-infoValues numberBox inputdata {{#if (eq locked false)}}editable{{/if}}" name="data.rage.bonus" type="text" value="{{data.data.rage.bonus}}"
						data-source="frenzy"
						data-dtype="Number" {{#if locked}} readonly {{/if}} />
				</div>
			</div>

		{{/if}}
		
		{{#if (eq actor.type config.sheettype.creature)}}

			<div class="sheet-area">
				<div class="clearareaBox">
					<div class="secondHeadlineTabs splatFont">{{localize "wod.labels.settings.usedadvantages"}}</div>
					<div class="clearareaBox row">
						<label for="data.data.settings.hasrage" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.rage'}}</label>
						<div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="rage" data-type="{{config.sheettype.creature}}">
							{{#if data.data.settings.hasrage}}
								{{localize "wod.labels.settings.yes"}}
							{{else}}
								{{localize "wod.labels.settings.no"}}
							{{/if}}
						</div>
					</div>	

					<div class="clearareaBox row">
						<label for="data.data.settings.hasgnosis" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.gnosis'}}</label>
						<div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="gnosis" data-type="{{config.sheettype.creature}}">
							{{#if data.data.settings.hasgnosis}}
								{{localize "wod.labels.settings.yes"}}
							{{else}}
								{{localize "wod.labels.settings.no"}}
							{{/if}}
						</div>
					</div>

					<div class="clearareaBox row">
						<label for="data.data.settings.haswillpower" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.willpower'}}</label>
						<div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="willpower" data-type="{{config.sheettype.creature}}">
							{{#if data.data.settings.haswillpower}}
								{{localize "wod.labels.settings.yes"}}
							{{else}}
								{{localize "wod.labels.settings.no"}}
							{{/if}}
						</div>
					</div>

					<div class="clearareaBox row">
						<label for="data.data.settings.hasessence" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.essence'}}</label>
						<div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="essence" data-type="{{config.sheettype.creature}}">
							{{#if data.data.settings.hasessence}}
								{{localize "wod.labels.settings.yes"}}
							{{else}}
								{{localize "wod.labels.settings.no"}}
							{{/if}}
						</div>
					</div>

					<div class="clearareaBox row">
						<label for="data.data.settings.hasbloodpool" class="pullLeft headlineNormal" style="width: 150px;">{{localize 'wod.advantages.bloodpool'}}</label>
						<div class="switch headlineNormal bold pointer splatFont" data-source="advantages" data-switchtype="bloodpool" data-type="{{config.sheettype.creature}}">
							{{#if data.data.settings.hasbloodpool}}
								{{localize "wod.labels.settings.yes"}}
							{{else}}
								{{localize "wod.labels.settings.no"}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>

		{{/if}}

		{{#if (eqAny actor.type config.sheettype.spirit config.sheettype.creature)}}

		<div class="sheet-area">
			<div class="clearareaBox">
				<div class="secondHeadlineTabs splatFont">{{localize 'wod.labels.settings.essencevalue'}}</div>
				<label for="data.data.essence.max" class="pullLeft headlineNormal" style="width: 150px;" 
					data-label="{{data.data.essence.max}}" 
						data-ability="true">{{localize "wod.advantages.essence"}}</label>
				<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" 
					name="data.essence.max" 
					type="text" 
					value="{{data.data.essence.max}}" 
					data-name="data.data.essence.max" 
					data-dtype="Number" />
			</div>
		</div>

		{{/if}}

	</div>

	{{!-- Abilities Tab --}}
	<div class="tab abilities" data-group="secondary" data-tab="abilities">

		<div class="sheet-area">
			<div class="clearareaBox">

				<div class="clearareaBox">
					<div class="ability-statArea pullLeft headlineGroup splatFont centerText">{{localize "wod.abilities.talents"}}</div>
					<div class="ability-statArea pullLeft headlineGroup splatFont centerText">{{localize "wod.abilities.skills"}}</div>
					<div class="ability-statArea pullLeft headlineGroup splatFont centerText">{{localize "wod.abilities.knowledges"}}</div>
				</div>
				
				<div class="ability-statArea pullLeft">
				
					{{#each data.data.abilities.talent as |ability key|}}	

						{{#if (ne ability.label undefined)}}
					
							<div class="clearareaBox row">
								<label for="data.data.abilities.talent.{{key}}.value" class="pullLeft headlineNormal" style="width: 200px;">{{localize ability.label}}</label>
								<div class="switch headlineNormal bold pointer splatFont" data-label="{{key}}" data-switchtype="talent" data-source="ability" data-type="{{../config.sheettype.mortal}}">
									{{#if ability.isvisible}}
									{{localize "wod.labels.settings.added"}}
									{{else}}
									{{localize "wod.labels.settings.removed"}}
									{{/if}}
								</div>
							</div>	

						{{/if}}
					
					{{/each}}
				
				</div>
				<div class="ability-statArea pullLeft">
				
					{{#each data.data.abilities.skill as |ability key|}}

						{{#if (ne ability.label undefined)}}
					
							<div class="clearareaBox row">
								<label for="data.data.abilities.skill.{{key}}.value" class="pullLeft headlineNormal" style="width: 200px;">{{localize ability.label}}</label>

								<div class="switch headlineNormal bold pointer splatFont" data-label="{{key}}" data-switchtype="skill" data-source="ability" data-type="{{../config.sheettype.mortal}}">
									{{#if ability.isvisible}}
									{{localize "wod.labels.settings.added"}}
									{{else}}
									{{localize "wod.labels.settings.removed"}}
									{{/if}}
								</div>
							</div>

						{{/if}}
					
					{{/each}}
				
				</div>
				<div class="ability-statArea pullLeft">

					{{#each data.data.abilities.knowledge as |ability key|}}

						{{#if (ne ability.label undefined)}}
					
							{{#if (eq ../actor.type ../config.sheettype.mage)}}
								{{#if (eq key "technology")}}
									{{#if ability.isvisible}}
										<div class="clearareaBox row">
											<label for="data.data.abilities.knowledge.{{key}}.value" class="pullLeft headlineNormal" style="width: 200px;">{{localize ability.label}}</label>

											<div class="switch headlineNormal bold pointer splatFont" data-label="{{key}}" data-switchtype="knowledge" data-source="ability" data-type="{{../config.sheettype.mortal}}">
												{{localize "wod.labels.settings.removed"}}
											</div>
										</div>
									{{/if}}
								{{else}}
									<div class="clearareaBox row">
										<label for="data.data.abilities.knowledge.{{key}}.value" class="pullLeft headlineNormal" style="width: 200px;">{{localize ability.label}}</label>

										<div class="switch headlineNormal bold pointer splatFont" data-label="{{key}}" data-switchtype="knowledge" data-source="ability" data-type="{{../config.sheettype.mortal}}">
											{{#if ability.isvisible}}										
												{{localize "wod.labels.settings.added"}}
											{{else}}
												{{localize "wod.labels.settings.removed"}}
											{{/if}}
										</div>
									</div>
								{{/if}}
							{{else}}
								<div class="clearareaBox row">
									<label for="data.data.abilities.knowledge.{{key}}.value" class="pullLeft headlineNormal" style="width: 200px;">{{localize ability.label}}</label>

									<div class="switch headlineNormal bold pointer splatFont" data-label="{{key}}" data-switchtype="knowledge" data-source="ability" data-type="{{../config.sheettype.mortal}}">
										{{#if ability.isvisible}}									
											{{localize "wod.labels.settings.added"}}
										{{else}}
										{{localize "wod.labels.settings.removed"}}
										{{/if}}
									</div>
								</div>
							{{/if}}

						{{/if}}
					
					{{/each}}
				
				</div>
			</div>
		</div>

	</div>

	{{!-- Power Tab --}}
	<div class="tab power" data-group="secondary" data-tab="power">

		<div class="sheet-area">
			<div class="clearareaBox">
				<label for="data.data.paradox.permanent" class="secondHeadlineTabs splatFont" style="width: 150px;">{{localize "wod.labels.settings.permparadox"}}</label>
				<div>
					<input class="sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" 
						name="data.paradox.permanent" 
						type="text" 
						value="{{data.data.paradox.permanent}}"
						data-name="data.data.paradox.permanent" 
						data-dtype="Number" {{#if locked}} readonly {{/if}} />
				</div>
			</div>
		</div>

	</div>

	{{!-- Combat Tab --}}
	<div class="tab combat" data-group="secondary" data-tab="combat">

		<div class="sheet-area">
			<div class="clearareaBox">
				<div class="secondHeadlineTabs splatFont">{{localize "wod.health.soak"}}</div>
				<div class="clearareaBox">
					<div class="pullLeft settings-leftwidth">&nbsp;</div>
					<div class="pullLeft numberBox">&nbsp;</div>
					<div class="pullLeft numberBox headlineNormal">{{localize "wod.labels.bonus"}}</div>
					<div class="pullLeft settings-leftwidth centerText headlineNormal">{{localize "wod.labels.settings.usesoak"}}</div>
				</div>
				<div class="clearareaBox">
					<label for="data.data.soak.bashing" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter">{{localize "wod.health.bashing"}}</label>	
					<input class="pullLeft sheet-infoValues numberBox" type="text" value="{{data.data.soak.bashing}}" readonly />
					<input class="pullLeft sheet-infoValues numberBox inputdata {{#if (eq locked false)}}editable{{/if}}" type="text" name="data.settings.soak.bashing.bonus" value="{{data.data.settings.soak.bashing.bonus}}"
						data-source="soak"
						data-type="bashing"
						data-dtype="Number" {{#if locked}} readonly {{/if}} />
					<div class="pullLeft switch settings-leftwidth settings-verticalcenter splatFont bold centerText pointer" data-label="soak" data-switchtype="bashing" data-source="soak" data-type="{{config.sheettype.mortal}}">
						{{#if data.data.settings.soak.bashing.isrollable}}
							{{localize "wod.labels.settings.yes"}}
						{{else}}
							{{localize "wod.labels.settings.no"}}
						{{/if}}
					</div>
				</div>
				<div class="clearareaBox">
					<label for="data.data.soak.lethal" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter">{{localize "wod.health.lethal"}}</label>	
					<input class="pullLeft sheet-infoValues numberBox" type="text" value="{{data.data.soak.lethal}}" readonly />
					<input class="pullLeft sheet-infoValues numberBox inputdata {{#if (eq locked false)}}editable{{/if}}" type="text" name="data.settings.soak.lethal.bonus" value="{{data.data.settings.soak.lethal.bonus}}"
						data-source="soak"
						data-type="lethal" 
						data-dtype="Number"
						{{#if locked}} readonly {{/if}} />
					<div class="pullLeft switch settings-leftwidth settings-verticalcenter splatFont bold centerText pointer" data-label="soak" data-switchtype="lethal" data-source="soak" data-type="{{config.sheettype.mortal}}">
						{{#if data.data.settings.soak.lethal.isrollable}}
							{{localize "wod.labels.settings.yes"}}
						{{else}}
							{{localize "wod.labels.settings.no"}}
						{{/if}}
					</div>
				</div>
				<div class="clearareaBox">
					<label for="data.data.soak.aggravated" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter">{{localize "wod.health.aggravated"}}</label>	
					<input class="pullLeft sheet-infoValues numberBox" type="text" value="{{data.data.soak.aggravated}}" readonly />
					<input class="pullLeft sheet-infoValues numberBox inputdata {{#if (eq locked false)}}editable{{/if}}" type="text" name="data.settings.soak.aggravated.bonus" value="{{data.data.settings.soak.aggravated.bonus}}"
						data-source="soak"
						data-type="aggravated"
						data-dtype="Number" {{#if locked}} readonly {{/if}} />
					<div class="pullLeft switch settings-leftwidth settings-verticalcenter splatFont bold centerText pointer" data-label="soak" data-switchtype="aggravated" data-source="soak" data-type="{{config.sheettype.mortal}}">
						{{#if data.data.settings.soak.aggravated.isrollable}}
							{{localize "wod.labels.settings.yes"}}
						{{else}}
							{{localize "wod.labels.settings.no"}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		
		<div class="sheet-area">
			<div class="clearareaBox">
				<div class="secondHeadlineTabs splatFont">{{localize "wod.combat.initiative"}}</div>
				<div class="clearareaBox">
					<div class="pullLeft headlineNormal numberBox">{{localize "wod.labels.value"}}</div>
					<div class="pullLeft headlineNormal numberBox">{{localize "wod.labels.bonus"}}</div>
					<div class="pullLeft headlineNormal numberBox">{{localize "wod.labels.total"}}</div>
				</div>
				<div class="clearareaBox">
					<input class="pullLeft sheet-infoValues numberBox" type="text" value="{{data.data.initiative.base}}" readonly />
					<input class="pullLeft sheet-infoValues numberBox inputdata {{#if (eq locked false)}}editable{{/if}}" name="data.initiative.bonus" type="text" value="{{data.data.initiative.bonus}}"
						data-source="initiative"
						data-dtype="Number" {{#if locked}} readonly {{/if}} />
					<input class="pullLeft sheet-infoValues numberBox" type="text" value="{{data.data.initiative.total}}" readonly />
				</div>
			</div>
		</div>

		{{#if (ne actor.type config.sheettype.spirit)}}
		<div class="sheet-area">
			<div class="clearareaBox">
				<div class="secondHeadlineTabs splatFont">{{localize "wod.health.health"}}</div>
				<div class="clearareaBox">
					<div class="pullLeft" style="width: 150px;">&nbsp;</div>
					<div class="pullLeft headlineNormal numberBox">{{localize "wod.labels.value"}}</div>
					<div class="pullLeft headlineNormal numberBox">{{localize "wod.labels.penalty"}}</div>
				</div>

				<div class="clearareaBox">
					<label for="data.data.health.bruised.value" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter" 
						data-label="{{data.data.health.bruised.value}}" 
						data-ability="true" style="width: 150px;">{{localize "wod.health.bruised"}}</label>
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" 
						name="data.health.bruised.value" 
						type="text" 
						value="{{data.data.health.bruised.value}}" 
						data-name="data.data.health.bruised.value"
						data-dtype="Number" {{#if locked}} readonly {{/if}} />
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" 
						name="data.health.bruised.penalty" 
						type="text" 
						value="{{data.data.health.bruised.penalty}}" 
						data-name="data.data.health.bruised.penalty"
						data-dtype="Number" {{#if locked}} readonly {{/if}} />
				</div>

				<div class="clearareaBox">
					<label for="data.data.health.hurt.value" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter" 
						data-label="{{data.data.health.hurt.value}}" 
						data-ability="true" style="width: 150px;">{{localize "wod.health.hurt"}}</label>	
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.hurt.value" type="text" value="{{data.data.health.hurt.value}}" 
						data-name="data.data.health.hurt.value" {{#if locked}} readonly {{/if}} />
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.hurt.penalty" type="text" value="{{data.data.health.hurt.penalty}}" 
						data-name="data.data.health.hurt.penalty" {{#if locked}} readonly {{/if}} />
				</div>

				<div class="clearareaBox">
					<label for="data.data.health.injured.value" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter"
						data-label="{{data.data.health.injured.value}}" 
						data-ability="true" style="width: 150px;">{{localize "wod.health.injured"}}</label>
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.injured.value" type="text" value="{{data.data.health.injured.value}}" 
						data-name="data.data.health.injured.value" {{#if locked}} readonly {{/if}} />
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.injured.penalty" type="text" value="{{data.data.health.injured.penalty}}" 
						data-name="data.data.health.injured.penalty" {{#if locked}} readonly {{/if}} />
				</div>

				<div class="clearareaBox">
					<label for="data.data.health.wounded.value" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter" 
						data-label="{{data.data.health.wounded.value}}" 
						data-ability="true" style="width: 150px;">{{localize "wod.health.wounded"}}</label>
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.wounded.value" type="text" value="{{data.data.health.wounded.value}}" 
						data-name="data.data.health.wounded.value" {{#if locked}} readonly {{/if}} />
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.wounded.penalty" type="text" value="{{data.data.health.wounded.penalty}}" 
						data-name="data.data.health.wounded.penalty" {{#if locked}} readonly {{/if}} />
				</div>

				<div class="clearareaBox">
					<label for="data.data.health.mauled.value" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter" 
						data-label="{{data.data.health.mauled.value}}" 
						data-ability="true" style="width: 150px;">{{localize "wod.health.mauled"}}</label>
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.mauled.value" type="text" value="{{data.data.health.mauled.value}}" 
						data-name="data.data.health.mauled.value" {{#if locked}} readonly {{/if}} />
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.mauled.penalty" type="text" value="{{data.data.health.mauled.penalty}}" 
						data-name="data.data.health.mauled.penalty" {{#if locked}} readonly {{/if}} />
				</div>

				<div class="clearareaBox">
					<label for="data.data.health.crippled.value" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter" 
						data-label="{{data.data.health.crippled.value}}" 
						data-ability="true" style="width: 150px;">{{localize "wod.health.crippled"}}</label>
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.crippled.value" type="text" value="{{data.data.health.crippled.value}}" 
						data-name="data.data.health.crippled.value" {{#if locked}} readonly {{/if}} />
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.crippled.penalty" type="text" value="{{data.data.health.crippled.penalty}}" 
						data-name="data.data.health.crippled.penalty" {{#if locked}} readonly {{/if}} />
				</div>

				<div class="clearareaBox">
					<label for="data.data.health.incapacitated.value" class="pullLeft headlineNormal settings-leftwidth settings-verticalcenter" 
						data-label="{{data.data.health.incapacitated.value}}" 
						data-ability="true" style="width: 150px;">{{localize "wod.health.incapacitated"}}</label>
					<input class="pullLeft sheet-infoValues numberBox {{#if (eq locked false)}}editable{{/if}}" name="data.health.incapacitated.value" type="text" value="{{data.data.health.incapacitated.value}}" 
						data-name="data.data.health.incapacitated.value" {{#if locked}} readonly {{/if}} />
				</div>
			</div>
			<div class="clearareaBox information-area">
				{{localize "wod.info.settings.healthvalue"}}<br />
				{{localize "wod.info.settings.healthpenalty"}}
			</div>
		</div>
		
		{{/if}}

	</div>

	<div class="tab sheetsetting" data-group="secondary" data-tab="sheetsetting">

		<div class="sheet-area">
			<div class="clearareaBox">
				<div class="pullLeft headlineNormal settings-leftwidth">{{localize "wod.labels.settings.sheetfont"}}</div>
				<div class="pullLeft switch settings-leftwidth settings-verticalcenter bold centerText pointer splatFont" data-source="usesplatfont" data-type="{{config.sheettype.mortal}}">
					{{#if data.data.settings.usesplatfont}}
						{{localize "wod.labels.settings.yes"}}
					{{else}}
						{{localize "wod.labels.settings.no"}}
					{{/if}}
				</div>
			</div>
		</div>

	</div>

</section>