<section class="sheet-setting-body">

	<nav class="sheet-setting-tabs tabs" data-group="secondary">
		<a class="item secondHeadlineTabs" data-tab="attributes">{{localize "wod.attributes.attributes"}}</a>

		{{#if (ne actor.type config.sheettype.spirit)}}
			<a class="item secondHeadlineTabs" data-tab="abilities">{{localize "wod.abilities.abilities"}}</a>

			{{#if (eqAny actor.type config.sheettype.mortal config.sheettype.mage config.sheettype.creature)}}
				<a class="item secondHeadlineTabs" data-tab="power">{{localize "wod.tab.power"}}</a>				
			{{/if}}

			<a class="item secondHeadlineTabs" data-tab="combat">{{localize 'wod.tab.combat'}}</a>			
		{{/if}}

		<a class="item secondHeadlineTabs" data-tab="sheetsetting">{{localize 'wod.tab.sheet'}}</a>
	</nav>

	{{!-- Attribute Tab --}}
	<div class="tab attributes" data-group="secondary" data-tab="attributes">

		{{> "systems/worldofdarkness/templates/actor/parts/settings_attribute.html"}}

	</div>

	{{!-- Abilities Tab --}}
	<div class="tab abilities" data-group="secondary" data-tab="abilities">

		{{> "systems/worldofdarkness/templates/actor/parts/settings_abilities.html"}}

	</div>

	{{!-- Power Tab --}}
	<div class="tab power" data-group="secondary" data-tab="power">

		{{> "systems/worldofdarkness/templates/actor/parts/settings_power.html"}}

	</div>

	{{!-- Combat Tab --}}
	<div class="tab combat" data-group="secondary" data-tab="combat">

		{{> "systems/worldofdarkness/templates/actor/parts/settings_combat.html"}}

	</div>

	{{!-- Sheet Tab --}}
	<div class="tab sheetsetting" data-group="secondary" data-tab="sheetsetting">

		{{> "systems/worldofdarkness/templates/actor/parts/settings_sheet.html"}}

	</div>

</section>