<div class="sheet-headline sheet-banner-small splatFont"><span class="sheet-banner-text">{{localize 'wod.health.health'}}</span></div>	
<!--<div>Vänsterklick att lägga till skada, högerklick rensar aktuell ruta.</div>-->
    
<div>
    {{#if actor.system.listdata.settings.haschimericalhealth}}
        <div class="clearareaBox">
            <div class="pullLeft health-headlineWidth">&nbsp;</div>
            <div class="pullLeft headlineList splatFont">{{localize 'wod.health.normal'}}</div>
            <div class="pullRight headlineList splatFont">{{localize 'wod.health.chimerical'}}</div>
        </div>
    {{/if}}

    {{#if (gt data.system.health.bruised.total 0)}}

        <div class="clearareaBox health">
            <div class="pullLeft health-headlineWidth headlineNormal" style="text-align: left;">{{localize 'wod.health.bruised'}}</div>
            <div class="resource-counter {{#if actor.system.listdata.settings.haschimericalhealth}}pullLeft{{else}}pullRight{{/if}} healthbox" style="width: 14px;" data-name="data.system.health.bruised">
                {{#numLoop data.system.health.bruised.total}}            
                    <span class="resource-value-step" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.bruised.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
            {{#if actor.system.listdata.settings.haschimericalhealth}}
                <div class="resource-counter pullRight healthbox" style="width: 14px;" data-name="data.system.health.bruised">
                    {{#numLoop data.system.health.bruised.total}}            
                        <span class="resource-value-step" 
                            data-type="{{../config.sheettype.changeling}}" 
                            data-index="{{this}}" 
                            data-state="{{damageState ../data.system.health.bruised.label ../actor.system.listdata.chimericalhealth this}}"></span>            
                    {{/numLoop}}
                </div>
            {{/if}}
        </div>

    {{/if}}  
    
    {{#if (gt data.system.health.hurt.total 0)}}

        <div class="clearareaBox health">
            <div class="pullLeft health-headlineWidth headlineNormal" style="text-align: left;">{{localize 'wod.health.hurt'}}</div>
            <div class="resource-counter {{#if actor.system.listdata.settings.haschimericalhealth}}pullLeft{{else}}pullRight{{/if}} healthbox" style="width: 14px;" data-name="data.system.health.hurt">
                {{#numLoop data.system.health.hurt.total}}            
                    <span class="resource-value-step" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.hurt.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
            {{#if actor.system.listdata.settings.haschimericalhealth}}
                <div class="resource-counter pullRight healthbox" style="width: 14px;" data-name="data.system.health.hurt">
                    {{#numLoop data.system.health.hurt.total}}            
                        <span class="resource-value-step" 
                            data-type="{{../config.sheettype.changeling}}" 
                            data-index="{{this}}" 
                            data-state="{{damageState ../data.system.health.hurt.label ../actor.system.listdata.chimericalhealth this}}"></span>            
                    {{/numLoop}}
                </div>
            {{/if}}
        </div>

    {{/if}}

    {{#if (gt data.system.health.injured.total 0)}}

        <div class="clearareaBox health">
            <div class="pullLeft health-headlineWidth headlineNormal" style="text-align: left;">{{localize 'wod.health.injured'}}</div>
            <div class="resource-counter {{#if actor.system.listdata.settings.haschimericalhealth}}pullLeft{{else}}pullRight{{/if}} healthbox" style="width: 14px;" data-name="data.system.health.injured">
                {{#numLoop data.system.health.injured.total}}            
                    <span class="resource-value-step" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.injured.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
            {{#if actor.system.listdata.settings.haschimericalhealth}}
                <div class="resource-counter pullRight healthbox" style="width: 14px;" data-name="data.system.health.injured">
                    {{#numLoop data.system.health.injured.total}}            
                        <span class="resource-value-step" 
                            data-type="{{../config.sheettype.changeling}}" 
                            data-index="{{this}}" 
                            data-state="{{damageState ../data.system.health.injured.label ../actor.system.listdata.chimericalhealth this}}"></span>            
                    {{/numLoop}}
                </div>
            {{/if}}
        </div>

    {{/if}}

    {{#if (gt data.system.health.wounded.total 0)}}

        <div class="clearareaBox health">
            <div class="pullLeft health-headlineWidth headlineNormal" style="text-align: left;">{{localize 'wod.health.wounded'}}</div>
            <div class="resource-counter {{#if actor.system.listdata.settings.haschimericalhealth}}pullLeft{{else}}pullRight{{/if}} healthbox" style="width: 14px;" data-name="data.system.health.wounded">
                {{#numLoop data.system.health.wounded.total}}            
                    <span class="resource-value-step" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.wounded.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
            {{#if actor.system.listdata.settings.haschimericalhealth}}
                <div class="resource-counter pullRight healthbox" style="width: 14px;" data-name="data.system.health.wounded">
                    {{#numLoop data.system.health.wounded.total}}            
                        <span class="resource-value-step" 
                            data-type="{{../config.sheettype.changeling}}" 
                            data-index="{{this}}" 
                            data-state="{{damageState ../data.system.health.wounded.label ../actor.system.listdata.chimericalhealth this}}"></span>            
                    {{/numLoop}}
                </div>
            {{/if}}
        </div>

    {{/if}}

    {{#if (gt data.system.health.mauled.total 0)}}

        <div class="clearareaBox health">
            <div class="pullLeft health-headlineWidth headlineNormal" style="text-align: left;">{{localize 'wod.health.mauled'}}</div>
            <div class="resource-counter {{#if actor.system.listdata.settings.haschimericalhealth}}pullLeft{{else}}pullRight{{/if}} healthbox" style="width: 14px;" data-name="data.system.health.mauled">
                {{#numLoop data.system.health.mauled.total}}            
                    <span class="resource-value-step" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.mauled.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
            {{#if actor.system.listdata.settings.haschimericalhealth}}
                <div class="resource-counter pullRight healthbox" style="width: 14px;" data-name="data.system.health.mauled">
                    {{#numLoop data.system.health.mauled.total}}            
                        <span class="resource-value-step" 
                            data-type="{{../config.sheettype.changeling}}" 
                            data-index="{{this}}" 
                            data-state="{{damageState ../data.system.health.mauled.label ../actor.system.listdata.chimericalhealth this}}"></span>            
                    {{/numLoop}}
                </div>
            {{/if}}
        </div>

    {{/if}}

    {{#if (gt data.system.health.crippled.total 0)}}

        <div class="clearareaBox health">
            <div class="pullLeft health-headlineWidth headlineNormal" style="text-align: left;">{{localize 'wod.health.crippled'}}</div>
            <div class="resource-counter {{#if actor.system.listdata.settings.haschimericalhealth}}pullLeft{{else}}pullRight{{/if}} healthbox" style="width: 14px;" data-name="data.system.health.crippled">
                {{#numLoop data.system.health.crippled.total}}            
                    <span class="resource-value-step" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.crippled.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
            {{#if actor.system.listdata.settings.haschimericalhealth}}
                <div class="resource-counter pullRight healthbox" style="width: 14px;" data-name="data.system.health.crippled">
                    {{#numLoop data.system.health.crippled.total}}            
                        <span class="resource-value-step" 
                            data-type="{{../config.sheettype.changeling}}" 
                            data-index="{{this}}" 
                            data-state="{{damageState ../data.system.health.crippled.label ../actor.system.listdata.chimericalhealth this}}"></span>            
                    {{/numLoop}}
                </div>
            {{/if}}
        </div>

    {{/if}}

    {{#if (gt data.system.health.incapacitated.total 0)}}

        <div class="clearareaBox health">
            <div class="pullLeft health-headlineWidth headlineNormal" style="text-align: left;">{{localize 'wod.health.incapacitated'}}</div>
            <div class="resource-counter {{#if actor.system.listdata.settings.haschimericalhealth}}pullLeft{{else}}pullRight{{/if}} healthbox" style="width: 14px;" data-name="data.system.health.incapacitated">
                {{#numLoop data.system.health.incapacitated.total}}            
                    <span class="resource-value-step" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.incapacitated.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>

            {{#if actor.system.listdata.settings.haschimericalhealth}}
                <div class="resource-counter pullRight healthbox" style="width: 14px;" data-name="data.system.health.incapacitated">
                    {{#numLoop data.system.health.incapacitated.total}}            
                        <span class="resource-value-step" 
                            data-type="{{../config.sheettype.changeling}}" 
                            data-index="{{this}}" 
                            data-state="{{damageState ../data.system.health.incapacitated.label ../actor.system.listdata.chimericalhealth this}}"></span>            
                    {{/numLoop}}
                </div>
            {{/if}}
        </div>

    {{/if}}

</div>

<div class="clearareaBox information-area centerText">{{localize "wod.health.penalty"}}: {{ignorePain data.system.health.damage.woundpenalty}}</div>