<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}" data-drop-area="true">
    <i class="macroBtn pointer createicon fa-solid fa-square-plus item-create" title="{{localize "wod.labels.add.item"}}" aria-hidden="true" data-origin="core" data-action="itemCreate"></i>

    <div class="pullRight">
        <!-- Macro icons -->
        {{> "systems/worldofdarkness/templates/actor/parts/macro_icons.hbs"}}				        	
    </div>
        
    <div class="sheet-inner-area">
        <!-- Attributes -->
        <div class="sheet-area flex-columns">
            {{> "systems/worldofdarkness/templates/actor/parts/stats_attributes.hbs"}} 	
        </div>

        <!-- Abilities -->
        <div class="sheet-area flex-columns">
            {{> "systems/worldofdarkness/templates/actor/parts/stats_abilities.hbs" showheadline=true useroll=true showvalues=true showvisibleicon=false}}
        </div>

        <!-- Adventages -->
        <div class="sheet-area flex-columns">
            {{> "systems/worldofdarkness/templates/actor/parts/stats_advantages.hbs"}}
        </div>

    </div>
</section>