{{#each groupedadvantages as |groupData|}}
	{{#each groupData.items as |advantage id|}}
		<div class="sheet-boxcontainer">
			{{{getGetStatArea_v2 ../../actor advantage}}}
		</div>
	{{/each}}
{{/each}}

