<div class="sheet-headline splatFont">{{localize "wod.advantages.nightmare"}}</div>

<div class="sheet-boxcontainer">
	<div class="resource-counter" data-value="{{data.system.advantages.nightmare.temporary}}" data-name="advantages.nightmare.temporary">

		{{#numLoop data.system.advantages.nightmare.max}}
		
			{{#le ../data.system.advantages.nightmare.temporary this}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-index="{{this}}" data-state=""></span>
			{{else}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-index="{{this}}" data-state="x"></span>
			{{/le}}
		
		{{/numLoop}}
		
	</div>	
</div>