<div class="sheet-headline sheet-banner-small splatFont"><span class="sheet-banner-text">{{localize 'wod.health.health'}}</span></div>	
<!--<div>Vänsterklick att lägga till skada, högerklick rensar aktuell ruta.</div>-->

<div class="sheet-boxcontainer">
    <div>{{getInjuredLevel data.type data.system.health}}</div>
</div>
    
<div class="sheet-boxcontainer">

    {{#if (gt data.system.health.bruised.total 0)}}

        <div class="health">
            <div class="resource-counter healthbox" data-name="data.system.health.bruised">
                {{#numLoop data.system.health.bruised.total}}            
                    <span class="resource-value-step healthBox bruised" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.bruised.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
        </div>

    {{/if}}  
    
    {{#if (gt data.system.health.hurt.total 0)}}

        <div class="health">
            <div class="resource-counter healthbox" data-name="data.system.health.hurt">
                {{#numLoop data.system.health.hurt.total}}            
                    <span class="resource-value-step healthBox hurt" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.hurt.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
        </div>

    {{/if}}

    {{#if (gt data.system.health.injured.total 0)}}

        <div class="health">
            <div class="resource-counter healthbox" data-name="data.system.health.injured">
                {{#numLoop data.system.health.injured.total}}            
                    <span class="resource-value-step healthBox injured" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.injured.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
        </div>

    {{/if}}

    {{#if (gt data.system.health.wounded.total 0)}}

        <div class="health">
            <div class="resource-counter healthbox" data-name="data.system.health.wounded">
                {{#numLoop data.system.health.wounded.total}}            
                    <span class="resource-value-step healthBox wounded" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.wounded.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
        </div>

    {{/if}}

    {{#if (gt data.system.health.mauled.total 0)}}

        <div class="health">
            <div class="resource-counter healthbox" data-name="data.system.health.mauled">
                {{#numLoop data.system.health.mauled.total}}            
                    <span class="resource-value-step healthBox mauled" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.mauled.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
        </div>

    {{/if}}

    {{#if (gt data.system.health.crippled.total 0)}}

        <div class="health">
            <div class="resource-counter healthbox" data-name="data.system.health.crippled">
                {{#numLoop data.system.health.crippled.total}}            
                    <span class="resource-value-step healthBox crippled" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.crippled.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
        </div>

    {{/if}}

    {{#if (gt data.system.health.incapacitated.total 0)}}

        <div class="health">
            <div class="resource-counter healthbox" data-name="data.system.health.incapacitated">
                {{#numLoop data.system.health.incapacitated.total}}            
                    <span class="resource-value-step healthBox incapacitated" 
                        data-type="{{../config.sheettype.mortal}}" 
                        data-index="{{this}}" 
                        data-state="{{damageState ../data.system.health.incapacitated.label ../actor.system.listdata.health this}}"></span>            
                {{/numLoop}}
            </div>
        </div>

    {{/if}}
</div>
<div class="sheet-boxcontainer">
    <div class="information-area">{{localize "wod.health.penalty"}}: {{ignorePain data.system.health.damage.woundpenalty}}</div>    
</div>