<div class="sheet-headline sheet-banner-small splatFont"><span class="sheet-banner-text">{{localize "wod.advantages.bloodpool"}}</span></div>

<div class="sheet-boxcontainer">
	<div class="bloodpool resource-counter" data-value="{{data.system.advantages.bloodpool.temporary}}" data-name="advantages.bloodpool.temporary">

		{{#numLoop data.system.advantages.bloodpool.max}}
		
			{{#le ../data.system.advantages.bloodpool.temporary this}}
				<span class="bloodpool resource-value-step" data-type="{{../config.sheettype.mortal}}" data-index="{{this}}" data-state=""></span>
			{{else}}
				<span class="bloodpool resource-value-step" data-type="{{../config.sheettype.mortal}}" data-index="{{this}}" data-state="x"></span>
			{{/le}}
		
		{{/numLoop}}
		
	</div>	
</div>

<div class="information-area centerText">{{localize "wod.advantages.perturn"}}: {{data.system.advantages.bloodpool.perturn}}</div>