<div class="clearareaBox" style="display: flex;">

	<div class="pullLeft" style="width: 33%;">&nbsp;</div>
	
	<div class="pullLeft" style="width: 33%;">
	
		{{> "systems/worldofdarkness/templates/actor/parts/stats_willpower.html"}}

	</div>
	
	<div class="pullLeft healthBox" style="width: 33%;">
		
		{{> "systems/worldofdarkness/templates/actor/parts/stats_health.html"}}

		<div class="sheet-headline headlineGroup splatFont" style="width: 100%; margin-top: 25px;">
			<div class="pullLeft">{{localize 'wod.experience.experience'}}</div>
			<div class="pullRight experienceValue">{{actor.experience}}</div>
		</div>
	</div>

</div>