<div class="sheet-headline sheet-banner-small splatFont vrollable" 
	data-type="{{actor.type}}"
	data-key="gnosis"
	data-noability="true"><span class="sheet-banner-text">{{localize 'wod.advantages.gnosis'}}</span></div>

<div class="sheet-boxcontainer">
	<div class="resource-value permValueRow" data-value="{{data.system.advantages.gnosis.permanent}}" data-name="advantages.gnosis.permanent">

		{{#numLoop data.system.advantages.gnosis.max}}
		
		<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="gnosis" data-index="{{this}}"></span>
		
		{{/numLoop}}
		
	</div>
</div>

<div class="sheet-boxcontainer">
	<div class="resource-counter tempSquareRow" data-value="{{data.system.advantages.gnosis.temporary}}" data-name="advantages.gnosis.temporary">

		{{#numLoop data.system.advantages.gnosis.max}}
		
		{{#le ../data.system.advantages.gnosis.temporary this}}
		<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="gnosis" data-index="{{this}}" data-state=""></span>
		{{else}}
		<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="gnosis" data-index="{{this}}" data-state="x"></span>
		{{/le}}
		
		{{/numLoop}}
		
	</div>
</div>