<div class="sheet-headline sheet-banner-small splatFont vrollable" 
	data-type="{{actor.type}}"
	data-key="glamour"
	data-noability="true"><span class="sheet-banner-text">{{localize data.system.advantages.glamour.label}}</span></div>
	
<div class="sheet-boxcontainer">
	<div class="resource-value permValueRow" data-value="{{data.system.advantages.glamour.permanent}}" data-name="advantages.glamour.permanent">

		{{#numLoop data.system.advantages.glamour.max}}
		
			<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="glamour" data-index="{{this}}"></span>
		
		{{/numLoop}}
		
	</div>
</div>

<div class="sheet-boxcontainer">
	<div class="resource-counter tempSquareRow" data-value="{{data.system.advantages.glamour.temporary}}" data-name="advantages.glamour.temporary">

		{{#numLoop data.system.advantages.glamour.max}}
		
			{{#le ../data.system.advantages.glamour.temporary this}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="glamour" data-index="{{this}}" data-state=""></span>
			{{else}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="glamour" data-index="{{this}}" data-state="x"></span>
			{{/le}}
		
		{{/numLoop}}
		
	</div>	
</div>