<div class="sheet-headline splatFont vrollable" 
	data-type="{{actor.type}}"
	data-key="gnosis"
	data-noability="true">{{localize 'wod.advantages.gnosis'}}</div>

<div class="sheet-boxcontainer">
	<div class="resource-value permValueRow" data-value="{{data.data.gnosis.permanent}}" data-name="data.data.gnosis.permanent">

		{{#numLoop data.data.gnosis.max}}
		
		<span class="resource-value-step" data-type="{{../actor.type}}" data-key="gnosis" data-index="{{this}}"></span>
		
		{{/numLoop}}
		
	</div>
</div>

<div class="sheet-boxcontainer">
	<div class="resource-counter tempSquareRow" data-value="{{data.data.gnosis.temporary}}" data-name="data.data.gnosis.temporary">

		{{#numLoop data.data.gnosis.max}}
		
		{{#le ../data.data.gnosis.temporary this}}
		<span class="resource-value-step" data-type="{{../actor.type}}" data-key="gnosis" data-index="{{this}}" data-state=""></span>
		{{else}}
		<span class="resource-value-step" data-type="{{../actor.type}}" data-key="gnosis" data-index="{{this}}" data-state="x"></span>
		{{/le}}
		
		{{/numLoop}}
		
	</div>
</div>