<div class="sheet-headline splatFont sheet-banner-small vrollable" 
	data-type="{{actor.type}}"
	data-key="faith"
	data-noability="true"><span class="sheet-banner-text">{{localize 'wod.advantages.faith'}}</span></div>
	
<div class="sheet-boxcontainer">
	<div class="resource-value permValueRow" data-value="{{data.system.advantages.faith.permanent}}" data-name="advantages.faith.permanent">

		{{#numLoop data.system.advantages.faith.max}}
		
			<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="faith" data-index="{{this}}"></span>
		
		{{/numLoop}}
		
	</div>
</div>

<div class="sheet-boxcontainer">
	<div class="resource-counter tempSquareRow" data-value="{{data.system.advantages.faith.temporary}}" data-name="advantages.faith.temporary">

		{{#numLoop data.system.advantages.faith.max}}
		
			{{#le ../data.system.advantages.faith.temporary this}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="faith" data-index="{{this}}" data-state=""></span>
			{{else}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="faith" data-index="{{this}}" data-state="x"></span>
			{{/le}}
		
		{{/numLoop}}
		
	</div>	
</div>