<div class="sheet-headline splatFont vrollable" 
	data-type="{{config.sheettype.mortal}}"
	data-key="willpower"
	data-noability="true">{{localize 'wod.advantages.willpower'}}</div>
	
<div class="sheet-boxcontainer">
	<div class="resource-value permValueRow" data-value="{{data.system.willpower.permanent}}" data-name="data.system.willpower.permanent">

		{{#numLoop data.system.willpower.max}}
		
			<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="willpower" data-index="{{this}}"></span>
		
		{{/numLoop}}
		
	</div>
</div>

<div class="sheet-boxcontainer">
	<div class="resource-counter tempSquareRow" data-value="{{data.system.willpower.temporary}}" data-name="data.system.willpower.temporary">

		{{#numLoop data.system.willpower.max}}
		
			{{#le ../data.system.willpower.temporary this}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="willpower" data-index="{{this}}" data-state=""></span>
			{{else}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="willpower" data-index="{{this}}" data-state="x"></span>
			{{/le}}
		
		{{/numLoop}}
		
	</div>	
</div>