<div class="sheet-headline sheet-banner-small splatFont" 
	data-type="{{actor.type}}"
	data-key="torment"
	data-noability="true"><span class="sheet-banner-text">{{localize 'wod.advantages.torment'}}</span></div>
	
<div class="sheet-boxcontainer">
	<div class="resource-value permValueRow" data-value="{{data.system.advantages.torment.permanent}}" data-name="advantages.torment.permanent">

		{{#numLoop data.system.advantages.torment.max}}
		
			<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="torment" data-index="{{this}}"></span>
		
		{{/numLoop}}
		
	</div>
</div>

<div class="sheet-boxcontainer">
	<div class="resource-counter tempSquareRow" data-value="{{data.system.advantages.torment.temporary}}" data-name="advantages.torment.temporary">

		{{#numLoop data.system.advantages.torment.max}}
		
			{{#le ../data.system.advantages.torment.temporary this}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="torment" data-index="{{this}}" data-state=""></span>
			{{else}}
				<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="torment" data-index="{{this}}" data-state="x"></span>
			{{/le}}
		
		{{/numLoop}}
		
	</div>	
</div>