<div class="sheet-headline vrollable" 
		data-roll="{{data.data.willpower.roll}}" 
		data-label="{{localize data.data.willpower.label}}" 
		data-speciality1="{{#iff data.data.attributes.composure.value ">=" 4}}{{data.data.attributes.composure.speciality}}{{/iff}}" 
		data-speciality2="{{#iff data.data.attributes.resolve.value ">=" 4}}{{data.data.attributes.resolve.speciality}}{{/iff}}" 
		data-noability="true">{{localize 'wod.advantages.willpower'}}</div>
<div class="resource-value permValueRow" data-value="{{data.data.willpower.permanent}}" data-name="data.data.willpower.permanent">

	{{#numLoop data.data.willpower.max}}
	
	<span class="resource-value-step" data-index="{{this}}"></span>
	
	{{/numLoop}}
	
</div>

<div class="resource-counter tempSquareRow" data-value="{{data.data.willpower.temporary}}" data-name="data.data.willpower.temporary">
	<span class="resource-value-empty"></span>

	{{#numLoop data.data.willpower.max}}
	
	{{#le ../data.data.willpower.temporary this}}
	<span class="resource-value-step" data-index="{{this}}" data-state=""></span>
	{{else}}
	<span class="resource-value-step" data-index="{{this}}" data-state="x"></span>
	{{/le}}
	
	{{/numLoop}}
	
</div>	