<div class="sheet-headline sheet-banner-small splatFont vrollable" 
	data-type="{{config.sheettype.mortal}}"
	data-key="rage"
	data-noability="true"><span class="sheet-banner-text">{{localize 'wod.advantages.rage'}}</span></div>
		
<div class="sheet-boxcontainer">
	<div class="resource-value permValueRow" data-value="{{data.system.advantages.rage.permanent}}" data-name="advantages.rage.permanent">

		{{#numLoop data.system.advantages.rage.max}}
		
			<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="rage" data-index="{{this}}"></span>
		
		{{/numLoop}}
		
	</div>
</div>

<div class="sheet-boxcontainer">
	<div class="resource-counter tempSquareRow" data-value="{{data.system.advantages.rage.temporary}}" data-name="advantages.rage.temporary">

		{{#numLoop data.system.advantages.rage.max}}
		
		{{#le ../data.system.advantages.rage.temporary this}}
			<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="rage" data-index="{{this}}" data-state=""></span>
		{{else}}
			<span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-key="rage" data-index="{{this}}" data-state="x"></span>
		{{/le}}
		
		{{/numLoop}}
		
	</div>
</div>

{{#if (checkSystemsetting "wererwolfrageSettings")}}
	{{#if (eqAny actor.type config.sheettype.werewolf config.sheettype.changingbreed)}}
		<div class="information-area centerText">{{localize "wod.advantages.ragepenalty"}}: {{ragePenalty}}</div>
	{{/if}}
{{/if}}