<div class="infobox">
    <label class="headlineItem headlineBio splatFont">{{localize "wod.dice.roll"}}</label>
    <select class="editable" name="system.dice1">
        {{#select data.system.dice1}}
            <option value="">- {{localize "wod.labels.power.noattribute"}} -</option>

            {{#if (eq data.system.type "wod.types.charm")}}
                <option value="rage">{{localize "wod.advantages.rage"}}</option>
                <option value="gnosis">{{localize "wod.advantages.gnosis"}}</option>
                <option value="willpower">{{localize "wod.advantages.willpower"}}</option>
            {{else}}
                {{#if (eq (checkSystemsetting "attributeSettings") "5th")}}
                    
                    {{#each config.attributes as | name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/if}}

                {{#if (eq (checkSystemsetting "attributeSettings") "20th")}}
                    {{#each config.attributes20 as | name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/if}}

                <option disabled>- {{captilize (localize "wod.advantages.advantages")}} -</option>

                {{#if (eqAny data.system.type "wod.types.artpower" "wod.types.power")}}

                    <option value="glamour">{{localize "wod.advantages.glamour"}}</option>
                    <option value="nightmare">{{localize "wod.advantages.nightmare"}}</option>
                    <option value="banality">{{localize "wod.advantages.banality"}}</option>
                {{/if}}

                {{#if (eqAny data.system.type "wod.types.gift" "wod.types.rite" "wod.types.power")}}
                    <option value="rage">{{localize "wod.advantages.rage"}}</option>
                    <option value="gnosis">{{localize "wod.advantages.gnosis"}}</option>
                {{/if}}

                <option value="willpower">{{localize "wod.advantages.willpower"}}</option>

                {{#if (eqAny data.system.type "wod.types.disciplinepower" "disciplinepathpower" "wod.types.power")}}
                    <option value="path">{{localize "wod.advantages.path.headline"}}</option>
                    <option disabled>- {{captilize (localize "wod.advantages.virtue.headline")}} </option>
                    <option value="conscience">{{localize "wod.advantages.virtue.conscience"}}</option>
                    <option value="conscience">{{localize "wod.advantages.virtue.conviction"}}</option>
                    <option value="selfcontrol">{{localize "wod.advantages.virtue.selfcontrol"}}</option>
                    <option value="selfcontrol">{{localize "wod.advantages.virtue.instinct"}}</option>
                    <option value="courage">{{localize "wod.advantages.virtue.courage"}}</option>
                {{/if}}
            {{/if}}
        {{/select}}
    </select>
    + <select class="editable" name="system.dice2">
        {{#select data.system.dice2}}
            <option value="">- {{localize "wod.labels.power.noability"}} -</option>

            {{#if (ne data.system.type "wod.types.charm")}}
                <option disabled>- {{captilize (localize "wod.abilities.talents")}} -</option>

                {{#each config.talents as | name type|}}                
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}

                <option disabled>- {{captilize (localize "wod.abilities.skills")}} -</option>

                {{#each config.skills as | name type|}}
                    {{#if (ne type "technology")}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/if}}
                {{/each}}

                <option disabled>- {{captilize (localize "wod.abilities.knowledges")}} -</option>

                {{#each config.knowledges as | name type|}}
                    {{#if (ne type "research")}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/if}}
                {{/each}}

                {{#if (eqAny data.system.type "wod.types.edgepower" "wod.types.power")}}
                    <option disabled>- {{captilize (localize "wod.advantages.virtue.headline")}} -</option>
                    <option value="mercy">{{localize "wod.advantages.virtue.mercy"}}</option>
                    <option value="vision">{{localize "wod.advantages.virtue.vision"}}</option>
                    <option value="zeal">{{localize "wod.advantages.virtue.zeal"}}</option>
                {{/if}}

                {{#if (eqAny data.system.type "wod.types.disciplinepower" "disciplinepathpower" "wod.types.power")}}
                    {{#if (eq (checkSystemsetting "attributeSettings") "5th")}}
                        <option disabled>- {{captilize (localize "wod.attributes.attributes")}} -</option>
                        {{#each config.attributes as | name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/if}}

                    {{#if (eq (checkSystemsetting "attributeSettings") "20th")}}
                        <option disabled>- {{captilize (localize "wod.attributes.attributes")}} -</option>
                        {{#each config.attributes20 as | name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/if}}

                    <option value="path">{{localize "wod.advantages.path.headline"}}</option>

                    <option disabled>- {{captilize (localize "wod.advantages.virtue.headline")}} -</option>
                    <option value="conscience">{{localize "wod.advantages.virtue.conscience"}}</option>
                    <option value="conscience">{{localize "wod.advantages.virtue.conviction"}}</option>
                    <option value="selfcontrol">{{localize "wod.advantages.virtue.selfcontrol"}}</option>
                    <option value="selfcontrol">{{localize "wod.advantages.virtue.instinct"}}</option>
                    <option value="courage">{{localize "wod.advantages.virtue.courage"}}</option>
                {{/if}}
            {{/if}}
        {{/select}}
    </select>
    + <input class="sheet-infoValues numberBox editable" name="system.bonus" type="text" value="{{data.system.bonus}}" data-dtype="Number" />
      
</div>

<div class="infobox">
    <label class="headlineItem headlineBio splatFont" for="data.difficulty">{{localize "wod.labels.difficulty"}}</label>
    <select class="editable" name="system.difficulty">
        {{#select data.system.difficulty}}
            <option value="-1">- {{localize "wod.labels.varies"}} -</option>
            {{#numFromLoop config.lowestDifficulty 10}}
                <option value="{{this}}">{{this}}</option>
            {{/numFromLoop}}
        {{/select}}
    </select>
</div>
