<div class="infobox">
    <label class="headlineItem headlineBio splatFont">{{localize "wod.dice.roll"}}</label>
    <select class="editable" name="system.dice1">
        {{#select data.system.dice1}}
            <option value="">- {{localize "wod.labels.power.noattribute"}} -</option>

            {{#iff (checkSystemsetting "attributeSettings") "==" "5th"}}
                {{#each config.attributes as | name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/iff}}
            {{#iff (checkSystemsetting "attributeSettings") "==" "20th"}}
                {{#each config.attributes20 as | name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/iff}}

            <option value="rage">{{localize "wod.advantages.rage"}}</option>
            <option value="gnosis">{{localize "wod.advantages.gnosis"}}</option>
            <option value="willpower">{{localize "wod.advantages.willpower"}}</option>
            <option value="glamour">{{localize "wod.advantages.glamour"}}</option>
            <option value="nightmare">{{localize "wod.advantages.nightmare"}}</option>
            <option value="banality">{{localize "wod.advantages.banality"}}</option>
            <option value="path">{{localize "wod.advantages.path.headline"}}</option>
            <option value="conscience">{{localize "wod.advantages.virtue.conscience"}}</option>
            <option value="conscience">{{localize "wod.advantages.virtue.conviction"}}</option>
            <option value="selfcontrol">{{localize "wod.advantages.virtue.selfcontrol"}}</option>
            <option value="selfcontrol">{{localize "wod.advantages.virtue.instinct"}}</option>
            <option value="courage">{{localize "wod.advantages.virtue.courage"}}</option>
            
        {{/select}}
    </select>
    + <select class="editable" name="system.dice2">
        {{#select data.system.dice2}}
            <option value="">- {{localize "wod.labels.power.noability"}} -</option>
            {{#each config.talents as | name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{#each config.skills as | name type|}}
                {{#if (ne type "technology")}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/if}}
            {{/each}}
            {{#each config.knowledges as | name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            <option value="path">{{localize "wod.advantages.path.headline"}}</option>
            <option value="conscience">{{localize "wod.advantages.virtue.conscience"}}</option>
            <option value="conscience">{{localize "wod.advantages.virtue.conviction"}}</option>
            <option value="selfcontrol">{{localize "wod.advantages.virtue.selfcontrol"}}</option>
            <option value="selfcontrol">{{localize "wod.advantages.virtue.instinct"}}</option>
            <option value="courage">{{localize "wod.advantages.virtue.courage"}}</option>
        {{/select}}
    </select>
    + <input class="sheet-infoValues numberBox editable" name="system.bonus" type="text" value="{{data.system.bonus}}" data-dtype="Number" />
      
</div>

<div class="infobox">
    <label class="headlineItem headlineBio splatFont" for="data.difficulty">{{localize "wod.labels.difficulty"}}</label>
    <select class="editable" name="system.difficulty">
        {{#select data.system.difficulty}}
            <option value="">- {{localize "wod.labels.select"}} -</option>
            <option value="-1">- {{localize "wod.labels.varies"}} -</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        {{/select}}
    </select>  
</div>
