<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} {{getEra actor}}" autocomplete="off">

	{{!-- Creature Sheet Header --}}
	<div class="sheet-character">

		{{!-- Always visible --}}
		<header class="sheet-header">	
							
		</header>

		<!-- Sheet part -->
		<section class="sheet-body">

			<!-- Menu -->
			<div class="navigation pullLeft">
				{{#if (eq actor.limited false)}}
					<!-- Lock/Unlock -->
					{{> "systems/worldofdarkness/templates/actor/parts/profile-img.html"}}	
				{{/if}}

				<!-- Navigation -->
				{{> "systems/worldofdarkness/templates/actor/parts/navigation.html"}}
			</div>

			<div class="pullRight">
				<!-- Macro icons -->
				{{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}
			</div>

			<div class="centerText sheet-headline splatFont">
				CREATURE {{#if (ne (checkSystemsetting "viewBiotabPermission") "mini")}}{{#if (ne actor.system.settings.variant 'general')}}({{localize (getProperty config.variant.creature actor.system.settings.variant)}}){{/if}}{{/if}}
			</div>

			<!-- Bio tab -->
			<div class="tab bio sheet-inner-area" data-group="primary" data-tab="bio">

				{{~> "systems/worldofdarkness/templates/actor/parts/bio.html"}} 	

			</div>

			<!-- Core Normal -->
			<div class="tab core sheet-inner-area" data-group="primary" data-tab="core">

				<section class="sheet-spec-body">

					{{#if (ne actor.system.settings.variant 'spirit')}}
						<!-- Core Attributes -->
						<div class="sheet-area flex-columns">
							{{> "systems/worldofdarkness/templates/actor/parts/attributes.html"}} 	
						</div>

						<!-- Core Abilities -->
						<div class="sheet-area flex-columns">
							{{> "systems/worldofdarkness/templates/actor/parts/abilities.html"}}
						</div>
					{{/if}}
 
					<!-- Core Stats -->
					<div class="sheet-area flex-columns">
						{{> "systems/worldofdarkness/templates/actor/parts/creature/stats.html"}}						
					</div>

				</section>				
				
			</div>

			{{!-- Combat Tab --}}
			<div class="tab combat sheet-inner-area" data-group="primary" data-tab="combat">

				{{> "systems/worldofdarkness/templates/actor/parts/combat.html"}}

			</div>

			{{!-- Gear Tab --}}
			<div class="tab gear sheet-inner-area" data-group="primary" data-tab="gear">

				{{~> "systems/worldofdarkness/templates/actor/parts/gear.html"}}

				{{#if data.system.settings.hasgnosis}}
					{{> "systems/worldofdarkness/templates/actor/parts/werewolf/fetish.html"}}
				{{/if}}

			</div>

			{{!-- Charm Tab --}}
			<div class="tab discipline sheet-inner-area" data-group="primary" data-tab="charms">

				{{> "systems/worldofdarkness/templates/actor/parts/creature/charms.html"}}

			</div>

			{{!-- Gift Tab --}}
			<div class="tab gift sheet-inner-area" data-group="primary" data-tab="gift">

				{{> "systems/worldofdarkness/templates/actor/parts/gifts.html"}}

			</div>

			{{!-- Discipline Tab --}}
			<div class="tab discipline sheet-inner-area" data-group="primary" data-tab="discipline">

				{{> "systems/worldofdarkness/templates/actor/parts/vampire/disciplines.html"}}

			</div>

			{{!-- Power Tab --}}
			<div class="tab power sheet-inner-area" data-group="primary" data-tab="power">

				{{> "systems/worldofdarkness/templates/actor/parts/creature/power.html"}}

			</div>

			{{!-- Notes Tab --}}
			<div class="tab note sheet-inner-area" data-group="primary" data-tab="note">

				{{> "systems/worldofdarkness/templates/actor/parts/notes.html"}}

			</div>

			{{!-- Settings Tab --}}
			<div class="tab settings sheet-inner-area" data-group="primary" data-tab="settings">
			
				{{> "systems/worldofdarkness/templates/actor/parts/settings.html"}}
				
			</div>

		</section>

	</div>
		
</form>
