<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}}" autocomplete="off">

	{{!-- Creature Sheet Header --}}
	<div class="sheet-character">

		{{!-- Always visible --}}
		<header class="sheet-header">	
			
			<div class="clearareaBox">
				<div class="pullLeft">
					{{> "systems/worldofdarkness/templates/actor/parts/profile-img.html"}}	
				</div>
			</div>		

		</header>

		{{> "systems/worldofdarkness/templates/actor/parts/navigation.html"}}

	<!-- 	<nav class="sheet-tabs tabs headlineTabs" data-group="primary">
			<a class="item" data-tab="bio">{{localize 'wod.tab.bio'}}</a>
			<a class="item" data-tab="core">{{localize 'wod.tab.core'}}</a>		
			<a class="item" data-tab="settings"><i class="fa-solid fa-gear"></i></a>
		</nav> -->

		{{!-- Sheet part --}}
		<section class="sheet-body">

			{{!-- Bio Tab --}}
			<div class="tab bio" data-group="primary" data-tab="bio">

				{{~> "systems/worldofdarkness/templates/actor/parts/bio.html"}} 	

			</div>

			{{!-- Core Tab --}}
			<div class="tab core" data-group="primary" data-tab="core">

				<section class="sheet-spec-body">

					<div class="sheet-area">
						<div class="clearareaBox area-box">

							{{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}
							{{> "systems/worldofdarkness/templates/actor/parts/conditions.html"}}
							
						</div>
					</div>
				
					<div class="sheet-area">
						{{> "systems/worldofdarkness/templates/actor/parts/attributes.html"}} 	
					</div>

					<div class="sheet-area">
						{{> "systems/worldofdarkness/templates/actor/parts/abilities.html"}}
					</div>

					<div class="sheet-area">
						<div class="clearareaBox area-box">
							<div>				

								{{#if (gt actor.system.listdata.combat.naturalWeapons.length 0)}}

									<div class="sheet-area">
										<div class="clearareaBox area-box">
											
											{{> "systems/worldofdarkness/templates/actor/parts/combat_natural.html"}}
											
										</div>
									</div>

								{{/if}}

								{{#if (gt actor.system.listdata.combat.meleeWeapons.length 0)}}

									<div class="sheet-area">
										<div class="clearareaBox area-box">
											
											{{> "systems/worldofdarkness/templates/actor/parts/combat_melee.html"}}
												
										</div>
									</div>

								{{/if}}

								{{#if (gt actor.system.listdata.combat.rangedWeapons.length 0)}}

									<div class="sheet-area">
										<div class="clearareaBox area-box">
											
											{{> "systems/worldofdarkness/templates/actor/parts/combat_ranged.html"}}
												
										</div>
									</div>

								{{/if}}

								{{#if (gt actor.system.listdata.combat.armors.length 0)}}

									<div class="sheet-area">
										<div class="clearareaBox area-box">
												
											{{> "systems/worldofdarkness/templates/actor/parts/combat_armor.html"}}
											
										</div>
									</div>

								{{/if}}

							</div>
							
						</div>
					</div>

					<!-- Core Stats -->
					<div class="sheet-area">
						{{> "systems/worldofdarkness/templates/actor/parts/creature/stats.html"}}						
					</div>

				</section>				
				
			</div>

			{{!-- Gift Tab --}}
			<div class="tab gift" data-group="primary" data-tab="gift">

				{{> "systems/worldofdarkness/templates/actor/parts/gifts.html"}}

			</div>

			{{!-- Discipline Tab --}}
			<div class="tab discipline" data-group="primary" data-tab="discipline">

				{{> "systems/worldofdarkness/templates/actor/parts/vampire/disciplines.html"}}

			</div>

			{{!-- Power Tab --}}
			<div class="tab power" data-group="primary" data-tab="power">

				{{> "systems/worldofdarkness/templates/actor/parts/creature/power.html"}}

			</div>

			{{!-- Settings Tab --}}
			<div class="tab settings" data-group="primary" data-tab="settings">
			
				{{> "systems/worldofdarkness/templates/actor/parts/settings.html"}}
				
			</div>

		</section>

	</div>
		
</form>
