<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} {{getEra actor}}" autocomplete="off">

	{{!-- Demon Sheet Header --}}	
	<div class="sheet-character">				
	
		{{!-- Always visible --}}
		<header class="sheet-header">	
						
		</header>	

		{{!-- Sheet part --}}
		<section class="sheet-body">

			<!-- Menu -->
			<div class="navigation pullLeft">
				{{#if (not actor.limited)}}
					<!-- Lock/Unlock -->
					{{> "systems/worldofdarkness/templates/actor/parts/profile-img.html"}}	
				{{/if}}

				<!-- Navigation -->
				{{> "systems/worldofdarkness/templates/actor/parts/navigation.html"}}
			</div>

			<div class="pullRight">
				<!-- Macro icons -->
				{{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}
			</div>

			<div class="centerText sheet-headline splatFont">
				{{localize 'wod.games.demon'}}
			</div>	

			<!-- Bio tab -->
			<div class="tab bio sheet-inner-area" data-group="primary" data-tab="bio">

				{{~> "systems/worldofdarkness/templates/actor/parts/bio.html"}} 	

			</div>
		
			<!-- Core Normal -->
			<div class="tab core sheet-inner-area" data-group="primary" data-tab="core">

				<i class="macroBtn pointer createicon fa-solid fa-square-plus item-create" title="{{localize "wod.labels.add.item"}}" aria-hidden="true" data-itemtype="All" data-origin="core"></i>

				<!-- Core Attributes -->
				<div class="sheet-area flex-columns">
					{{> "systems/worldofdarkness/templates/actor/parts/attributes.html"}} 	
				</div>

				<!-- Core Abilities -->
				<div class="sheet-area flex-columns">
					{{> "systems/worldofdarkness/templates/actor/parts/abilities.html"}}
				</div>

				<!-- Core Stats -->
				<div class="sheet-area flex-columns">
					<div class="clearareaBox" style="display: flex;">
						<div class="sheet-boxcontainer">

							<div class="pullLeft" style="width: 33%; height: 100%; display: flex; flex-direction: column;">
						
								<!-- Virtues -->
								{{> "systems/worldofdarkness/templates/actor/parts/stats_virtue.html"}}								
								
							</div>
							
							<div class="pullLeft" style="width: 33%; min-height: 259px; display: flex; flex-direction: column;">

								{{{getGetStatArea actor actor.system.advantages.faith "faith" true true true}}}
					
								<div style="margin-top: auto; margin-bottom: auto;">
									{{{getGetStatArea actor actor.system.advantages.torment "torment" false true true}}}
								</div>

								<div style="margin-top: auto;">
									{{{getGetStatArea actor actor.system.advantages.willpower "willpower" true true true}}}
								</div>
						
							</div>
							
							<div class="pullLeft healthBox" style="width: 33%; height: 100%; display: flex; flex-direction: column;">
								
								<div style="width: 100%;">
									{{> "systems/worldofdarkness/templates/actor/parts/stats_health.html"}}
								</div>
						
								<div class="sheet-headline headlineGroup splatFont" style="margin-top: 20px;">
									<div>
										<div class="sheet-banner-small"><span class="sheet-banner-text">{{localize 'wod.experience.experience'}}</span></div>
										<div class="experienceValue">{{actor.system.listdata.experiences.experience}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>		
			</div>
			
			{{!-- Combat Tab --}}
			<div class="tab combat sheet-inner-area" data-group="primary" data-tab="combat">

				{{> "systems/worldofdarkness/templates/actor/parts/combat.html"}}

			</div>

			{{!-- Gear Tab --}}
			<div class="tab gear sheet-inner-area" data-group="primary" data-tab="gear">

				{{~> "systems/worldofdarkness/templates/actor/parts/gear.html"}}

			</div>
			
			{{!-- Lore Tab --}}
			<div class="tab lore sheet-inner-area" data-group="primary" data-tab="lore">

				<i class="macroBtn pointer createicon fa-solid fa-square-plus item-create" title="{{localize "wod.labels.add.item"}}" aria-hidden="true" data-itemtype="All" data-origin="power"></i>

				{{> "systems/worldofdarkness/templates/actor/parts/demon/lores.html"}}

			</div>

			{{!-- Power Tab --}}
			<div class="tab power sheet-inner-area" data-group="primary" data-tab="power">

				{{> "systems/worldofdarkness/templates/actor/parts/creature/power.html"}}

			</div>
			
			{{!-- Notes Tab --}}
			<div class="tab note sheet-inner-area" data-group="primary" data-tab="note">

				{{> "systems/worldofdarkness/templates/actor/parts/notes.html"}}

			</div>

			<!-- Effect Tab -->
			<div class="tab effect sheet-inner-area" data-group="primary" data-tab="effect">

				{{> "systems/worldofdarkness/templates/actor/parts/effect.html"}} 	

			</div>
			
			{{!-- Settings Tab --}}
			<div class="tab settings sheet-inner-area" data-group="primary" data-tab="settings">
			
				{{> "systems/worldofdarkness/templates/actor/parts/settings.html"}}
				
			</div>
		
		</section>
	</div>
		
</form>
