<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}}" autocomplete="off">

	{{!-- Demon Sheet Header --}}	
	<div class="sheet-character">				
	
		{{!-- Always visible --}}
		<header class="sheet-header">	
			<div class="clearareaBox">
				{{#if (eq actor.limited false)}}
					<div class="pullLeft">
						{{> "systems/worldofdarkness/templates/actor/parts/profile-img.html"}}	
					</div>
				{{/if}}
				<div class="navigation">
					{{> "systems/worldofdarkness/templates/actor/parts/navigation.html"}}
				</div>
			</div>
		</header>	

		{{!-- Sheet part --}}
		<section class="sheet-body">

			{{!-- Bio Tab --}}
			<div class="tab bio" data-group="primary" data-tab="bio">

				{{~> "systems/worldofdarkness/templates/actor/parts/bio.html"}} 	

			</div>
		
			{{!-- Core Tab --}}
			<div class="tab core" data-group="primary" data-tab="core">

				<section class="sheet-spec-body">	
					<div class="sheet-area clearareaBox">
						{{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}					
					</div>

					<!-- Core Attributes -->
					<div class="sheet-area">
						{{> "systems/worldofdarkness/templates/actor/parts/attributes.html"}} 	
					</div>

					<!-- Core Abilities -->
					<div class="sheet-area">
						{{> "systems/worldofdarkness/templates/actor/parts/abilities.html"}}
					</div>

					<!-- Core Stats -->
					<div class="sheet-area">
						<div class="clearareaBox" style="display: flex;">

							<div class="pullLeft" style="width: 33%;">

								<!-- Virtues -->
								{{> "systems/worldofdarkness/templates/actor/parts/stats_virtue.html"}}

								<!-- Forms -->
								{{> "systems/worldofdarkness/templates/actor/parts/demon/forms.html"}}

							</div>
							
							<div class="pullLeft" style="width: 33%;">

								<div class="sheet-boxcontainer">

									{{> "systems/worldofdarkness/templates/actor/parts/stats_faith.html"}}
					
									{{> "systems/worldofdarkness/templates/actor/parts/stats_torment.html"}}
						
									{{> "systems/worldofdarkness/templates/actor/parts/stats_willpower.html"}}

								</div>
						
							</div>
							
							<div class="pullLeft healthBox" style="width: 33%;">
								
								{{> "systems/worldofdarkness/templates/actor/parts/stats_health.html"}}
						
								<div class="sheet-headline headlineGroup splatFont" style="width: 100%; margin-top: 25px;">
									<div class="pullLeft">{{localize 'wod.experience.experience'}}</div>
									<div class="pullRight experienceValue">{{actor.system.listdata.experiences.experience}}</div>
								</div>
							</div>

						</div>
					</div>				
				</section>				
				
			</div>
			
			{{!-- Combat Tab --}}
			<div class="tab combat" data-group="primary" data-tab="combat">

				{{> "systems/worldofdarkness/templates/actor/parts/combat.html"}}

			</div>

			{{!-- Gear Tab --}}
			<div class="tab gear" data-group="primary" data-tab="gear">

				{{~> "systems/worldofdarkness/templates/actor/parts/gear.html"}}

			</div>
			
			{{!-- Lore Tab --}}
			<div class="tab lore" data-group="primary" data-tab="lore">

				{{> "systems/worldofdarkness/templates/actor/parts/demon/lores.html"}}

			</div>
			
			{{!-- Notes Tab --}}
			<div class="tab note" data-group="primary" data-tab="note">

				{{> "systems/worldofdarkness/templates/actor/parts/notes.html"}}

			</div>
			
			{{!-- Settings Tab --}}
			<div class="tab settings" data-group="primary" data-tab="settings">
			
				{{> "systems/worldofdarkness/templates/actor/parts/settings.html"}}
				
			</div>
		
		</section>
	</div>
		
</form>
