<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} {{getEra actor}}" autocomplete="off">

	<!-- Mage Sheet Header -->	
	<div class="sheet-character">		

		{{!-- Always visible --}}
		<header class="sheet-header">				
			
		</header>	

		<!-- Sheet part -->
		<section class="clearareaBox sheet-body">	

			<!-- Menu -->
			<div class="navigation pullLeft">
				{{#if (not actor.limited)}}
					<!-- Lock/Unlock -->
					{{> "systems/worldofdarkness/templates/actor/parts/profile-img.html"}}	
				{{/if}}

				<!-- Navigation -->
				{{> "systems/worldofdarkness/templates/actor/parts/navigation.html"}}
			</div>

			<div class="pullRight">
				<!-- Macro icons -->
				{{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}
			</div>

			<div class="centerText sheet-headline splatFont">
				{{captilize (localize "wod.games.mage")}}
			</div>	
			
			<!-- Bio Tab -->
			<div class="tab bio sheet-inner-area" data-group="primary" data-tab="bio">

				{{~> "systems/worldofdarkness/templates/actor/parts/bio.html"}} 	

			</div>			
		
			<!-- Core Tab -->
			<div class="tab core sheet-inner-area" data-group="primary" data-tab="core">
				<!-- <section class="sheet-spec-body"> -->

				<i class="macroBtn pointer createicon fa-solid fa-square-plus item-create" title="{{localize "wod.labels.add.item"}}" aria-hidden="true" data-itemtype="All" data-origin="core"></i>

				<!-- Core Attributes -->
				<div class="sheet-area flex-columns">
					{{> "systems/worldofdarkness/templates/actor/parts/attributes.html"}} 	
				</div>

				<!-- Core Abilities -->
				<div class="sheet-area flex-columns">
					{{> "systems/worldofdarkness/templates/actor/parts/abilities.html"}}
				</div>

				<!-- Core Stats -->
				<div class="sheet-area flex-columns">
					<div class="clearareaBox" style="display: flex;">
						<div class="sheet-boxcontainer">

							<div class="pullLeft {{#if (eqAny true data.system.settings.haspath data.system.settings.hasvirtue data.system.settings.hasbloodpool)}}advantageFullArea{{else}}advantageArea{{/if}}">
					
								{{> "systems/worldofdarkness/templates/actor/parts/mage/stats_arete.html"}}
	
								<div style="margin-top: auto;">
									{{{getGetStatArea actor actor.system.advantages.willpower "willpower" true true true}}}
								</div>

								{{#if data.system.settings.haspath}}
									{{{getGetStatArea actor actor.system.advantages.path "path" true true false}}}
								{{/if}}

								{{#if data.system.settings.hasvirtue}}
									{{> "systems/worldofdarkness/templates/actor/parts/stats_virtue.html"}}
								{{/if}}

								{{#if data.system.settings.hasbloodpool}}
									{{{getGetStatArea actor actor.system.advantages.bloodpool "bloodpool" false false true}}}

									<div class="information-area centerText">{{localize "wod.advantages.perturn"}}: {{data.system.advantages.bloodpool.perturn}}</div>
								{{/if}}
	
							</div>

							<div class="pullLeft" style="width: 33%; height: 100%; display: flex; flex-direction: column;">
								<div class="sheet-boxcontainer">
									<div style="width: 225px; margin: 0 auto;">
								
										{{> "systems/worldofdarkness/templates/actor/parts/mage/stats_quintessence.html"}}																		
								
									</div>
								</div>
							</div>
							
							<div class="pullLeft healthBox" style="width: 33%; height: 261px; display: flex; flex-direction: column;">
								
								<div style="width: 100%;">
									{{> "systems/worldofdarkness/templates/actor/parts/stats_health.html"}}
								</div>

								<div class="sheet-headline headlineGroup splatFont" style="margin-top: auto;">
									<div>
										<div class="sheet-banner-small"><span class="sheet-banner-text">{{localize 'wod.experience.experience'}}</span></div>
										<div class="total experienceValue">{{getTotalExperience actor "total"}}</div>
									</div>
								</div>
							</div>
						</div>					
					</div>
				</div>				
			</div>

			<!-- Magic Tab -->
			<div class="tab magic sheet-inner-area" data-group="primary" data-tab="magic">

				<i class="macroBtn pointer createicon fa-solid fa-square-plus item-create" title="{{localize "wod.labels.add.item"}}" aria-hidden="true" data-itemtype="All" data-origin="power"></i>

				{{~> "systems/worldofdarkness/templates/actor/parts/mage/magic.html"}}

			</div>

			{{!-- Power Tab --}}
			<div class="tab power sheet-inner-area" data-group="primary" data-tab="power">

				{{> "systems/worldofdarkness/templates/actor/parts/creature/power.hbs"}}

			</div>
			
			<!-- Combat Tab -->
			<div class="tab combat sheet-inner-area" data-group="primary" data-tab="combat">

				{{> "systems/worldofdarkness/templates/actor/parts/combat.html"}}

			</div>

			<!-- Gear Tab -->
			<div class="tab gear sheet-inner-area" data-group="primary" data-tab="gear">

				{{~> "systems/worldofdarkness/templates/actor/parts/gear.html"}}

			</div>

			<!-- Notes Tab -->
			<div class="tab note sheet-inner-area" data-group="primary" data-tab="note">

				{{> "systems/worldofdarkness/templates/actor/parts/notes.html"}}

			</div>

			<!-- Effect Tab -->
			<div class="tab effect sheet-inner-area" data-group="primary" data-tab="effect">

				{{> "systems/worldofdarkness/templates/actor/parts/effect.html"}} 	

			</div>
			
			<!-- Settings Tab -->
			<div class="tab settings sheet-inner-area" data-group="primary" data-tab="settings">
			
				{{> "systems/worldofdarkness/templates/actor/parts/settings.html"}}
				
			</div>
		
		</section>
	</div>
		
</form>
