<form class="{{cssClass}} flexcol" autocomplete="off">

	{{!-- Spirit Sheet Header --}}
	
	<div class="sheet-character">	
		
		<header class="sheet-header">	
			<nav class="sheet-tabs tabs headlineTabs" data-group="primary">
				<a class="item" data-tab="bio">{{localize 'wod.tab.bio'}}</a>
				<a class="item" data-tab="core">{{localize 'wod.tab.core'}}</a>			
				<a class="item" data-tab="settings"><i class="fa-solid fa-gear"></i></a>
			</nav>		
		</header>			

		{{!-- Sheet part --}}
		<section class="sheet-body">	
			
			{{!-- Bio Tab --}}
			<div class="tab bio" data-group="primary" data-tab="bio">

				{{~> "systems/worldofdarkness/templates/actor/parts/bio.html"}} 	

			</div>

			{{!-- Core Tab --}}
			<div class="tab core" data-group="primary" data-tab="core">

				<div class="clearareaBox" style="display: flex;">

					<div class="pullLeft" style="width: 100%;">

						<div class="sheet-area">    
							<div class="clearareaBox area-box" style="width: 100%; text-align: center;">

								{{> "systems/worldofdarkness/templates/actor/parts/conditions.html"}}
								{{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}
								
							</div>
						</div>

						<div class="sheet-area">
							<div class="clearareaBox area-box">
	
								<div class="pullLeft" style="width: 33%;">
								
									{{> "systems/worldofdarkness/templates/actor/parts/stats_rage.html"}}
	
								</div>
								
								<div class="pullLeft" style="width: 33%;">
							
									{{> "systems/worldofdarkness/templates/actor/parts/stats_gnosis.html"}}
							
								</div>
								
								<div class="pullLeft" style="width: 33%;">
									
									{{> "systems/worldofdarkness/templates/actor/parts/stats_willpower.html"}}
	
								</div>
							
							</div>
						</div>						

						<div class="sheet-area">
							<div class="clearareaBox" style="display: flex;">
								<div class="pullLeft" style="width: 33%;">&nbsp;</div>
								
								<div class="pullLeft" style="width: 33%;">

									{{> "systems/worldofdarkness/templates/actor/parts/stats_essence.html"}}
							
								</div>

								<div class="pullLeft" style="width: 33%;">&nbsp;</div>													
							</div>
						</div>

						<div class="sheet-area">
							{{> "systems/worldofdarkness/templates/actor/parts/spirit/charms.html"}}
							{{> "systems/worldofdarkness/templates/actor/parts/spirit/gifts.html"}}
						</div>

					</div>

				</div>

			</div>

			{{!-- Settings Tab --}}
			<div class="tab settings" data-group="primary" data-tab="settings">
			
				{{> "systems/worldofdarkness/templates/actor/parts/settings.html"}}
				
			</div>

		</section>
	</div>
		
</form>
