<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} {{getEra actor}}" autocomplete="off">

	<!-- Werewolf Sheet Header -->
	<div class="sheet-character">				
	
		{{!-- Always visible --}}
		<header class="sheet-header">				
		</header>	

		<!-- Sheet part -->
		<section class="clearareaBox sheet-body">	
			
			<!-- Menu -->
			<div class="navigation pullLeft">
				{{#if (eq actor.limited false)}}
					<!-- Lock/Unlock -->
					{{> "systems/worldofdarkness/templates/actor/parts/profile-img.html"}}	
				{{/if}}

				<!-- Navigation -->
				{{> "systems/worldofdarkness/templates/actor/parts/navigation.html"}}
			</div>

			<div class="pullRight">
				<div data-area="shapeicon">
					{{#if data.system.shapes.homid.isactive}}
						<img class="shapeIcon" src="systems/worldofdarkness/assets/img/werewolf/form/form_homid.svg" />
					{{/if}}
					{{#if data.system.shapes.glabro.isactive}}
						<img class="shapeIcon" src="systems/worldofdarkness/assets/img/werewolf/form/form_glabro.svg" />
					{{/if}}
					{{#if data.system.shapes.crinos.isactive}}
						<img class="shapeIcon" src="systems/worldofdarkness/assets/img/werewolf/form/form_crinos.svg" />
					{{/if}}
					{{#if data.system.shapes.hispo.isactive}}
						<img class="shapeIcon" src="systems/worldofdarkness/assets/img/werewolf/form/form_hispo.svg" />
					{{/if}}
					{{#if data.system.shapes.lupus.isactive}}
						<img class="shapeIcon" src="systems/worldofdarkness/assets/img/werewolf/form/form_lupus.svg" />
					{{/if}}
				</div>

				<!-- Macro icons -->
				{{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}					
			</div>

			<!-- Bio Tab -->
			<div class="tab bio sheet-inner-area" data-group="primary" data-tab="bio">

				{{~> "systems/worldofdarkness/templates/actor/parts/bio.html"}} 	

			</div>
		
			<!-- Core Tab -->
			<div class="tab core sheet-inner-area" data-group="primary" data-tab="core">

				<!-- Core Attributes -->
				<div class="sheet-area">
					{{> "systems/worldofdarkness/templates/actor/parts/attributes.html"}} 	
				</div>

				<!-- Core Abilities -->
				<div class="sheet-area">
					{{> "systems/worldofdarkness/templates/actor/parts/abilities.html"}}
				</div>

				<!-- Core Stats -->
				<div class="sheet-area">
					<div class="clearareaBox" style="display: flex;">
						<div class="sheet-boxcontainer">

							<div class="pullLeft" style="width: 33%; height: 100%; display: flex; flex-direction: column;">
						
								{{> "systems/worldofdarkness/templates/actor/parts/werewolf/stats_renown.html"}}		
								
							</div>
							
							<div class="pullLeft" style="width: 33%; height: 100%; display: flex; flex-direction: column;">
					
								<div>
									{{> "systems/worldofdarkness/templates/actor/parts/stats_rage.html"}}
								</div>
				
								<div style="margin-top: auto; margin-bottom: auto;">
									{{> "systems/worldofdarkness/templates/actor/parts/stats_gnosis.html"}}
								</div>
						
								<div style="margin-top: auto;">
									{{> "systems/worldofdarkness/templates/actor/parts/stats_willpower.html"}}
								</div>
						
							</div>
							
							<div class="pullLeft healthBox" style="width: 33%; height: 100%; display: flex; flex-direction: column;">
								
								<div style="width: 100%;">
									{{> "systems/worldofdarkness/templates/actor/parts/stats_health.html"}}
								</div>

								<div class="sheet-headline headlineGroup splatFont" style="margin-top: auto;">
									<div>
										<div class="sheet-banner-small"><span class="sheet-banner-text">{{localize 'wod.experience.experience'}}</span></div>
										<div class="experienceValue">{{actor.system.listdata.experiences.experience}}</div>
									</div>
								</div>
							</div>
						</div>					
					</div>
				</div>				
			</div>
			
			<!-- Combat Tab -->
			<div class="tab combat sheet-inner-area" data-group="primary" data-tab="combat">

				{{> "systems/worldofdarkness/templates/actor/parts/combat.html"}}

			</div>

			<!-- Gear Tab -->
			<div class="tab gear sheet-inner-area" data-group="primary" data-tab="gear">

				{{~> "systems/worldofdarkness/templates/actor/parts/gear.html"}}

				<div class="sheet-headline sheet-banner splatFont">
					<span class="sheet-banner-text">LANG: Other items</span>
				</div>

				{{> "systems/worldofdarkness/templates/actor/parts/werewolf/fetish.html"}}

			</div>

			<!-- Shapechange Tab -->
			<div class="tab shapechange sheet-inner-area" data-group="primary" data-tab="shapechange">

				{{> "systems/worldofdarkness/templates/actor/parts/werewolf/shift.html"}}

			</div>
			
			<!-- Gift Tab -->
			<div class="tab gift sheet-inner-area" data-group="primary" data-tab="gift">

				{{> "systems/worldofdarkness/templates/actor/parts/werewolf/gift.html"}}
				{{> "systems/worldofdarkness/templates/actor/parts/werewolf/rites.html"}}

			</div>
			
			<!-- Notes Tab -->
			<div class="tab note sheet-inner-area" data-group="primary" data-tab="note">

				{{> "systems/worldofdarkness/templates/actor/parts/notes.html"}}

			</div>
			
			<!-- Settings Tab -->
			<div class="tab settings sheet-inner-area" data-group="primary" data-tab="settings">
			
				{{> "systems/worldofdarkness/templates/actor/parts/settings.html"}}
				
			</div>
		
		</section>
	</div>
		
</form>
