<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} {{getEra actor}}" autocomplete="off">

	<!-- Wraith Sheet Header -->
	<div class="sheet-character">	
		
		<!-- Always visible -->
		<header class="sheet-header">		
					
		</header>	

		<!-- Sheet part -->
		<section class="sheet-body">

			<!-- Menu -->
			<div class="navigation pullLeft">
				{{#if (eq actor.limited false)}}
					<!-- Lock/Unlock -->
					{{> "systems/worldofdarkness/templates/actor/parts/profile-img.html"}}	
				{{/if}}

				<!-- Navigation -->
				{{> "systems/worldofdarkness/templates/actor/parts/navigation.html"}}
			</div>

			<div class="pullRight">
				<!-- Macro icons -->
				{{> "systems/worldofdarkness/templates/actor/parts/macro_icons.html"}}
			</div>	

			<div class="centerText sheet-headline splatFont">
				{{localize 'wod.games.wraith'}} {{#if (ne (checkSystemsetting "viewBiotabPermission") "mini")}}{{#if (ne actor.system.settings.variant 'general')}}({{localize (getProperty config.variant.wraith actor.system.settings.variant)}}){{/if}}{{/if}}
			</div>

			{{#if (ne actor.system.settings.variant 'shadow')}}				

				<!-- Bio tab -->
				<div class="tab bio sheet-inner-area" data-group="primary" data-tab="bio">

					{{~> "systems/worldofdarkness/templates/actor/parts/bio.html"}} 	

				</div>

				<!-- Core Normal -->
				<div class="tab core sheet-inner-area" data-group="primary" data-tab="core">
					
					<!-- Core Attributes -->
					<div class="sheet-area flex-columns">
						{{> "systems/worldofdarkness/templates/actor/parts/attributes.html"}} 	
					</div>

					<!-- Core Abilities -->
					<div class="sheet-area flex-columns">
						{{> "systems/worldofdarkness/templates/actor/parts/abilities.html"}}
					</div>

					<!-- Core Stats -->
					<div class="sheet-area flex-columns">
						<div class="sheet-boxcontainer clearareaBox">

							<div class="pullLeft" style="width: 33%;">

								{{> "systems/worldofdarkness/templates/actor/parts/wraith/stats_pathos.html"}}
						
							</div>

							<div class="pullLeft" style="width: 33%;">

								{{> "systems/worldofdarkness/templates/actor/parts/stats_willpower.html"}}

							</div>
							
							<div class="pullLeft" style="width: 33%;">

								{{> "systems/worldofdarkness/templates/actor/parts/wraith/stats_corpus.html"}}
								
								<div class="sheet-headline headlineGroup splatFont" style="margin-top: auto;">
									<div>
										<div class="sheet-banner-small"><span class="sheet-banner-text">{{localize 'wod.experience.experience'}}</span></div>
										<div class="experienceValue">{{actor.system.listdata.experiences.experience}}</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>

				<!-- Death Tab -->
				<div class="tab death sheet-inner-area" data-group="primary" data-tab="death">

					{{> "systems/worldofdarkness/templates/actor/parts/wraith/death.html"}}

				</div>

				{{!-- Power Tab --}}
				<div class="tab power sheet-inner-area" data-group="primary" data-tab="power">

					{{> "systems/worldofdarkness/templates/actor/parts/creature/power.html"}}

				</div>
				
				<!-- Combat Tab -->
				<div class="tab combat sheet-inner-area" data-group="primary" data-tab="combat">

					{{> "systems/worldofdarkness/templates/actor/parts/combat.html"}}

				</div>
				
				<!-- Gear Tab -->
				<div class="tab gear sheet-inner-area" data-group="primary" data-tab="gear">

					{{~> "systems/worldofdarkness/templates/actor/parts/gear.html"}}

				</div>

				<!-- Notes Tab -->
				<div class="tab note sheet-inner-area" data-group="primary" data-tab="note">

					{{> "systems/worldofdarkness/templates/actor/parts/notes.html"}}

				</div>
				
				<!-- Settings Tab -->
				<div class="tab settings sheet-inner-area" data-group="primary" data-tab="settings">
				
					{{> "systems/worldofdarkness/templates/actor/parts/settings.html"}}
					
				</div>
			{{else}}

				<!-- Core Normal -->
				<div class="tab core sheet-inner-area" data-group="primary" data-tab="core">
					
					{{> "systems/worldofdarkness/templates/actor/parts/wraith/shadow.html"}}
					
				</div>

				<!-- Settings Tab -->
				<div class="tab settings sheet-inner-area" data-group="primary" data-tab="settings">
				
					{{> "systems/worldofdarkness/templates/actor/parts/settings_sheet.html"}}
					
				</div>

			{{/if}}
		
		</section>
	</div>
		
</form>
