<div>
    <div class="area-box headlineText splatFont">{{localize proseheadline}}</div>

    <prose-mirror name="{{prosename}}" value="{{prosevalue}}" toggled="true" compact="true">
        {{{proseenriched}}}
    </prose-mirror>
</div>