<form class="{{cssClass}} {{object.sheettype}}" autocomplete="off">

    <div class="dialog-area">
        <div class="infobox headline splatFont">{{localize "wod.dialog.dicepool"}}</div>
        <div class="headlineGroup splatFont">
            {{localize "wod.info.rollsoak"}}: {{object.attributeValue}} {{#if (gt object.attributeBonus 0)}}(+{{object.attributeBonus}}){{/if}}
        </div>
    </div>
    <div class="headlineGroup splatFont">
        
    </div>

    <div class="dialog-area">
        {{#if object.useChimerical}} 
            <div class="headline splatFont">LANG: Select damage type - {{localize 'wod.health.normal'}}</div>
        {{else}}
            <div class="headline splatFont">LANG: Select damage type</div>
        {{/if}}
        <div class="infobox centerText">
            {{#each config.damageTypes as |type key|}}
                <button id="attribute" class="button fullSplatColor pointer dialog-attribute-button {{#if (eq ../object.soaktype 'normal')}}{{#if (eq ../object.damageKey key)}}active{{/if}}{{/if}}" value="{{key}}" data-type="normal">{{localize type}}</button>
            {{/each}}
        </div>
    </div>

    {{#if object.useChimerical}}   
        <div class="dialog-area">
            <div class="headline splatFont">LANG: Select damage type - {{localize 'wod.health.chimerical'}}</div>
            <div class="infobox centerText">
                {{#each config.damageTypes as |type key|}}
                    <button id="attribute" class="button fullSplatColor pointer dialog-attribute-button {{#if (eq ../object.soaktype 'chimerical')}}{{#if (eq ../object.damageKey key)}}active{{/if}}{{/if}}" value="{{key}}" data-type="chimerical">{{localize type}}</button>
                {{/each}}
            </div>
        </div>
    {{/if}}

    <div class="dialog-area">
        <div class="headline splatFont">{{localize "wod.labels.bonus.headline"}}</div>
        <div class="dialog-valueBox">
            <input class="editable" type="text" name="bonus" value="{{object.bonus}}" autofocus />
        </div>
    </div>

    <div class="dialog-area">
        <div class="headline splatFont">{{localize "wod.labels.difficulty"}}</div>
        <div class="infobox centerText">
            
            {{#numFromLoop config.lowestDifficulty 10}}
                <button id="difficulty" class="button fullSplatColor pointer dialog-difficulty-button {{#if (eq ../object.difficulty this)}}active{{/if}}" value="{{this}}" data-index="{{this}}">{{this}}</button>
            {{/numFromLoop}}
        </div>
    </div>

    <div class="centerText">
        <button id="actionButton" class="button fullSplatColor pointer actionbutton dialog-two-button">{{localize "wod.dice.roll"}}</button>
        <button id="closeButton" class="button fullSplatColor pointer closebutton dialog-two-button">{{localize "wod.dialog.close"}}</button>
    </div>

</form>