<form class="{{cssClass}} {{object.sheettype}}" autocomplete="off">

    <div class="dialog-area headlineGroup splatFont">
        {{localize "wod.info.rollsoak"}}: {{object.attributeValue}} {{#iff object.attributeBonus ">" 0}}(+{{object.attributeBonus}}){{/iff}}
    </div>

    {{#if object.useChimerical}} 
        <div class="dialog-area headline splatFont">{{localize 'wod.health.normal'}}</div>
    {{/if}}
    <div class="centerText dialog-area">
        {{#each config.damageTypes as |type key|}}
            <button id="attribute" class="button fullSplatColor pointer dialog-attribute-button {{#if (eq ../object.soaktype 'normal')}}{{#if (eq ../object.damageKey key)}}active{{/if}}{{/if}}" value="{{key}}" data-type="normal">{{localize type}}</button>
        {{/each}}
    </div>

    {{#if object.useChimerical}}   
        <div class="dialog-area headline splatFont">{{localize 'wod.health.chimerical'}}</div>
        <div class="centerText dialog-area">
            {{#each config.damageTypes as |type key|}}
                <button id="attribute" class="button fullSplatColor pointer dialog-attribute-button {{#if (eq ../object.soaktype 'chimerical')}}{{#if (eq ../object.damageKey key)}}active{{/if}}{{/if}}" value="{{key}}" data-type="chimerical">{{localize type}}</button>
            {{/each}}
        </div>
    {{/if}}

    <div class="dialog-area">
        <div class="headline splatFont">{{localize "wod.labels.bonus"}}</div>
        <div class="dialog-valueBox">
            <input type="text" name="bonus" value="{{object.bonus}}" autofocus />
        </div>
    </div>

    <div class="dialog-area headline splatFont">
        {{localize "wod.labels.difficulty"}}
    </div>

    <div class="centerText dialog-area">
        {{#numFromLoop 3 10}}
            <button id="difficulty" class="button fullSplatColor pointer dialog-difficulty-button {{#iff ../object.difficulty "==" this}}active{{/iff}}" value="{{this}}" data-index="{{this}}">{{this}}</button>
        {{/numFromLoop}}
    </div>

    <div class="centerText">
        <button id="actionButton" class="button fullSplatColor pointer actionbutton dialog-two-button">{{localize "wod.dice.roll"}}</button>
        <button id="closeButton" class="button fullSplatColor pointer closebutton dialog-two-button">{{localize "wod.dialog.close"}}</button>
    </div>

</form>