<form class="{{cssClass}} werewolfDialog" autocomplete="off">

    <div class="dialog-area">
        <div class="headlineGroup splatFont">{{localize "wod.dialog.shapechange.headline"}}</div>
    </div>

    <div class="dialog-area">
        <div class="headline splatFont">{{localize "wod.dialog.shapechange.selectshape"}}</div>
        <div class="infobox centerText">
            <button id="shape" class="button fullSplatColor dialog-shapechange-button {{#if (eq actorData.shapes.homid.isactive true)}}disabled{{else}}pointer{{/if}} {{#if (eq object.selectedShape "homid")}}active{{/if}}" value="homid" >{{localize "wod.shapes.homid"}}</button>
            <button id="shape" class="button fullSplatColor dialog-shapechange-button {{#if (eq actorData.shapes.glabro.isactive true)}}disabled{{else}}pointer{{/if}} {{#if (eq object.selectedShape "glabro")}}active{{/if}}" value="glabro" >{{localize "wod.shapes.glabro"}}</button>
            <button id="shape" class="button fullSplatColor dialog-shapechange-button {{#if (eq actorData.shapes.crinos.isactive true)}}disabled{{else}}pointer{{/if}} {{#if (eq object.selectedShape "crinos")}}active{{/if}}" value="crinos" >{{localize "wod.shapes.crinos"}}</button>
            <button id="shape" class="button fullSplatColor dialog-shapechange-button {{#if (eq actorData.shapes.hispo.isactive true)}}disabled{{else}}pointer{{/if}} {{#if (eq object.selectedShape "hispo")}}active{{/if}}" value="hispo" >{{localize "wod.shapes.hispo"}}</button>
            <button id="shape" class="button fullSplatColor dialog-shapechange-button {{#if (eq actorData.shapes.lupus.isactive true)}}disabled{{else}}pointer{{/if}} {{#if (eq object.selectedShape "lupus")}}active{{/if}}" value="lupus" >{{localize "wod.shapes.lupus"}}</button>
        </div>
    </div>

    <div class="dialog-area">
        <div class="headline splatFont">{{localize "wod.dialog.shapechange.shiftbonus"}}</div>
        <div class="dialog-valueBox">
            <input class="editable" type="text" id="shiftMod" name="shiftMod" value="0" autofocus />
        </div>
    </div>

    <div class="dialog-area">
        <div class="headline splatFont">{{localize "wod.labels.difficulty"}}</div>
        <div class="infobox centerText">
            
            {{#numFromLoop config.lowestDifficulty 10}}
                <button id="difficulty" class="button fullSplatColor pointer dialog-difficulty-button {{#if (eq ../object.difficulty this)}}active{{/if}}" value="{{this}}" data-index="{{this}}">{{this}}</button>
            {{/numFromLoop}}
        </div>
    </div>

    <div class="dialog-area">
        <div class="headline splatFont">{{localize "wod.dialog.successesrolled"}}</div>
        <div class="dialog-valueBox">
            <input type="text" value="{{object.numSuccesses}}" />
        </div>

        <div class="headline splatFont">{{localize "wod.dialog.neededsuccesses"}}</div>
        <div class="dialog-valueBox">
            <input type="text" value="{{object.successesRequired}}" />
        </div>
    </div>
        
    <div class="centerText">
        <button id="actionButton" class="button fullSplatColor pointer actionbutton dialog-two-button">{{localize "wod.dice.roll"}}</button>
        <button id="closeButton" class="button fullSplatColor pointer closebutton dialog-two-button">{{localize "wod.dialog.close"}}</button>
    </div>

</form>