<form class="{{cssClass}}" autocomplete="off">
	
	<div class="sheet-item">

		<header class="sheet-header">

			<div class="top-area">
				<div class="top-side">
					{{#if isGM}}
					<img class="profile-img pointer" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
                    {{else}}
                    <img src="{{item.img}}" />
                    {{/if}}
				</div>
				<div class="top-center top-headline centerText">
					{{item.name}}
				</div>
				<div class="top-side top-sidetext centerText">
					{{#iff data.data.type "==" "wod.types.gift"}} 
					GIFT<br />
					RANK {{data.data.level}}
					{{/iff}}

					{{#iff data.data.type "==" "wod.types.rite"}} 
					RITE<br />
					RANK {{data.data.level}}
					{{/iff}}

					{{#iff data.data.type "==" "wod.types.charm"}} 
					CHARM
					{{/iff}}

					{{#iff data.data.type "==" "wod.types.power"}} 
					POWER
					{{/iff}}
				</div>				
			</div>
			
		</header>
		
		<section class="item-body">

			{{#if isGM}}
			<div class="infobox">
				<label class="headlineItem headlineBio" for="name">{{localize "wod.bio.name"}}</label>
				<input class="sheet-infoValues item" name="name" type="text" value="{{item.name}}" data-dtype="String" />
			</div>
			{{/if}}

			<!-- type -->
			{{#if isGM}}
			<div class="infobox">
				<label class="headlineItem headlineBio" for="data.type">{{localize "wod.labels.type"}}</label>
				<select name="data.type">
					{{#select data.data.type}}
						<option value="">- {{localize "wod.labels.select"}} -</option>
						<option value="wod.types.gift">{{localize "wod.types.gift"}} (Werewolf)</option>
						<option value="wod.types.rite">{{localize "wod.types.rite"}} (Werewolf)</option>
						<option value="wod.types.charm">{{localize "wod.types.charm"}} (Spirit)</option>
						<option value="wod.types.power">{{localize "wod.types.power"}} (Creature)</option>
					{{/select}}
				</select>
			</div>
			{{/if}}

			{{#if isGM}}
				<!-- level -->
				{{#iff data.data.type "!=" "wod.types.charm"}}
					{{#iff data.data.type "!=" "wod.types.power"}}
					<div class="infobox">
						<label class="headlineItem headlineBio" for="data.level">{{localize "wod.labels.power.level"}}</label>
						<select name="data.level">
							{{#select data.data.level}}
								<option value="0">- {{localize "wod.labels.select"}} -</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							{{/select}}
						</select>
					</div>
					{{/iff}}
				{{/iff}}
			{{/if}}

			{{#if isGM}}
			<!-- dice -->
			<div class="infobox">
				<label class="headlineItem headlineBio" for="data.isrollable">{{localize "wod.labels.power.rollable"}}</label>
				<input name="data.isrollable" type="checkbox" {{#if data.data.isrollable}} checked {{/if}} />
			</div>
			{{/if}}

			{{#if data.data.isrollable}}
				{{> "systems/worldofdarkness/templates/sheets/parts/power_rollable.html"}}
			{{/if}}

			{{~> "systems/worldofdarkness/templates/sheets/parts/power_description.html"}}
			
		</section>

	</div>

</form>