<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item">

		<header class="sheet-header">
			<div class="top-area">
				<div class="top-side">
					{{#if userpermissions.changeItemImage}}
						<img class="profile-img pointer" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
					{{else}}
						<img src="{{item.img}}" />
					{{/if}}
				</div>
				<div class="top-center top-headline centerText">
					{{item.name}}
				</div>
				<div class="top-side top-sidetext centerText">
					{{#iff data.data.type "==" "wod.types.background"}} 
					BACKGROUND<br />
					COST {{data.data.level}}
					{{/iff}}

					{{#iff data.data.type "==" "wod.types.merit"}} 
					MERIT<br />
					COST {{data.data.level}}
					{{/iff}}

					{{#iff data.data.type "==" "wod.types.flaw"}} 
					FLAW<br />
					COST {{data.data.level}}
					{{/iff}}
				</div>				
			</div>
		</header>

		<section class="item-body">

			{{#if userpermissions.itemAdministrator}}
			<div class="infobox">
				<label class="headlineItem headlineBio" for="name">{{localize "wod.bio.name"}}</label>
				<input class="sheet-infoValues item" name="name" type="text" value="{{item.name}}" data-dtype="String" />
			</div>
			{{/if}}

			<!-- type -->
			{{#if userpermissions.itemAdministrator}}
			<div class="infobox">
				<label class="headlineItem headlineBio" for="data.type">{{localize "wod.labels.type"}}</label>
				<select name="data.type">
					{{#select data.data.type}}
						<option value="">- {{localize "wod.labels.select"}} -</option>
						<option value="wod.types.background">{{localize "wod.types.background"}}</option>
						<option value="wod.types.merit">{{localize "wod.types.merit"}}</option>
						<option value="wod.types.flaw">{{localize "wod.types.flaw"}}</option>
					{{/select}}
				</select>
			</div>
			{{/if}}

			<!-- level -->
			{{#if userpermissions.itemAdministrator}}
			<div class="infobox">
				<label class="headlineItem headlineBio" for="data.level">{{localize "wod.labels.power.level"}}</label>
				<select name="data.level">
					{{#select data.data.level}}
						<option value="0">- {{localize "wod.labels.select"}} -</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
					{{/select}}
				</select>
			</div>
			{{/if}}

			<!-- description -->
			<div class="infobox">
				<label class="headlineItem headlineBio" for="data.description">{{localize "wod.labels.description"}}</label>
				<textarea class="item" name="data.description" data-dtype="String">{{~data.data.description}}</textarea>
			</div>

			<!-- details -->
			<div class="infobox">
				<label class="headlineItem headlineBio" for="data.details">{{localize "wod.labels.details"}}</label>
				<textarea class="item" name="data.details" data-dtype="String">{{~data.data.details}}</textarea>
			</div>
		</section>

	</div>
</form>