<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item">

		<header class="sheet-header">
			<div class="top-area">
				<div class="top-side">
					{{#if userpermissions.changeItemImage}}
						<img class="profile-img pointer" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
					{{else}}
						<img src="{{item.img}}" />
					{{/if}}
				</div>
				<div class="top-center top-headline splatFont centerText">
					{{item.name}}
				</div>
				<div class="top-side top-sidetext centerText">
					{{#if (eq data.system.type "wod.types.background")}} 
						{{captilize (localize "wod.types.background")}}<br />
						{{captilize (localize "wod.labels.cost")}} {{data.system.level}}
					{{/if}}

					{{#if (eq data.system.type "wod.types.merit")}} 
						{{captilize (localize "wod.types.merit")}}<br />
						{{captilize (localize "wod.labels.cost")}} {{data.system.level}}
					{{/if}}

					{{#if (eq data.system.type "wod.types.flaw")}} 
						{{captilize (localize "wod.types.flaw")}}<br />
						{{captilize (localize "wod.labels.cost")}} {{data.system.level}}
					{{/if}}

					{{#if (eq data.system.type "wod.types.bloodbound")}} 
						{{captilize (localize "wod.types.bloodbound")}}<br />
						{{captilize (localize "wod.labels.rating")}} {{data.system.level}}
					{{/if}}
				</div>				
			</div>
		</header>

		<section class="item-body">

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="name">{{localize "wod.bio.name"}}</label>
				<input class="sheet-infoValues item editable" name="name" type="text" value="{{item.name}}" data-dtype="String" />
			</div>

			<!-- type -->
			{{#if userpermissions.itemAdministrator}}
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.type">{{localize "wod.labels.type"}}</label>
				<select class="sheet-infoValues item editable" name="system.type">
					{{#select data.system.type}}
						<option value="">- {{localize "wod.labels.select"}} -</option>
						<option value="wod.types.background">{{localize "wod.types.background"}}</option>
						<option value="wod.types.bloodbound">{{localize "wod.types.bloodbound"}}</option>
						<option value="wod.types.merit">{{localize "wod.types.merit"}}</option>
						<option value="wod.types.flaw">{{localize "wod.types.flaw"}}</option>
					{{/select}}
				</select>
			</div>
			{{/if}}

			<!-- level -->
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.level">{{localize "wod.labels.power.level"}}</label>
				<input class="sheet-infoValues item editable" name="system.level" type="text" value="{{data.system.level}}" />
			</div>

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.reference">{{localize "wod.labels.trait.reference"}}</label>
				<input class="sheet-infoValues item editable" name="system.reference" type="text" value="{{data.system.reference}}" />
			</div>

			<!-- description -->
			{{#if (ne data.system.type "wod.types.bloodbound")}}
				<div class="infobox">
					<label class="headlineItem headlineBio splatFont" for="data.description">{{localize "wod.labels.description"}}</label>
					<div class="clearareaBox">
						{{editor data.description target="system.description" button=true owner=owner editable=locked}}
					</div>
				</div>
			{{/if}}			

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.details">{{localize "wod.labels.details"}}</label>
				<div class="clearareaBox">
					{{editor data.details target="system.details" button=true owner=owner editable=locked}}
				</div>
			</div>
		</section>

	</div>
</form>