<form class="{{cssClass}} werewolfItem" autocomplete="off">

	<div class="sheet-item">
		<header class="sheet-header">
			<div class="top-area">
				<div class="top-side">
					{{#if userpermissions.changeItemImage}}
						<img class="profile-img pointer" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
					{{else}}
						<img src="{{item.img}}" />
					{{/if}}
				</div>
				<div class="top-center top-headline splatFont centerText">
					{{item.name}}
				</div>
				<div class="top-side top-sidetext centerText">
					{{#iff data.data.type "==" "wod.types.fetish"}} 
						{{captilize (localize "wod.types.fetish")}}
					{{/iff}}
					{{#iff data.data.type "==" "wod.types.talen"}} 
						{{captilize (localize "wod.types.talen")}}
					{{/iff}}
				</div>				
			</div>
		</header>
		
		<section class="item-body">

			{{#if userpermissions.itemAdministrator}}
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="name">{{localize "wod.bio.name"}}</label>
				<input class="sheet-infoValues item editable" name="name" type="text" value="{{item.name}}" data-dtype="String" />
			</div>
			{{/if}}

			<!-- type -->
			{{#if userpermissions.itemAdministrator}}
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.type">{{localize "wod.labels.type"}}</label>
				<select class="editable" name="data.type">
					{{#select data.data.type}}
						<option value="">- {{localize "wod.labels.select"}} -</option>
						<option value="wod.types.talen">{{localize "wod.types.talen"}}</option>
						<option value="wod.types.fetish">{{localize "wod.types.fetish"}}</option>
					{{/select}}
				</select>
			</div>
			{{/if}}

			{{#iff data.data.type "==" "wod.types.fetish"}}
			<!-- level -->
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.level">{{localize "wod.labels.power.level"}}</label>
				<select class="editable" name="data.level">
					{{#select data.data.level}}
						<option value="0">- {{localize "wod.labels.select"}} -</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					{{/select}}
				</select>
			</div>
			{{else}}
				<input type="hidden" name="data.level" value="1" />
			{{/iff}}

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.difficulty">{{localize "wod.labels.difficulty"}}</label>
				<select class="numberBox editable" name="data.difficulty">
					{{#select data.data.difficulty}}
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					{{/select}}
				</select>
			</div>

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.gnosis">{{localize "wod.advantages.gnosis"}}</label>
				<input class="sheet-infoValues miniBox editable" name="data.gnosis" type="text" value="{{data.data.gnosis}}" data-dtype="Number" />
			</div>

			<!-- description -->
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.description">{{localize "wod.labels.description"}}</label>
				<textarea class="item editable" name="data.description" data-dtype="String">{{~data.data.description}}</textarea>
			</div>

			<!-- details -->
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.details">{{localize "wod.labels.details"}}</label>
				<textarea class="item editable" name="data.details" data-dtype="String">{{~data.data.details}}</textarea>
			</div>

		</section>

	</div>
</form>