<form class="{{cssClass}} {{sheettype}}" autocomplete="off">

	<div class="sheet-item">
		<header class="sheet-header">
			<div class="top-area">
				<div class="top-side">
					{{#if userpermissions.changeItemImage}}
						<img class="profile-img pointer" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
					{{else}}
						<img src="{{item.img}}" />
					{{/if}}
				</div>
				<div class="top-center top-headline splatFont centerText">
					{{item.name}}
				</div>
				<div class="top-side top-sidetext centerText">
                    {{#if (eq data.system.type "wod.types.treasure")}} 
                        {{captilize (localize "wod.types.treasure")}}<br />
                        {{captilize (localize "wod.labels.level")}} {{data.system.level}}
                    {{/if}}
				</div>				
			</div>
		</header>
		
		<section class="item-body">

            <div class="infobox">
                <label class="headlineItem headlineBio splatFont" for="name">{{localize "wod.bio.name"}}</label>
                <input class="sheet-infoValues item editable" name="name" type="text" value="{{item.name}}" data-dtype="String" />
            </div>

			
			{{#if userpermissions.itemAdministrator}}
             <!-- type -->
                <div class="infobox">
                    <label class="headlineItem headlineBio splatFont" for="system.type">{{localize "wod.labels.type"}}</label>
                    <select class="editable" name="system.type">
                        {{#select data.system.type}}
                            <option value="">- {{localize "wod.labels.select"}} -</option>
                            <option value="wod.types.treasure">{{localize "wod.types.treasure"}} (Changeling)</option>
                        {{/select}}
                    </select>
                </div>
			{{/if}}

			{{#if (eq data.system.type "wod.types.treasure")}}
			    <!-- level -->
                <div class="infobox">
                    <label class="headlineItem headlineBio splatFont" for="data.level">{{localize "wod.labels.power.level"}}</label>
                    <select class="editable" name="system.level">
                        {{#select data.system.level}}
                            <option value="0">- {{localize "wod.labels.select"}} -</option>
                            {{#numFromLoop 1 5}}
                            <option value="{{this}}">{{this}}</option>
                            {{/numFromLoop}}
                        {{/select}}
                    </select>
                </div>
			{{/if}}

            <div class="infobox">
                <label class="headlineItem headlineBio splatFont" for="data.isrollable">{{localize "wod.labels.power.rollable"}}</label>
                <input name="system.isrollable" type="checkbox" {{#if data.system.isrollable}}checked{{/if}} />
            </div>

            {{#if data.system.isrollable}}
				{{> "systems/worldofdarkness/templates/sheets/parts/power_rollable.html"}}
			{{/if}}

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.reference">{{localize "wod.labels.trait.reference"}}</label>
				<input class="sheet-infoValues item editable" name="system.reference" type="text" value="{{data.system.reference}}" />
			</div>

            <!-- description -->
            <div class="infobox">
                <label class="headlineItem headlineBio splatFont" for="data.description">{{localize "wod.labels.description"}}</label>
                <div class="clearareaBox">
                    {{editor data.description target="system.description" button=false owner=owner editable=false}}
                </div>
            </div>

            <!-- details -->
            <div class="infobox">
                <label class="headlineItem headlineBio splatFont" for="data.system">{{localize "wod.labels.details"}}</label>
                <div class="clearareaBox">
                    {{editor data.details target="system.details" button=false owner=owner editable=false}}
                </div>
            </div>

		</section>

	</div>
</form>