<form class="{{cssClass}} {{sheettype}}" autocomplete="off">

	<div class="sheet-item">

		<header class="sheet-header">
			<div class="top-area">
				<div class="clearareaBox top-side">
					<div class="pullLeft" style="display: flex;">

						{{#if userpermissions.changeItemImage}}
							<img class="profile-img pointer" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
						{{else}}
							<img src="{{item.img}}" />
						{{/if}}
					</div>

					<div class="pullLeft" style="display: flex; width: 200px;">

						<div class="area-box">

							<div class="top-sidetext">
								{{#if (eq data.system.type "wod.types.treasure")}} 
									{{captilize (localize "wod.types.treasure")}} - {{captilize (localize "wod.labels.level")}} {{data.system.level}}
								{{/if}}
							</div>

							<div class="bioInformationArea floating-label-group">
								<input class="sheet-infoValues editable" name="name" type="text" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
								<span class="floating-label">{{localize 'wod.bio.name'}}</span>
							</div>													
						</div>	
					</div>

					<div class="pullRight" style="width: auto;">
						{{> "systems/worldofdarkness/templates/actor/parts/profile-img.html"}}		
					</div>
				</div>				
			</div>			
		</header>

		<section class="item-body">

			<div class="dialog-area">
			
				{{#if userpermissions.itemAdministrator}}
					<!-- type -->
					<div class="infobox bioInformationArea floating-label-group">
						<select class="sheet-infoValues editable" name="system.type" data-dtype="String">
							{{#select data.system.type}}
								<option value="">- {{localize "wod.labels.select"}} -</option>
								<optgroup label="Changeling">
									<option value="wod.types.treasure">{{localize "wod.types.treasure"}} (Changeling)</option>
								</optgroup>
								<optgroup label="Mage">
									<option value="wod.types.device">{{localize 'wod.gear.device'}} (Mage)</option>
									<option value="wod.types.talisman">{{localize 'wod.gear.talisman'}} (Mage)</option>
									<option value="wod.types.periapt">{{localize 'wod.gear.periapt'}} (Mage)</option>
									<option value="wod.types.matrix">{{localize 'wod.gear.matrix'}} (Mage)</option>
									<option value="wod.types.trinket">{{localize 'wod.gear.trinket'}} (Mage)</option>
								</optgroup>
							{{/select}}
						</select>
						<span class="floating-label">{{localize "wod.labels.type"}}</span>
					</div>	
				{{/if}}

				<!-- level -->
				<div class="infobox bioInformationArea floating-label-group">
					<select class="sheet-infoValues editable" name="system.level" data-dtype="String">
						{{#select data.system.level}}
							<option value="0">- {{localize "wod.labels.select"}} -</option>
							{{#numFromLoop 1 5}}
								<option value="{{this}}">{{this}}</option>
							{{/numFromLoop}}
						{{/select}}
					</select>
					<span class="floating-label">{{localize "wod.labels.power.level"}}</span>
				</div>	

				<div class="infobox bioInformationArea floating-label-group">
					<input class="sheet-infoValues editable" name="system.reference" type="text" value="{{data.system.reference}}" data-dtype="String" autocomplete="off" autofocus required />
					<span class="floating-label">{{localize "wod.labels.trait.reference"}}</span>
				</div>

				{{#if (eqAny data.system.type "wod.types.periapt" "wod.types.matrix")}}
					<div class="clearareaBox">
						<div class="headlineItem headlineBio splatFont">{{localize "wod.advantages.quintessence"}}</div>
					</div>
			
					<div class="infobox clearareaBox">
						<div class="pullLeft" style="margin-right: 10px;">
							<div class="infobox bioInformationArea floating-label-group">
								<input class="sheet-infoValues smallbox editable" name="system.container.value" type="text" value="{{data.system.container.value}}" data-dtype="Number" autocomplete="off" autofocus required />
								<span class="floating-label">{{localize "wod.labels.value"}}</span>
							</div>
						</div>

						<div class="pullLeft">
							<div class="infobox bioInformationArea floating-label-group">
								<input class="sheet-infoValues smallbox editable" name="system.container.max" type="text" value="{{data.system.container.max}}" data-dtype="Number" autocomplete="off" autofocus required />
								<span class="floating-label">{{localize "wod.labels.maxvalue"}}</span>
							</div>
						</div>
					</div>
				{{/if}}

			</div>

			{{#if (eqAnyNot data.system.type "wod.types.periapt" "wod.types.matrix")}}
				<div class="dialog-area">

					<div class="infobox">
						<label class="headlineItem headlineBio splatFont" for="data.isrollable">{{localize "wod.labels.power.rollable"}}</label>
						<input name="system.isrollable" type="checkbox" {{isChecked data.system.isrollable}} />
					</div>

					{{#if data.system.isrollable}}
						{{> "systems/worldofdarkness/templates/sheets/parts/power_rollable.html"}}
					{{/if}}
				</div>
			{{/if}}

            <!-- description -->
			<div class="dialog-area">
				<div class="clearareaBox">
					<div class="headlineItem headlineBio splatFont">{{localize "wod.labels.description"}}</div>
				</div>
				<div class="infobox">

					{{#if locked}}
						<div class="headlineNormal textarea">{{{data.system.description}}}</div>					
					{{else}}
						{{editor actor.system.description target="system.description" button=false owner=owner editable=true}}
					{{/if}}
				</div>
			</div>

			<!-- system -->
			<div class="dialog-area">
				<div class="clearareaBox">
					<div class="headlineItem headlineBio splatFont">{{localize "wod.labels.power.system"}}</div>
				</div>
				<div class="infobox">

					{{#if locked}}
						<div class="headlineNormal textarea">{{{data.system.details}}}</div>					
					{{else}}
						{{editor actor.system.details target="system.details" button=false owner=owner editable=true}}
					{{/if}}
				</div>
			</div>

		</section>

	</div>
</form>