	<form class="{{cssClass}} {{sheettype}}" autocomplete="off">

	<div class="sheet-item">

		<header class="sheet-header">
			<div class="top-area">
				<div class="clearareaBox top-side">
					<div class="pullLeft" style="display: flex;">

						{{#if userpermissions.changeItemImage}}
							<img class="profile-img pointer" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
						{{else}}
							<img src="{{item.img}}" />
						{{/if}}
					</div>

					<div class="pullLeft" style="display: flex; width: 200px;">

						<div class="area-box">

							<div class="bioInformationArea top-sidetext">
								{{#if data.system.isnatural}} 
									{{captilize (localize "wod.types.naturalweapon")}}
								{{else}}
									{{captilize (localize "wod.types.meleeweapon")}}
								{{/if}}
							</div>

							<div class="bioInformationArea floating-label-group">
								<input class="sheet-infoValues editable" name="name" type="text" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
								<span class="floating-label">{{localize 'wod.bio.name'}}</span>
							</div>													
						</div>	
					</div>

					<div class="pullRight" style="width: auto;">
						{{> "systems/worldofdarkness/templates/actor/parts/profile-img.html"}}		
					</div>
				</div>				
			</div>			
		</header>

		<section class="item-body">

			<div class="dialog-area">

				<div class="infobox bioInformationArea floating-label-group">
					<select class="sheet-infoValues editable" name="system.era">
						{{#select data.system.era}}
							{{#each config.era as | name type|}}
								<option value="{{name}}">{{localize name}}</option>
							{{/each}}						
						{{/select}}
					</select>
					<span class="floating-label">{{localize 'wod.settings.era.headline'}}</span>
				</div>

				<div class="infobox bioInformationArea floating-label-group">
					<input class="sheet-infoValues editable" name="system.reference" type="text" value="{{data.system.reference}}" data-dtype="String" autocomplete="off" autofocus required />
					<span class="floating-label">{{localize "wod.labels.trait.reference"}}</span>
				</div>

				{{#if (eq data.system.isnatural false)}}
					<div class="infobox bioInformationArea floating-label-group">
						<select class="sheet-infoValues editable" name="system.conceal">
							{{#select data.system.conceal}}
								<option value="">- {{localize "wod.labels.select"}} -</option>
								<option value="P">{{translateConceal "P" data.system.era true}}</option>
								<option value="J">{{translateConceal "J" data.system.era true}}</option>
								<option value="T">{{translateConceal "T" data.system.era true}}</option>
								<option value="NA">{{translateConceal "NA" data.system.era true}}</option>					
							{{/select}}
						</select>
						<span class="floating-label">{{localize "wod.combat.weapon.conceal.conceal"}}</span>
					</div>
				{{/if}}

				{{#if (eq data.system.era "wod.era.darkages")}}

					<div class="infobox">
						<div class="bioInformationArea floating-label-group">
							<input class="sheet-infoValues editable" name="system.minstrength" type="text" value="{{data.system.minstrength}}" data-dtype="Number" autocomplete="off" autofocus required />
							<span class="floating-label">{{localize "wod.combat.weapon.minstrenght"}}</span>
						</div>
					</div>

					<div class="infobox">
						<div class="bioInformationArea floating-label-group">
							<input class="sheet-infoValues editable" name="system.piercing" type="text" value="{{data.system.piercing}}" data-dtype="Number" autocomplete="off" autofocus required />
							<span class="floating-label">{{localize "wod.combat.weapon.armorpiercing"}}</span>
						</div>
					</div>

				{{/if}}

				<!-- 2-handed true/false -->
				<div class="infobox">
					<label class="headlineItem headlineBio splatFont" for="data.istwohanded">{{localize "wod.combat.weapon.twohanded"}}</label>
					<input name="system.istwohanded" type="checkbox" {{isChecked data.system.istwohanded}}></input>
				</div>

				{{#if userpermissions.itemAdministrator}}
					<!-- natural true/false -->
					<div class="infobox">
						<label class="headlineItem headlineBio splatFont" for="data.isnatural">{{localize "wod.combat.weapon.natural"}}</label>
						<input name="system.isnatural" type="checkbox" {{isChecked data.system.isnatural}}></input>
					</div>
				{{/if}}

			</div>

			<div class="dialog-area">

				{{#if userpermissions.itemAdministrator}}
					<div class="infobox">
						<label class="headlineItem headlineBio splatFont" for="data.attack.isrollable">{{localize "wod.dice.rollattack"}}</label>
						<input name="system.attack.isrollable" type="checkbox" {{isChecked data.system.attack.isrollable}} />
					</div>
				{{/if}}

				{{#if data.system.attack.isrollable}}
					<div class="infobox clearareaBox">
						<div class="pullLeft" style="margin-right: 10px;">
							<div class="bioInformationArea floating-label-group">
								<select class="sheet-infoValues smallbox editable" name="system.attack.attribute">
									{{#select data.system.attack.attribute}}
										<option value="">- {{localize "wod.labels.select"}} -</option>
										{{#each config.attackAttributes as | name type|}}
											<option value="{{type}}">{{localize name}}</option>
										{{/each}}						
									{{/select}}
								</select>
								<span class="floating-label">{{localize "wod.combat.weapon.attribute"}}</span>
							</div>	
						</div>				

						<div class="pullLeft">
							<div class="bioInformationArea floating-label-group">
								<select class="sheet-infoValues smallbox editable" name="system.attack.ability">
									{{#select data.system.attack.ability}}
										<option value="">- {{localize "wod.labels.select"}} -</option>
										<option value="custom">- {{localize "wod.labels.custom"}} -</option>
										{{#each config.attackMeleeAbilities as | name type|}}
											<option value="{{type}}">{{localize name}}</option>
										{{/each}}
									{{/select}}
								</select>
								<span class="floating-label">{{localize "wod.combat.weapon.ability"}}</span>
							</div>	
						</div>				
					</div>

					<div class="infobox">
						<div class="bioInformationArea floating-label-group">
							<input class="sheet-infoValues smallbox editable" name="system.attack.accuracy" type="text" value="{{data.system.attack.accuracy}}" data-dtype="Number" autocomplete="off" autofocus required />
							<span class="floating-label">{{localize "wod.combat.weapon.accuracy"}}</span>
						</div>
					</div>

					<div class="infobox">
						<div class="bioInformationArea floating-label-group">
							<select class="sheet-infoValues smallbox editable" name="system.difficulty">
								{{#select data.system.difficulty}}
									<option value="-1">- {{localize "wod.labels.varies"}} -</option>
									{{#numFromLoop config.lowestDifficulty 10}}
										<option value="{{this}}">{{this}}</option>
									{{/numFromLoop}}
								{{/select}}
							</select>
							<span class="floating-label">{{localize "wod.labels.difficulty"}}</span>
						</div>					
					</div>
				{{/if}}

			</div>

			<div class="dialog-area">

				{{#if userpermissions.itemAdministrator}}
					<div class="infobox">
						<label class="headlineItem headlineBio splatFont" for="data.damage.isrollable">{{localize "wod.dice.rolldamage"}}</label>
						<input name="system.damage.isrollable" type="checkbox" {{isChecked data.system.damage.isrollable}} />
					</div>
				{{/if}}

				{{#if data.system.damage.isrollable}}
					<div class="infobox clearareaBox">
						<div class="pullLeft" style="margin-right: 10px;">
							<div class="bioInformationArea floating-label-group">
								<select class="sheet-infoValues smallbox editable" name="system.damage.attribute">
									{{#select data.system.damage.attribute}}
										<option value="">- {{localize "wod.labels.none"}} -</option>
										<option value="strength">{{localize "wod.attributes.strength"}}</option>
									{{/select}}
								</select>
								<span class="floating-label">{{localize "wod.combat.weapon.attribute"}}</span>
							</div>	
						</div>				
					
						<div class="pullLeft" style="margin-right: 10px;">
							<div class="bioInformationArea floating-label-group">
								<input class="sheet-infoValues smallbox editable" name="system.damage.bonus" type="text" value="{{data.system.damage.bonus}}" data-dtype="Number" autocomplete="off" autofocus required />
								<span class="floating-label">{{localize "wod.labels.bonus.headline"}}</span>
							</div>
						</div>
					
						<div class="pullLeft">
							<div class="bioInformationArea floating-label-group">
								<select class="sheet-infoValues smallbox editable" name="system.damage.type">
									{{#select data.system.damage.type}}
									<option value="">- {{localize "wod.labels.select"}} -</option>
										{{#each config.damageTypes as | name type|}}
											<option value="{{type}}">{{localize name}}</option>
										{{/each}}
									{{/select}}
								</select>
								<span class="floating-label">{{localize "wod.labels.damagetype"}}</span>
							</div>	
						</div>				
					</div>
				{{/if}}

			</div>

			<!-- description -->
			<div class="dialog-area">
				<div class="clearareaBox">
					<div class="headlineItem headlineBio splatFont">{{localize "wod.labels.description"}}</div>
				</div>
				<div class="infobox">

					{{#if locked}}
						<div class="headlineNormal textarea">{{{data.system.description}}}</div>					
					{{else}}
						{{editor actor.system.description target="system.description" button=false owner=owner editable=true}}
					{{/if}}
				</div>
			</div>

		</section>

	</div>
</form>