<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img src="{{item.img}}" /> 
		<!--<img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />-->

		<input type="hidden" name="img" value="systems/worldofdarkness/assets/img/items/power.svg" />

		<div class="clearareaBox">
			<div>
				<label class="headlineItem headlineBio" for="name">{{localize "wod.bio.name"}}</label>
				<div class="pullLeft">
					<input class="sheet-infoValues" name="name" type="text" value="{{item.name}}" data-dtype="String" />
				</div>
			</div>
		</div>
	</header>
	
	<section>
		<!-- type -->
		<div>
			<label class="headlineItem headlineBio" for="data.type">{{localize "wod.labels.type"}}</label>
			<div>
				<select name="data.type">
					{{#select data.data.type}}
						<option value="">- {{localize "wod.labels.select"}} -</option>
						<option value="wod.types.gift">{{localize "wod.types.gift"}}</option>
						<option value="wod.types.rite">{{localize "wod.types.rite"}}</option>
					{{/select}}
				</select>
			</div>
		</div>

		<!-- level -->
		<div>
			<label class="headlineItem headlineBio" for="data.level">{{localize "wod.labels.power.level"}}</label>
			<div>
				<select name="data.level">
					{{#select data.data.level}}
						<option value="0">- {{localize "wod.labels.select"}} -</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					{{/select}}
				</select>
			</div>
		</div>

		<!-- dice -->
		<div>
			<div class="pullLeft">
				<select name="data.dice1">
					{{#select data.data.dice1}}
						<option value="">- {{localize "wod.labels.power.noattribute"}} -</option>
						{{#each config.attributes as | name type|}}
						<option value="{{type}}">{{localize name}}</option>
						{{/each}}
						<option value="rage">{{localize "wod.advantages.rage"}}</option>
						<option value="gnosis">{{localize "wod.advantages.gnosis"}}</option>
						<option value="willpower">{{localize "wod.advantages.willpower"}}</option>
						
					{{/select}}
				</select>
			</div>
		</div>

		<div>
			<div class="pullLeft">
				<select name="data.dice2">
					{{#select data.data.dice2}}
						<option value="">- {{localize "wod.labels.power.noability"}} -</option>
						{{#each config.talents as | name type|}}
						<option value="{{type}}">{{localize name}}</option>
						{{/each}}
						{{#each config.skills as | name type|}}
						<option value="{{type}}">{{localize name}}</option>
						{{/each}}
						{{#each config.knowledges as | name type|}}
						<option value="{{type}}">{{localize name}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
		</div>

		<div>
			<div class="pullLeft">
				<select name="data.difficulty">
					{{#select data.data.difficulty}}
						<option value="">- {{localize "wod.labels.difficulty"}} -</option>
						<option value="-1">- {{localize "wod.labels.power.varies"}} -</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					{{/select}}
				</select>
			</div>
		</div>

		<div class="clearareaBox">
			<div>
				<input name="data.rollable" type="checkbox" {{#if data.data.rollable}} checked {{/if}}>{{localize "wod.labels.power.rollable"}}</input>
			</div>
		</div>

		<div class="clearareaBox">
			<div>
				<label class="headlineItem headlineBio" for="data.combat">{{localize "wod.labels.power.combat"}}</label>
				<input name="data.combat" type="checkbox" {{#if data.data.combat}} checked {{/if}}></input>
			</div>
		</div>

		<!-- description -->
		<div class="clearareaBox">
			<div>
				<label class="headlineItem headlineBio" for="data.description">{{localize "wod.labels.description"}}</label>
				<textarea name="data.description" data-dtype="String">{{data.data.description}}</textarea>
			</div>
		</div>

		<!-- system -->
		<div class="clearareaBox">
			<div>
				<label class="headlineItem headlineBio" for="data.system">{{localize "wod.labels.power.system"}}</label>
				<textarea name="data.system" data-dtype="String">{{data.data.system}}</textarea>
			</div>
		</div>
	</section>

</form>