<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item rangedweapons">
		<header class="sheet-header">
			<div class="top-area">
				<div class="top-side">
					{{#if userpermissions.changeItemImage}}
						<img class="profile-img pointer" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
					{{else}}
						<img src="{{item.img}}" />
					{{/if}}
				</div>
				<div class="top-center top-headline splatFont centerText">
					{{item.name}}
				</div>
				<div class="top-side top-sidetext centerText">
					{{captilize (localize "wod.types.rangedweapon")}}
				</div>				
			</div>
		</header>

		<section class="item-body">

			{{#if userpermissions.itemAdministrator}}
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="name">{{localize "wod.bio.name"}}</label>
				<input class="sheet-infoValues item editable" name="name" type="text" value="{{item.name}}" data-dtype="String" />
			</div>
			{{/if}}

			{{#if userpermissions.itemAdministrator}}
			<!-- data.attack -->
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.attack.isrollable">{{localize "wod.dice.rollattack"}}</label>
				<input name="data.attack.isrollable" type="checkbox" {{#if data.system.attack.isrollable}} checked {{/if}} />
			</div>
			{{/if}}

			{{#if data.system.attack.isrollable}}
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.attack.attribute">{{localize "wod.combat.weapon.attribute"}}</label>
				<select class="item editable" name="data.attack.attribute">
					{{#select data.system.attack.attribute}}
					<option value="">- {{localize "wod.labels.select"}} -</option>
					{{#each config.attackAttributes as | name type|}}
					<option value="{{type}}">{{localize name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.attack.ability">{{localize "wod.combat.weapon.ability"}}</label>
				<select class="item editable" name="data.attack.ability">
					{{#select data.system.attack.ability}}
					<option value="">- {{localize "wod.labels.select"}} -</option>
					{{#each config.attackRangedAbilities as | name type|}}
					<option value="{{type}}">{{localize name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.attack.accuracy">{{localize "wod.combat.weapon.accuracy"}}</label>
				<input class="sheet-infoValues miniBox editable" name="data.attack.accuracy" type="text" value="{{data.system.attack.accuracy}}" data-dtype="Number" />
			</div>

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.difficulty">{{localize "wod.labels.difficulty"}}</label>
				<select name="data.difficulty" class="numberBox editable">
					{{#select data.system.difficulty}}
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					{{/select}}
				</select>
			</div>
			{{/if}}

			{{#if userpermissions.itemAdministrator}}
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.damage.isrollable">{{localize "wod.dice.rolldamage"}}</label>
				<input name="data.damage.isrollable" type="checkbox" {{#if data.system.damage.isrollable}} checked {{/if}} />
			</div>
			{{/if}}

			{{#if data.system.damage.isrollable}}
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.damage.attribute">{{localize "wod.combat.weapon.damage"}}</label>
				<div>
					<select class="editable" name="data.damage.attribute">
						{{#select data.system.damage.attribute}}
						<option value="">- {{localize "wod.labels.none"}} -</option>
						<option value="strength">{{localize "wod.attributes.strength"}}</option>
						{{/select}}
					</select>
					&nbsp;+&nbsp;
					<input class="sheet-infoValues numberBox editable" name="data.damage.bonus" type="text" value="{{data.system.damage.bonus}}" data-dtype="Number" />
					<select class="editable" name="data.damage.type">
						{{#select data.system.damage.type}}
						<option value="">- {{localize "wod.labels.select"}} -</option>
						{{#each config.damageTypes as | name type|}}
						<option value="{{type}}">{{localize name}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
			{{/if}}

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.range">{{localize "wod.combat.weapon.range"}}</label>
				<input class="sheet-infoValues numberBox editable" name="data.range" type="text" value="{{data.system.range}}" data-dtype="Number" />
			</div>

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.rate">{{localize "wod.combat.weapon.rate"}}</label>
				<input class="sheet-infoValues numberBox editable" name="data.rate" type="text" value="{{data.system.rate}}" data-dtype="Number" />
			</div>

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.clip.max">{{localize "wod.combat.weapon.clip"}}</label>
				<input class="sheet-infoValues numberBox editable" name="data.clip.max" type="text" value="{{data.system.clip.max}}" data-dtype="Number" />
			</div>

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.mode">{{localize "wod.combat.mode.mode"}}</label>
				<div>
					<input name="data.mode.hasreload" type="checkbox" {{#if data.system.mode.hasreload}} checked {{/if}}>{{localize "wod.combat.mode.reload"}}</input>
					<input name="data.mode.hasburst" type="checkbox" {{#if data.system.mode.hasburst}} checked {{/if}}>{{localize "wod.combat.mode.burst"}}</input>
					<input name="data.mode.hasfullauto" type="checkbox" {{#if data.system.mode.hasfullauto}} checked {{/if}}>{{localize "wod.combat.mode.fullauto"}}</input>
					<input name="data.mode.hasspray" type="checkbox" {{#if data.system.mode.hasspray}} checked {{/if}}>{{localize "wod.combat.mode.spray"}}</input>
				</div>
			</div>

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.conceal">{{localize "wod.combat.weapon.conceal.conceal"}}</label>
				<select class="editable" name="data.conceal">
					{{#select data.system.conceal}}
					<option value="">- {{localize "wod.labels.select"}} -</option>
					<option value="P">{{localize "wod.combat.weapon.conceal.pocket"}}</option>
					<option value="J">{{localize "wod.combat.weapon.conceal.jacket"}}</option>
					<option value="T">{{localize "wod.combat.weapon.conceal.trenchcoat"}}</option>
					<option value="NA">{{localize "wod.combat.weapon.conceal.na"}}</option>
					{{/select}}
				</select>
			</div>

			<!-- 2-handed true/false -->
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.istwohanded">{{localize "wod.combat.weapon.twohanded"}}</label>
				<input name="data.istwohanded" type="checkbox" {{#if data.system.istwohanded}} checked {{/if}}></input>
			</div>

			<!-- description -->
			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="data.description">{{localize "wod.labels.description"}}</label>
				<textarea class="item editable" name="data.description" data-dtype="String">{{~data.system.description}}</textarea>
			</div>

		</section>
	</div>
</form>