<form class="{{cssClass}} mageItem" autocomplete="off">

    {{#iff data.data.settings.created "==" false}}
	<input type="hidden" name="img" value="systems/worldofdarkness/assets/img/items/rote.svg" />
	{{/iff}}

	<input type="checkbox" name="data.settings.created" checked style="display:none;" />

	<div class="sheet-item">

		<header class="sheet-header">

			<div class="top-area">
				<div class="top-side">
                    <img src="{{item.img}}" />
				</div>
				<div class="top-center top-headline centerText">
					{{item.name}}
				</div>
				<div class="top-side top-sidetext centerText">
					ROTE
				</div>				
			</div>
			
		</header>
		
		<section class="item-body">

			<div class="infobox">
				<label class="headlineItem item-label" for="name">{{localize "wod.bio.name"}}</label>
				<input class="sheet-infoValues item" name="name" type="text" value="{{item.name}}" data-dtype="String" />
			</div>

			<div class="infobox">
                <label class="headlineItem item-label" for="data.instrument.personalized">{{localize "wod.dialog.aretecasting.instrumentperson"}}</label>
                <input name="data.instrument.personalized" type="checkbox" {{#if data.data.instrument.personalized}} checked {{/if}}></input>
			</div>

            <div class="infobox">
                <label class="headlineItem item-label" for="data.instrument.unique">{{localize "wod.dialog.aretecasting.instrumentunique"}}</label>
                <input name="data.instrument.unique" type="checkbox" {{#if data.data.instrument.unique}} checked {{/if}}></input>
			</div>

            <div class="infobox">
				<label class="headlineItem item-label" for="data.spendingtime">{{localize "wod.dialog.aretecasting.timeextra"}}</label>
				<select name="data.spendingtime">
					{{#select data.data.spendingtime}}
                    <option value="0">0</option>
					<option value="-1">-1</option>
					<option value="-2">-2</option>
                    <option value="-3">-3</option>
					{{/select}}
				</select>
			</div>

            <div class="infobox">
				<label class="headlineItem item-label" for="data.spelltype">{{localize "wod.dialog.aretecasting.castingtype"}}</label>
				<select name="data.spelltype">
					{{#select data.data.spelltype}}
                    <option value="">- {{localize "wod.labels.varies"}} -</option>
					<option value="coincidental">{{localize "wod.spheres.coincidental"}}</option>
					<option value="vulgar">{{localize "wod.spheres.vulgar"}}</option>
					{{/select}}
				</select>
			</div>

            <div class="item-area">
                <div class="infobox top-sidetext item-info">{{localize "wod.info.items.spheres"}}</div>
            
                <!-- Spheres -->
                <div class="infobox">
                    <label for="data.correspondence" class="headlineItem headlineBio">{{localize "wod.spheres.correspondence"}}</label>
                    <div class="resource-value" data-value="{{data.correspondence}}" data-name="data.spheres.correspondence">
                        <span class="resource-value-empty"></span>

                        {{#numLoop 5}}
                            
                        {{#iff ../data.data.correspondence ">" this}}
                        <span class="resource-value-step active" data-index="{{this}}"></span>
                        {{else}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/iff}}
                            
                        {{/numLoop}}
                            
                    </div>
                </div>

                <div class="infobox">
                    <label for="data.spheres.entropy" class="headlineItem headlineBio">{{localize "wod.spheres.entropy"}}</label>
                    <div class="resource-value" data-value="{{data.entropy}}" data-name="data.spheres.entropy">
                        <span class="resource-value-empty"></span>

                        {{#numLoop 5}}
                            
                        {{#iff ../data.data.entropy ">" this}}
                        <span class="resource-value-step active" data-index="{{this}}"></span>
                        {{else}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/iff}}
                            
                        {{/numLoop}}
                            
                    </div>
                </div>

                <div class="infobox">
                    <label for="data.spheres.forces" class="headlineItem headlineBio">{{localize "wod.spheres.forces"}}</label>
                    <div class="resource-value" data-value="{{data.forces}}" data-name="data.spheres.forces">
                        <span class="resource-value-empty"></span>

                        {{#numLoop 5}}
                            
                        {{#iff ../data.data.forces ">" this}}
                        <span class="resource-value-step active" data-index="{{this}}"></span>
                        {{else}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/iff}}
                            
                        {{/numLoop}}
                            
                    </div>
                </div>

                <div class="infobox">
                    <label for="data.spheres.life" class="headlineItem headlineBio">{{localize "wod.spheres.life"}}</label>
                    <div class="resource-value" data-value="{{data.life}}" data-name="data.spheres.life">
                        <span class="resource-value-empty"></span>

                        {{#numLoop 5}}
                            
                        {{#iff ../data.data.life ">" this}}
                        <span class="resource-value-step active" data-index="{{this}}"></span>
                        {{else}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/iff}}
                            
                        {{/numLoop}}
                            
                    </div>
                </div>

                <div class="infobox">
                    <label for="data.spheres.matter" class="headlineItem headlineBio">{{localize "wod.spheres.matter"}}</label>
                    <div class="resource-value" data-value="{{data.matter}}" data-name="data.spheres.matter">
                        <span class="resource-value-empty"></span>

                        {{#numLoop 5}}
                            
                        {{#iff ../data.data.matter ">" this}}
                        <span class="resource-value-step active" data-index="{{this}}"></span>
                        {{else}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/iff}}
                            
                        {{/numLoop}}
                            
                    </div>
                </div>

                <div class="infobox">
                    <label for="data.spheres.mind" class="headlineItem headlineBio">{{localize "wod.spheres.mind"}}</label>
                    <div class="resource-value" data-value="{{data.mind}}" data-name="data.spheres.mind">
                        <span class="resource-value-empty"></span>

                        {{#numLoop 5}}
                            
                        {{#iff ../data.data.mind ">" this}}
                        <span class="resource-value-step active" data-index="{{this}}"></span>
                        {{else}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/iff}}
                            
                        {{/numLoop}}
                            
                    </div>
                </div>

                <div class="infobox">
                    <label for="data.spheres.prime" class="headlineItem headlineBio">{{localize "wod.spheres.prime"}}</label>
                    <div class="resource-value" data-value="{{data.prime}}" data-name="data.spheres.prime">
                        <span class="resource-value-empty"></span>

                        {{#numLoop 5}}
                            
                        {{#iff ../data.data.prime ">" this}}
                        <span class="resource-value-step active" data-index="{{this}}"></span>
                        {{else}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/iff}}
                            
                        {{/numLoop}}
                            
                    </div>
                </div>

                <div class="infobox">
                    <label for="data.spheres.spirit" class="headlineItem headlineBio">{{localize "wod.spheres.spirit"}}</label>
                    <div class="resource-value" data-value="{{data.spirit}}" data-name="data.spheres.spirit">
                        <span class="resource-value-empty"></span>

                        {{#numLoop 5}}
                            
                        {{#iff ../data.data.spirit ">" this}}
                        <span class="resource-value-step active" data-index="{{this}}"></span>
                        {{else}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/iff}}
                            
                        {{/numLoop}}
                            
                    </div>
                </div>

                <div class="infobox">
                    <label for="data.spheres.time" class="headlineItem headlineBio">{{localize "wod.spheres.time"}}</label>
                    <div class="resource-value" data-value="{{data.time}}" data-name="data.spheres.time">
                        <span class="resource-value-empty"></span>

                        {{#numLoop 5}}
                            
                        {{#iff ../data.data.time ">" this}}
                        <span class="resource-value-step active" data-index="{{this}}"></span>
                        {{else}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/iff}}
                            
                        {{/numLoop}}
                            
                    </div>
                </div>
            </div>

            <!-- description -->
            <div class="infobox">
                <label class="headlineItem headlineBio" for="data.description">{{localize "wod.labels.description"}}</label>
                <textarea class="item" name="data.description" data-dtype="String">{{~data.data.description}}</textarea>
            </div>

		</section>

	</div>

</form>