<form class="{{cssClass}} {{sheettype}}" autocomplete="off">

	<div class="sheet-item">

		<header class="sheet-header">
			<div class="top-area">
				<div class="top-center top-headline splatFont centerText">
					{{item.name}}
				</div>
			</div>
		</header>

		<section class="item-body">

			<input class="sheet-infoValues item editable" name="system.label" type="hidden" value="{{item.name}}" data-dtype="String" />

			<div class="infobox">
				<label class="headlineItem headlineBio splatFont" for="name">{{localize "wod.bio.name"}}</label>
				<input class="sheet-infoValues item editable" name="name" type="text" value="{{item.name}}" data-dtype="String" />
			</div>            

			<!-- type -->
			{{#if userpermissions.itemAdministrator}}
				<div class="infobox">
					<label class="headlineItem headlineBio splatFont" for="data.type">{{localize "wod.labels.type"}}</label>
					<select class="sheet-infoValues item editable" name="system.type">
						{{#select data.system.type}}
							<option value="">- {{localize "wod.labels.select"}} -</option>
							<option value="wod.types.talentsecondability">{{localize "wod.types.talentsecondability"}}</option>
							<option value="wod.types.skillsecondability">{{localize "wod.types.skillsecondability"}}</option>
							<option value="wod.types.knowledgesecondability">{{localize "wod.types.knowledgesecondability"}}</option>
							<option value="wod.types.realm">{{localize "wod.types.realm"}}</option>
							<option value="wod.types.resonance">{{localize "wod.types.resonance"}}</option>
							<option value="wod.types.othertraits">{{localize "wod.types.othertraits"}}</option>
						{{/select}}
					</select>
				</div>
			{{/if}}

			<!-- if weapon -->
			{{#if (eqAny data.system.type "wod.types.talentsecondability" "wod.types.skillsecondability" "wod.types.knowledgesecondability")}}
				<div class="infobox comboboxRow">
					<label class="headlineItem headlineBio splatFont" for="data.ismeleeweapon">{{localize "wod.labels.trait.meleeweapon"}}</label>
					<input name="system.ismeleeweapon" type="checkbox" {{#if data.system.ismeleeweapon}} checked {{/if}} />
				</div>

				<div class="infobox comboboxRow">
					<label class="headlineItem headlineBio splatFont" for="data.israngedeweapon">{{localize "wod.labels.trait.rangedweapon"}}</label>
					<input name="system.israngedeweapon" type="checkbox" {{#if data.system.israngedeweapon}} checked {{/if}} />
				</div>
			{{/if}}

			

			{{#if (eq data.system.type "wod.types.othertraits")}}

				<div class="infobox">
					<label class="headlineItem headlineBio splatFont" for="data.isrollable">{{localize "wod.labels.power.rollable"}}</label>
					<input name="system.isrollable" type="checkbox" {{#if data.system.isrollable}} checked {{/if}} />
				</div>

				{{#if data.system.isrollable}}
					{{> "systems/worldofdarkness/templates/sheets/parts/power_rollable.html"}}
				{{/if}}

				<div class="infobox">
					<label class="headlineItem headlineBio splatFont" for="data.reference">{{localize "wod.labels.trait.reference"}}</label>
					<input class="sheet-infoValues item editable" name="system.reference" type="text" value="{{data.system.reference}}" />
				</div>

				<!-- description -->
				<div class="infobox">
					<label class="headlineItem headlineBio splatFont" for="data.description">{{localize "wod.labels.description"}}</label>
					<div class="clearareaBox">
						{{editor data.description target="system.description" button=false owner=owner editable=true}}
					</div>
				</div>

				<!-- system -->
				<div class="infobox">
					<label class="headlineItem headlineBio splatFont" for="data.system">{{localize "wod.labels.power.system"}}</label>
					<div class="clearareaBox">
						{{editor data.details target="system.details" button=false owner=owner editable=true}}
					</div>
				</div>

			{{else}}

				<div class="infobox">
					<label class="headlineItem headlineBio splatFont" for="data.reference">{{localize "wod.labels.trait.reference"}}</label>
					<input class="sheet-infoValues item editable" name="system.reference" type="text" value="{{data.system.reference}}" />
				</div>

			{{/if}}
			
		</section>

	</div>
</form>